
{% extends "layout-3.html" %}

{% block pageTitle %}
Your payment plan is set up
{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">

      {% if data['paymentOptions']=='ddFixedChoice'%}
      <h1 class="govuk-panel__title">
        Your payment plan has been changed
      </h1>
      <!-- <div class="govuk-panel__body">

        You will be sent confirmation of this agreement within 3 working days or no later than 10 working days before the first payment

      </div> -->
      {% else %}

      <h1 class="govuk-panel__title">
        Your payment was successful and your plan is set up
      </h1>
      <div class="govuk-panel__body">

        You will be sent confirmation of this agreement within 3 working days or no later than 10 working days before the first payment

      </div>
      {% endif %}

    </div>


    <h2 class="govuk-heading-m  ">Plan summary</h2>


    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total amount owed
          </dt>
          <dd class="govuk-summary-list__value">
            £750.00
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plan type
          </dt>
          <dd class="govuk-summary-list__value">
            Monthly flexible payments
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="edit-dd-flex">Change<span class="govuk-visually-hidden"> Monthly flexible payments</span></a> -->
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m govuk-!-padding-top-7 ">Payment details</h2>


        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Monthly target
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['new-dd-amount'] | currency }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="edit-dd-flex">Change<span class="govuk-visually-hidden"> Monthly target</span></a> -->
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected number of payments
          </dt>
          <dd class="govuk-summary-list__value">
            <script>
              function divide(num) { return num.toFixed(2); }

              var  num1 = 750;

              var num2 = {{ data['new-dd-amount'] }};

              var  result = Math.floor(num1 / num2);
              document.write(result);
            </script>
            <br>
          (if monthly target  is met each month)




          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected final payment
          </dt>
          <dd class="govuk-summary-list__value">

            <script>
              var  num1 = 750.00;
              var num2 = {{ data['new-dd-amount'] }};
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>

          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>



      </dl>
      <p id="currentMonthYear" class="govuk-!-font-weight-bold">You must pay at least
{{ data['new-dd-amount'] | currency }}
        every calendar month.


      </p>

<p>
      If you do not pay enough each month, your payment plan will be cancelled. We will then take further action which could include contacting your employer or a debt collection agency.</p>





  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <p class="govuk-heading-m ">Reviewing your repayments
</p>
  <p> We may contact you in the future to review your  payments and will send you a notification with further details.

<p></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p><a id="feedback" href="#" target="_blank">What did you think of this service? (opens in new tab)</a></p>

<br>



  <!-- <p><a href="#">What did you think of this service? (opens in new tab)</a></p> -->

  <p><a href="/v48/account-home-flex-payment-monthly-changed.html" class="govuk-button">Go to Account home</a></p>



  <!-- <p class="govuk-body">
  <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p> -->



</div>
</div>

{% endblock %}
