{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          David Jones
        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to pay: <span class="total-amount">
          &pound;500.00

        </span>



      </div>


    </div>




    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half">


  			 <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Direct Debit payment plan</h2>

  					   <div class="scenario-inner-panel">

<!--
                 <div id="green-banner" class="alert-green">
                         <p> A payment of £10.00 was taken from your account on 02 November 2023</p>
                       </div> -->



                 <table class="govuk-table">

                <tbody class="govuk-table__body">


                 <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Monthly payment</th>
                  <td class="govuk-table__cell">


                   &pound;10.00
                  </td>
                 </tr>


                 <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Payments remaining</th>
                  <td class="govuk-table__cell">



                  300


                  </td>
                  </tr>



                  <!-- <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Expected end of debt</th>
                  <td class="govuk-table__cell">



                      January 2023



                  </td>
                  </tr> -->






                </tbody>
                </table>




<p>Make sure you have enough money in your account to cover your next payment.</p>

<span><a href="XLddPlan2" class="secondary-invert">View or manage your plan</a></span>

  					  <span><a href="startAdditional" class="secondary-invert">Make an additional payment</a></span>





  					   </div>
  				   </div>










  		  </div>


  		<div class="govuk-grid-column-one-half">



  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Summary</h2>


  					   <div class="scenario-inner-panel">


                 <div id="green-banner" class="alert-green">
<p> <strong>You have 1 payment pending</strong></p>
                         <p> Payments can take 2 to 5 working days to clear and update your balance.</p>
                       </div>


  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">


  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Payments made</th>
  									<td class="govuk-table__cell">


  								   0
  									</td>
  								 </tr>


  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total amount repaid</th>
  									<td class="govuk-table__cell">



  								  &pound;0.00


  									</td>
  								  </tr>



  								  <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Expected final payment</th>
  									<td class="govuk-table__cell">



                      <script>
                        var  num1 = 500.00;
                        var num2 = 10;
                        var x = Math.floor(num1 / num2); //or whatever offset
                        var CurrentDate = new Date();
                        console.log("Current date:", CurrentDate);
                        CurrentDate.setMonth(CurrentDate.getMonth() + x);
                         document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                      </script>



  									</td>
  								  </tr>






  								</tbody>
  							  </table>



  					   <span><a href="payment-history-one-payment-zero" class="secondary-invert mt10">View your payment history</a></span>


  		  </div>
  			  </div>






  		</div>


  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">What you owe</h2>

  					   <div class="scenario-inner-panel">
  						<p>Details of the money you owe to DWP.</p>


  					   <span><a href="debtBreakdownList2" class="secondary-invert dash-spacer">View details of what you owe</a></span>
  					   </div>
  				   </div>




  		  </div>







  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
  						<p>Get help if you're struggling to pay and find<br>out what to do next.</p>

  					   <span><a href="helpSupportDDplan" class="secondary-invert">Get help and support</a></span>
  					   </div>
  				   </div>




  		  </div>



  		</div>




  	  </div>
    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
