
{% extends "layout-3.html" %}

{% block pageTitle %}
Help and support
{% endblock %}

{% block beforeContent %}

<main class="govuk-width-container">
<nav class="dwp-language-toggle" aria-label="Language toggle">
<ul class="dwp-language-toggle__list">
  <li class="dwp-language-toggle__list-item" aria-current="true">
    English
  </li>
  <li class="dwp-language-toggle__list-item">
    <a href="#"
      hreflang="cy"
      lang="cy"
      rel="alternate"
      class="govuk-link"
      aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
  </li>
</ul>
</nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
	  <main class="govuk-main-wrapper">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-three-quarters">

	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Help and support </h1>

			<div class="govuk-body">


	<p>You can contact DWP Debt Management for general help and support and to discuss your payment options.</p>

	<h2 class="govuk-heading-m">Help with using the service</h2>

     <ul class="govuk-list">
       <li>Telephone: 0800 158 5519</li>
	   <li>Textphone: 0800 916 0651</li>
       <li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
     </ul>

    <h2 class="govuk-heading-m">Help with payments</h2>
	<ul class="govuk-list">
	    <li>Telephone: 0800 169 0343</li>
        <li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
	</ul>

     <p class="govuk-body">
       <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges (opens in new tab)</a>
     </p>

    <h2 class="govuk-heading-m">Further advice</h2>

    <p>If you would like independent advice, you can contact:</p>

    <ul class="govuk-list govuk-list--bullet">
       <li>
         <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.moneyhelper.org.uk/">MoneyHelper (opens in new tab)</a>
       </li>
       <li>
         <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.citizensadvice.org.uk/">Citizens Advice (opens in new tab)</a>
       </li>
       <li>
         <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/civil-legal-advice">Civil Legal Advice (opens in new tab)</a>
       </li>
       <li>
         <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.stepchange.org/">StepChange Debt Charity (opens in new tab)</a>
       </li>
     </ul>

    </div>
    </div>

</div>
</main>
</div>

{% endblock %}
