{% extends "layout-3.html" %}

{% block pageTitle %}
  The amount you have left over
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
      {% set totalspending = data['spending-debt']|float + data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
      {% set balance = totalIncome-totalspending %}

      {% set enteredAmount = data['new-affordable-amount-v2'] %}
      {% set differenceBetween = 65-enteredAmount %}
      {% set newAmount = enteredAmount+differenceBetween %}

      {% set balancewithEnteredAmount = balance + enteredAmount %}

      {% set nagativebalance = totalIncome-totalspending %}
      {% set balance = totalIncome-totalspending %}



      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments</span>
 Summary </h1>
 <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

 <!-- <h2 class="govuk-heading-l">
  Income and spending </h2> -->

       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key" style="width:50% !important;">
             Total income
           </dt>
           <dd class="govuk-summary-list__value" style="width:30%; !important">
             {{ totalIncome|currency }}
                    </dd>
           <dd class="govuk-summary-list__actions" style="width:20%; !important">
             <a class="govuk-link" href="income-changed">Change<span class="govuk-visually-hidden"> name</span></a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key" style="width:50%; !important">
               Total spending
           </dt>
           <dd class="govuk-summary-list__value" style="width:30%; !important">


             {{ totalspending|currency}}


            </dd>
           <dd class="govuk-summary-list__actions" style="width:20%; !important">
             <a class="govuk-link" href="spending-changed">Change<span class="govuk-visually-hidden"> date of birth</span></a>
           </dd>
         </div>


       </dl>
<!-- 
{% if balance == 0 %}
<p class="govuk-!-font-size-24" style="padding:0px; margin:0px;">        Including your current repayment rate of £65.00, your spending is the same as your income each month.
</p>
{% else %}
       {% if balance > 0 %}
       <p class="govuk-!-font-size-24" style="padding:0px; margin:0px;">        Including your current repayment rate of £65.00, you have {{ balance|currency}} left over each month.
      </p>
 {% set newBalance = 0 %}
      <ul wiid="N1248" class="govuk-list govuk-list--bullet">
      <li wiid="N1261">at a repayment rate of £65.00, you would  {{ balance |currency }}  left over</li>
      <li wiid="N1261">If you changed your repayment rate to {{data['new-affordable-amount-v2']|currency}} you would have {{ 95 |currency}} left over.

      </ul> 
       {% else %}
       {% set newBalance = totalspending-totalIncome %}
       <p class="govuk-!-font-size-24" style="padding:0px; margin:0px;">     Including your current repayment rate of £65.00, your spending is {{ newBalance|currency}} more than your income each month.
       </p> -->

       <!-- <p>Based on what you told us:</p>
       <ul wiid="N1248" class="govuk-list govuk-list--bullet">
         <li wiid="N1261">at a repayment rate of £65.00, you would not have any money left over. </li>
       <li wiid="N1261">If you changed your repayment rate to {{data['new-affordable-amount-v2']|currency}} you would have {{ -5 |currency}} (minus) left over.

       </ul> -->

<!-- <p><b>Option 2</b></p><br>
       <p>Based on what you told us:</p>
       <ul wiid="N1248" class="govuk-list govuk-list--bullet">
       <li wiid="N1261">at a repayment rate of £65.00, you would not have any money left over </li>
       <li wiid="N1261">If you changed your repayment rate to {{data['new-affordable-amount-v2']|currency}} you would have (minus) {{ nagativebalance|currency}}   left over


        </li>

       </ul> -->
       {% endif %}

 {% endif %}

 

<!--
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50% !important;">
            Total income
          </dt>
          <dd class="govuk-summary-list__value" style="width:30%; !important">
            {% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
            {{ totalIncome|currency }}
                   </dd>
          <dd class="govuk-summary-list__actions" style="width:20%; !important">
            <a class="govuk-link" href="income-changed">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:50%; !important">
              Total spending
          </dt>
          <dd class="govuk-summary-list__value" style="width:30%; !important">


            {% set totalspending = data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
            {{ totalspending|currency}}



           </dd>
          <dd class="govuk-summary-list__actions" style="width:20%; !important">
            <a class="govuk-link" href="spending-changed">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>


      </dl>


       <input type="hidden" id="left-over-income" name="left-over-income"  />

<p >Amount left over
<span class="govuk-heading-l"> {% set balance = totalIncome-totalspending %}
{{ balance|currency}} (minus)



</span>
</p> -->
 <!-- <p class="govuk-heading-m">Total amount left over </p>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Amount left over after spending
    </dt>
    <dd class="govuk-summary-list__value">
      {{ balance|currency}}
             </dd>

  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Current monthly repayment
    </dt>
    <dd class="govuk-summary-list__value">
      £65.00
             </dd>

  </div>
  <br>
  <p >Total amount left over
  <span class="govuk-heading-l"> {% set balance = balance+65 %}
{{ balance|currency}}
</dl>

<p> -->

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Are your income and spending totals correct?
        </h1>
      </legend>
      <div id="changedName-hint" class="govuk-hint">
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changedName">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changedName-2">
            No - I want to change them
          </label>
        </div>
      </div>
    </fieldset>
  </div>



<!-- 

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:50% !important;">
          Total income
        </dt>
        <dd class="govuk-summary-list__value" style="width:30%; !important">
          {{ totalIncome|currency }}
                 </dd>
        <dd class="govuk-summary-list__actions" style="width:20%; !important">
          <a class="govuk-link" href="income-changed">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:50%; !important">
            Total spending
        </dt>
        <dd class="govuk-summary-list__value" style="width:30%; !important">


          {{ totalspending|currency}}


         </dd>
        <dd class="govuk-summary-list__actions" style="width:20%; !important">
          <a class="govuk-link" href="spending-changed">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div> -->


    </dl>

<br>
{% if balance > 0 and newBalance == 0 %}


<form action="how-much-can-you-afford-to-repay.html">

  <input type="hidden" id="left-out-balance" name="leftOutBalance-v2" value="{{ balance }}">

<button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>
</form>

{% else %}
 <form action="negative-income">
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>


{% endif %}







    </div>
  </div>

{% endblock %}
