{% extends "layout-3.html" %}

{% block pageTitle %}
  Choose income type
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "income-expenses"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income
        </span>Choose income type
      </h1>
<br>
      <p>You can only choose one income type at a time.</p>

      <form class="form" action="/income-expenses/income-type" method="post">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">

        {% if data['income-monthly'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome" name="income-type" type="radio" value="monthly-income">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Earnings after tax
          </label>
        </div>
        {% else  %}

          <div class="govuk-radios__item" style="display:none;">
            <input class="govuk-radios__input" id="monthlyIncome" name="income-type" type="radio" value="monthly-income">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Earnings after tax
            </label>
          </div>

        {% endif %}

        {% if data['benefits'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-2" name="income-type" type="radio" value="benefits">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Benefit payments
          </label>
        </div>
        {% else  %}


        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-2" name="income-type" type="radio" value="benefits">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Benefit payments
          </label>
        </div>

        {% endif %}


        {% if data['pension'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-3" name="income-type" type="radio" value="pension">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Pension
          </label>
        </div>

        {% else  %}

        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-3" name="income-type" type="radio" value="pension">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Pension
          </label>
        </div>

        {% endif %}


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="income-type" type="radio" value="other-income">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Other income
          </label>
        </div>
      </div>
    </fieldset>
  </div>
        {{ govukButton({

          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
