
{% extends "layout-3.html" %}

{% block pageTitle %}
Have you changed your mobile number?

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Manage your repayments
</span>
Would you like to receive a text message notification to review your repayments?
      </h1>
      <!-- <div class="flexible-banner-float-none">
        <ul class="govuk-list">
          <li>
            <h3>We will send you a reminder before:</h3>
            <span id="new-debts-amount"><b>
              <span id="new-debts-amount"><b>  <script>
                  var x = 12; //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                   document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                </script>
            </b></span>
          </li>

        </ul>
      </div> -->


<form class="form" action="summary" method="post">


  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">


    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="reminder-notification-payment-setup-done-yes-no" type="radio" value="yes" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Yes
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Enter your UK mobile phone number, like 07700900000

          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contact-by-mobile" name="contactByMobile" type="tel" spellcheck="false" autocomplete="email">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="reminder-notification-payment-setup-done-yes-no" type="radio" value="no" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          No
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

      </div>

    </div>
  </fieldset>
</div>

<!--
  <div class="govuk-radios govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="confirm-details-change" name="reminder-notification-payment-setup-done-yes-no" type="radio" value="yes" {{checked('reminder-notification-payment-setup-done-yes-no','yes')}}>
      <label class="govuk-label govuk-radios__label" for="changed-name">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="confirm-details-change-2" name="reminder-notification-payment-setup-done-yes-no" type="radio" value="no" {{checked('reminder-notification-payment-setup-done-yes-no','no')}}>
      <label class="govuk-label govuk-radios__label" for="changed-name-2">
        No
      </label>
    </div>
  </div> -->




		<button class="govuk-button" data-module="govuk-button">Continue</button>


	 </form>



	</div>
</div>

{% endblock %}
