{% extends "layout-3.html" %}

{% block pageTitle %}
  Choose income type
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "income-expenses"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Expenditure
        </span>Choose expenditure type
      </h1>
<br>
      <p>You can only choose one expenditure type at a time.</p>

      <form class="form" action="/income-expenses/expense-type" method="post">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">

      <div class="govuk-radios" data-module="govuk-radios">

        {% if data['housing'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome" name="expense-type" type="radio" value="housing">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Housing
          </label>
        </div>

        {% else  %}
          <div class="govuk-radios__item" style="display:none;" >
            <input class="govuk-radios__input" id="monthlyIncome" name="expense-type" type="radio" value="housing">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Housing
            </label>
          </div>



        {% endif %}


        {% if data['utilities'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-2" name="expense-type" type="radio" value="utilities">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Utilities
          </label>
        </div>
        {% else  %}


        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-2" name="expense-type" type="radio" value="utilities">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Utilities
          </label>
        </div>
        {% endif %}

        {% if data['travel'] <= 0 %}


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="travel">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Transport and travel
          </label>
        </div>

        {% else  %}


        <div class="govuk-radios__item"  style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="travel">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Transport and travel
          </label>
        </div>
        {% endif %}



        {% if data['pension-contributions'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="pension-contributions">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Private pensions and insurance
          </label>
        </div>

        {% else  %}
        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="pension-contributions">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Private pensions and insurance
          </label>
        </div>

        {% endif %}



        {% if data['groceries'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="groceries">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Food and housekeeping
          </label>
        </div>


        {% else  %}


        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="groceries">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Food and housekeeping
          </label>
        </div>


        {% endif %}



        {% if data['childcare-costs'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="childcare-costs">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Dependents
          </label>
        </div>
        {% else  %}

        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="childcare-costs">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Dependents
          </label>
        </div>
        {% endif %}



        {% if data['personal-costs'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="personal-costs">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Debt repayments
          </label>
        </div>
        {% else  %}

        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="personal-costs">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Debt repayments
          </label>
        </div>
        {% endif %}


        {% if data['communications'] <= 0 %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="communications">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Communications
          </label>
        </div>

        {% else  %}

        <div class="govuk-radios__item" style="display:none;">
          <input class="govuk-radios__input" id="monthlyIncome-4" name="expense-type" type="radio" value="communications">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Communications
          </label>
        </div>

        {% endif %}

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="monthlyIncome-3" name="expense-type" type="radio" value="other-repayments">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Other expenditure
          </label>
        </div>




      </div>
    </fieldset>
  </div>
        {{ govukButton({

          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
