
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		<div class="list-display">
						
			
						<!--<p>As you are in receipt of Universal Credit and are repaying money to DWP from your benefit payments, you can sign in to the Repay and manage benefit money you owe service to view details of your benefit deductions.</p>-->
						
						
						<p>Hello Ashley Chamberlain.</p>
						<p>You can now use our online service to manage the money you owe in relation to DWP benefits recovery.</p>
						
						<!-- <p>You can now use our online service to manage the money you owe to DWP in relation to previous claims.</p> -->
						
						<p>To find out more, go to the gov uk website and search for repay and manage benefit money.</p>
						
						<p>Sign in to your account using security code 30054876254, along with your date of birth.</p>
						
						<p>Regards, DWP Debt Management.</p>
		</div>






    </div>
</div>

{% endblock %}
