
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	

	
	
	<div class="govuk-grid-row">
	  
		 <div class="govuk-grid-column-three-quarters">
	
	<span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
			
			<h1 class="govuk-heading-xl mb30">
				Payment review</h1>
				
				
						
				
				<p>This review is about reducing the payments we take from your benefits.</p>
				
				
		
		<div class="govuk-inset-text">
			 <p>What we currently take: <span class="total-amount">&pound;55.00</span></p>
			 <p>You may have other money which is being taken from your benefits which you cannot reduce here. For more information, you should check your Universal Credit statement.</p>
			 
			 <!-- <p>You may have other money which is being taken from your benefits in relation to current claims which you cannot reduce here. For more information, you should check your Universal Credit statement.</p> -->
			 </div>		
				
		
		
				<p>We will ask you questions to understand more about your financial situation &ndash; further reviews will then be needed every 12 months.</p>


		
					
				<p><a href="onBenReview-1" class="govuk-button">Start payment review</a></p>	
				
		 </div>
	</div>
	
	
		
					
				  

{% endblock %}



