
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		<h1 class="govuk-heading-xl">
			<span class="govuk-caption-xl">Payment review</span>
			Keep your payments the same</h1>
		
			
		 <div class="flexibleBanner">
											
											
											<ul class="govuk-list">
		
												
												<li>
													<h3>Monthly payment</h3>
													<b>										    
											&pound;30.00
											
											</b>
												</li>
							
												
												
												
												
											</ul>
											
											</div>
											
											
									<p>The amount we take from your benefits will remain at &pound;30.00.</p>		
									
									
									<p>If your payments stay at &pound;30.00, you will clear the total amount owed in January 2025.</p>
									
									  
			
					<div class="govuk-inset-text">
						You also owe other money to Universal Credit which you cannot repay here. If you have any questions about this, you'll need to contact Universal Credit directly.
						 </div>
		
				<p><a href="returnDeductionReview" class="govuk-button">Continue</a></p>


    </div>
</div>

{% endblock %}
