{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          Ashley Chamberlain

        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to repay: <span class="total-amount">
          &pound;4.50

        </span>



      </div>


    </div>




    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half" >


  			 <div class="scenario-panel" >
  					   <h2 class="govuk-heading-s">Your repayments</h2>

  					   <div class="scenario-inner-panel" >


                 <div id="green-banner"  class="alert-green">
              <p style="margin-bottom:0px;"> <strong>Previous repayment</strong><br>
                         £43.50 on 7 May 2025</p>
                       </div>





<p>If your monthly repayments stay at £43.50, you will clear the total amount owed on 7 June 2025.

</p>


  					  <p>
<a href="details-of-what-you-owe">View details of what you owe</a>
              </p>
              <p><a href="payment-history">
                View your payment history
            </a> </p>





  					   </div>
  				   </div>










  		  </div>


  		<div class="govuk-grid-column-one-half">



  			  <div class="scenario-panel" style="height:363px;">
  					   <h2 class="govuk-heading-s">Make additional payments</h2>


  					   <div class="scenario-inner-panel">





  							   <!-- <table class="govuk-table">

  								<tbody class="govuk-table__body">


  								 <!-- <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total payments</th>
  									<td class="govuk-table__cell">


  								   15
  									</td>
  								 </tr> -->


  								 <!-- <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total amount left to repay</th>
  									<td class="govuk-table__cell">



  								  &pound;2,915.00


  									</td>
  								  </tr>






  								</tbody>
  							  </table> -->

                  <p>Additional payments are voluntary and help you pay off what you owe quicker.</p>
                  <p><a href="additional-payment/pay-full-amount-start-less-than-5">
                    Pay off what you owe in full
                   </a> </p>
                  <p><a href="additional-payment/make-an-additional-payment-less-than-5">
                    Make a smaller one-off payment
                   </a> </p><p>
                     <p>

                  </p>


  		  </div>
  			  </div>






  		</div>


  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Manage your monthly repayments
</h2>

  					   <div class="scenario-inner-panel">
  						<p>As you are repaying money to the DWP, you can get help understanding how much you can afford if you are struggling with your repayments.

</p>


  					   <p><a href="manage-your-repayments/manage-your-repayment-start.html"  >Manage your monthly repayments</a></p>
  					   </div>
  				   </div>




  		  </div>







  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:240px;">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
  						<p>You can contact us for general help and support.</p>
<br>
<p>  					  <a href="help-and-support" >Get help and support</a>
</p>
  					   </div>
  				   </div>




  		  </div>



  		</div>




  	  </div>
    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
