
{% extends "layout-main.html" %}

{% block pageTitle %}
Help and support
{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->



      <div class="govuk-grid-row">




         <div class="govuk-grid-column-three-quarters">




	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Help and support </h1>

<div class="govuk-body">
<div class="govuk-inset-text">
  <p>If you need to manage your monthly repayments, you can get help understanding how much you can afford to repay.</p>

  <p><a href="manage-your-repayments/manage-your-repayment-start.html"  >Manage your monthly repayments</a></p>

</div>
        </div>


   <p>You can contact us for general help and support.


</p>



       <h2 class="govuk-heading-s ">DWP Debt Management
</h2>
     <ul class="govuk-list">
       <li>Telephone: 0800 916 0647</li>
       <li>Textphone: 0800 916 0651</li>
       <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
     </ul>
     <p class="govuk-body">
       <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
     </p>

<div class="govuk-!-padding-top-6">
     <h2 class="govuk-heading-m">Further advice</h2>

    <p>If you would like independent advice, you can contact:
</p>


	 <ul class="govuk-list govuk-list--bullet">
     <li> <a href="https://www.moneyadviceservice.org.uk">MoneyHelper (opens in new tab)</a></li>
			 <li> <a href="https://www.citizensadvice.org.uk/">Citizens Advice (opens in new tab)</a> </li>
       <li> <a href="https://www.gov.uk/civil-legal-advice/">Civil Legal Advice (opens in new tab)</a> </li>
			 <li> <a href="https://www.stepchange.org/">StepChange Debt Charity (opens in new tab)</a></li>
	 </ul>



		<!--			<div class="govuk-inset-text">
					  <h2 class="govuk-heading-m">If you're struggling to pay, contact Debt Management immediately.</h2>
					  <ul class="govuk-list">
					    <li>Telephone: 020 7946 0101</li>
					    <li>Textphone: 020 7946 0102</li>
					    <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
					  </ul>

					</div> -->






<!--					<form class="form" action="/scenario-8/paymentDetail" method="post">


						<div class="govuk-form-group">
					          <fieldset class="govuk-fieldset">
						          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							      <h1 class="govuk-fieldset__heading">
							        Or alternatively, we can call you
							      </h1>
							    </legend>

						          <div class="govuk-form-group">
						          <label class="govuk-label govuk-label--s" for="contact-by-email">
						            Contact number
						          </label>
						          <input class="govuk-input govuk-input--width-20" id="contact-by-email" name="contact-by-email" type="number" spellcheck="false">
						        </div>



						        <div class="govuk-form-group">
										  <fieldset class="govuk-fieldset">
										    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
										      <h1 class="govuk-fieldset__heading">
										       When will you be available?
										      </h1>
										    </legend>


										    <div class="govuk-radios">
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england" aria-describedby="suitable-time">
										        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
										          Morning
										        </label>
										      </div>
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland" aria-describedby="suitable-time">
										        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
										          Afternoon
										        </label>
										      </div>
										      <div class="govuk-radios__item">
										        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales" aria-describedby="suitable-time">
										        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
										          Evening
										        </label>
										      </div>

										    </div>
										  </fieldset>
										</div>






					          </fieldset>
				        </div> -->


					<!--	<button class="govuk-button" data-module="govuk-button">
						  Continue
						</button>

						</form> -->







        </div>





      </div>


    </div>
</div>

{% endblock %}
