
{% extends "layout-3.html" %}

{% block pageTitle %}
Summary - Affordability
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Manage your repayments

        </span>Summary </h1>



        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Monthly repayment
            </dt>
            <dd class="govuk-summary-list__value">
              £{{ data['newDeductedAmount-setupDone'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="onBenReview-2">
                Change<span class="govuk-visually-hidden"> Agreed monthly payment</span>
              </a>
            </dd>
          </div>






          {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Repayment check reminder
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">No reminder chosen</p>
            </dd>


            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                Change<span class="govuk-visually-hidden"> notification reminder</span>
              </a>
            </dd>

          </div>

            {% else %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Repayment check reminder
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Yes</p>
              </dd>


              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                  Change<span class="govuk-visually-hidden"> notification reminder</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">

                <p class="govuk-body">******0000 </p>
              </dd>

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                  Change<span class="govuk-visually-hidden"> change mobile number</span>
                </a>
              </dd>
            </div>


            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason for changing your repayments
              </dt>
              <dd class="govuk-summary-list__value">
                <ul>
                {% if data['financial-situation-details-payments-taken-1']=='yes' %}
                <li>My loan or credit card payments have increased</li>
                {% endif %}

                {% if data['financial-situation-details-payments-taken-2']=='yes' %}
                <li>I have lost my job or have reduced my hours</li>
                {% endif %}
                {% if data['financial-situation-details-payments-taken-3']=='yes' %}
                <li>My living costs have increased</li>
                {% endif %}
                {% if data['financial-situation-details-payments-taken-4']=='yes' %}
                <li>{{ data['financial-situation-details-payments-taken-4-text'] }}</li>
                {% endif %}
                <ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="financial-situation">
                  Change<span class="govuk-visually-hidden"> Why do you want to change your repayments</span>
                </a>
              </dd>
            </div>


            </dl>





<p><a href="deductionFinish" class="govuk-button">Confirm changes</a></p>










</div>
</div>

{% endblock %}
