
{% extends "layout-3.html" %}

{% block pageTitle %}
Important information about managing the money you owe to DWP

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <span class="govuk-caption-xl">Ashley Chamberlain</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Important information about managing the money you owe
    </h1>

    <h3 class="govuk-heading-m">DWP repayments
    </h3>

    <div class="flexible-banner-float-none">
      <ul class="govuk-list">
        <li>
          <h3>Total amount you owe:</h3>
          <span id="new-debts-amount"><b>£1,030.00</b></span>
        </li>
        <li>
          <h3>Previous payment:</h3>
          <span class="total-amount" id="new-total-owed"><b>£40.00</b></span>
        </li>
      </ul>
    </div>

    <span><a href="debtBreakdownFull" style="margin-bottom:30px;"  class="secondary-invert">View details of what you owe</a></span>

    <!-- <div class="govuk-body">
    What we will take from the payments: <br>
    <ul>
      <li>  benefit overpayments and budgeting loans </li>
      <li>  recoverable hardship payments  </li>
    </ul>
    </div> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m"> Universal Credit repayments
    </h3>

    <p>If you have any other deductions from your Universal Credit payment, they cannot be managed on this service. For example, any repayments for an advance taken out during your current claim.


</p>



      <p>For more information, refer to your Universal Credit statement.



</p>





    <p class="mt30"><a href="indexAccountHome" class="govuk-button">
      Continue to account home
    </a></p>




  </div>
</div>








{% endblock %}
