
{% extends "layout-3.html" %}

{% block pageTitle %}
  Journal Message
{% endblock %}

{% block beforeContent %}

  <div class="govuk-inset-text mt0" style="background-color:#f2f2f2;">
    {{ govukBackLink({
      text: "Back to scenaio",
      href: "javascript:window.history.back()"
    }) }}
      <p><b style="display: inline;">Scenario:</b> User has logged into their Universal Credit account</p>

  </div>
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">
       <div class="govuk-grid-column-full">





   <div class="govuk-grid-row uc-layout">
     <div class="govuk-grid-column-one-third" style="background-color: #f2f2f2;">
       <p>Home</p>
     </div>
     <div class="govuk-grid-column-one-third" style="background-color: #f2f2f2;">
       <p>To-do</p>
     </div>
     <div class="govuk-grid-column-one-third" style="background-color: #1d70b8;">
       <p class="active">Journal</p>
     </div>
   </div>

   <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

    <div class="govuk-grid-column-three-quarters" style="padding:0px;">
      <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


		<h1 class="govuk-heading-xl govuk-!-padding-bottom-5">Journal message</h1>


	<p>As you are repaying money to DWP in relation to previous claims, you can use the new Repay and manage benefit money you owe service.</p>

	<p>You will receive a text message from DWP Debt Management in the next 7 days with details of how to sign in to your Repay and manage benefit money you owe account.</p>

	<p>On the new service you can view a breakdown of what you owe to DWP and manage your payments.</p>




		<p>The money you owe to DWP is in relation to previous claims and appears under 'Debts and loans repayments' on your Universal Credit statement.</p>

		<p>For more information and a full breakdown of deductions from your Universal Credit payment, you can check your <a href="ucStatement">Universal Credit statement</a>.</p>






		<!--<p>You can see a full breakdown of what you owe to DWP on the new service.</p>

	<p>The new service allows you to view a breakdown of what you owe to DWP and manage your payments.</p>-->

		<p>It is important to understand that any other money currently being deducted from your Universal Credit payment which is not related to previous claims, cannot be managed on the new service. This may include any advances taken out as part of a new claim.</p>









</div>






    </div>
</div>

{% endblock %}
