
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		

			

			  <h1 class="govuk-heading-xl">
				  <span class="govuk-caption-xl">Step 2 of 5</span>
			  Payment plan review
			  </h1>
			
			<div class="flexibleBanner">

				<ul class="govuk-list">

					<li>
						<h3>Payment amount</h3>
						<b>										    
			 &pound;{{ data['affordable-amount'] }}
				
				</b>
					</li>

					<li>
						<h3>Plan review date</h3>
						<b>
					August 2023
						
						
						</b>
					</li>

					
				</ul>
				
				</div>	
				
				
				
				<p>How the review works:</p>
			
				  <ul class="govuk-list govuk-list--bullet">
					 <li>we will send you a letter with details of when your review will take place and instructions to sign in to your account.</li>
					 <li>you will then have 4 weeks to do your review.</li>
					<li>during the review, we will ask you questions to understand how much you can afford to pay and help you make changes to your plan if needed.</li>
					
					
				  </ul>
				
				
				
			
			
		<!--	<h2 class="govuk-heading-m">How the review works</h2>
			
			<p>We will send you a letter with details of when your review will take place and instructions to sign in to your account. You will then have 4 weeks to do your review.</p>
			
<p>During the review, we will ask you questions to understand how much you can afford to pay and help you make changes to your plan if needed.</p>-->
			
			
		<!--	<div class="govuk-inset-text">
		
			<p>If you are able to increase your plan within the next 12 months, a review may not be needed.</p>	
			</div> -->
			
			
			<div class="govuk-inset-text">
				 Your pension may be affected if you still owe money when you retire.
				 </div>
			<!--<div class="govuk-inset-text">If your financial situation changes, you can change your payments at anytime by signing in and managing your plan.</div>-->
			
			
			
		<p class="mt30"><a href="howToPay" class="govuk-button">
			Continue
		  </a></p>


	</div>
</div>

{% endblock %}
