
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  
	 <div class="govuk-grid-column-three-quarters">

<span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		<h1 class="govuk-heading-xl mb30">
			Payment plan review</h1>

			<p>We will ask you questions to understand how much you can afford and see if your payments need to change.</p>
			
			<p>This will take approximately 5 minutes to complete.</p>
				
				
			<p><a href="reviewStep1" class="govuk-button">Continue</a></p>	
			
	 </div>
</div>


{% endblock %}
