
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		<h1 class="govuk-heading-xl">
			<span class="govuk-caption-xl">Payment plan review</span>
			Increase your payments</h1>
			

											
<div class="flexibleBanner">
	
	
	<ul class="govuk-list">

		
		<li>
			<h3>Payment amount</h3>
			<b>										    
	&pound;{{ data['newImprovedAmount'] }}
	
	</b>
		</li>


<li>
	<h3>Expected final payment</h3>
	<b>										    
	August 2026

</b>
</li>
		
		
		<li>
			<h3>Payment plan review</h3>
			<b>
			No longer needed
			
			
			</b>
		</li>

		
	</ul>
	
	</div>					
				
				
				<p>As you have been able to increase your payments, you will no longer need a payment plan review.</p>	
				
				
			<div class="govuk-inset-text">
					
				<p>If your financial situation changes and you're struggling to keep up with your payments, you can change them at anytime by signing in and managing your plan.</div>
				

				
				<p><a href="reviewPlanSummary" class="govuk-button">Continue</a></p>
				
									
										

    </div>
</div>

{% endblock %}
