
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										You are now due for a payment plan review</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	
												<li>
													<h3>Your review must be completed by:</h3>


														<b>29 July 2023</b>



												</li>
											</ul>
											
											
											
											</div>
											
						
								
										<!--<p>We will ask you questions to understand how much you can afford and see if your payments need to change.</p>-->
										
										
										
									<form class="form" action="reviewPortal" method="post">
											
											
									
							
										
										<div class="govuk-form-group">
											  <fieldset class="govuk-fieldset">
												<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
												  <h1 class="govuk-heading-m">
												
												   Do you want to do your review now?
												  </h1>
												</legend>
											   
												<div class="govuk-radios">
												
												<div class="govuk-radios__item">
													<input class="govuk-radios__input" id="reviewYes" name="reviewChoice" type="radio" value="reviewYes">
													<label class="govuk-label--s govuk-radios__label" for="reviewYes">
													Yes &ndash; I want to do my review
													</label>
													<span class="govuk-hint govuk-radios__hint">
														This will take approximately 5 minutes to complete.
														</span>
												   
												  </div>
												  
												  
												   <div class="govuk-radios__item">
													<input class="govuk-radios__input" id="reviewNo" name="reviewChoice" type="radio" value="reviewNo">
													<label class="govuk-label--s govuk-radios__label" for="reviewNo">
													No &ndash; I want to continue to my account home
													</label>
													<span class="govuk-hint govuk-radios__hint">
														You can still make payments or changes to your plan and do your review at a later date.
														</span>
												   
												  </div>
							
												  
												</div>
											  </fieldset>
											</div>
										
										<button class="govuk-button" data-module="govuk-button">
										  Continue
										</button>
										</form>
										
								<!--		<form class="form" action="reviewPortal" method="post">
										
										
										
										
										<div class="govuk-form-group mt30">
											  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
												<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
												  <h1 class="govuk-fieldset__heading">
													Do you want to do your review now?
												  </h1>
												</legend>
								
											
												<div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
												  <div class="govuk-radios__item">
													<input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
													<label class="govuk-label govuk-radios__label" for="changed-name">
													  Yes
													</label>
												  </div>
												  <div class="govuk-radios__item">
													<input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
													<label class="govuk-label govuk-radios__label" for="changed-name-2">
													  No
													</label>
												  </div>
												</div>
											
											
											<button class="govuk-button mt20" data-module="govuk-button">Continue</button>
											
											  </fieldset>
											</div>
											

											</form> -->

							



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
