
{% extends "layout-3.html" %}

{% block pageTitle %}
Are you an account holder and the only person needed to authorise Direct Debits with your bank or building society?
{% endblock %}



{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




    <form class="form" action="/design-improvement/setup-plan/direct-debit-account-owner" method="post">



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you an account holder and the only person needed to authorise Direct Debits with your bank or building society?
            </h1>
          </legend>

        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="yesDD" name="authoriseDD" type="radio" value="yesDD" {{ checked('authoriseDD','yesDD') }}>
            <label class="govuk-label govuk-radios__label" for="yesDD">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="noDD" name="authoriseDD" type="radio" value="noDD" {{ checked('authoriseDD','noDD') }}>
            <label class="govuk-label govuk-radios__label" for="noDD">
              No
            </label>
          </div>
        </div>

      </fieldset>

    </div>

    <button class="govuk-button" data-module="govuk-button">Continue</button>



  </form>





</div>
</div>

{% endblock %}
