
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment plan summary
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">


    <form class="form" action="directFinish" method="post">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
    Check details before setting up your payment plan</h1>

    <h2 class="govuk-heading-m  ">Plan summary</h2>


    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total amount owed
          </dt>
          <dd class="govuk-summary-list__value">
            £750.00
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plan type
          </dt>
          <dd class="govuk-summary-list__value">
            Monthly Direct Debit
          </dd>
          <dd class="govuk-summary-list__actions">
            <!-- <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Monhtly Direct Debit</span></a> -->
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m govuk-!-padding-top-7 ">Payment details</h2>


        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Direct Debit amount
          </dt>
          <dd class="govuk-summary-list__value">

                            {% if data['paymentChoices']=='12Month'%}

                            <p class="mb0">&pound;62.50</p>


                            {% elif data['paymentChoices']=='24Month'%}

                            <p class="mb0">&pound;31.25</p>


                            {% elif data['paymentChoices']=='36Month'%}



                            <p class="mb0">&pound;20.83</p>


                            {% elif data['paymentChoices']=='48Month'%}

                            <p class="mb0">&pound;15.62</p>



                            {% else %}

                            <p class="mb0">

                              {% if data['paymentChoices']=='lowPayments'%}

                              <p class="mb0">

                                 {{data['affordable-amount'] | currency}}</p>

                                {% else %}

                                <p class="mb0">
                                  {{data['custom-amount'] | currency}}
                                </p>
                                {% endif %}



                                {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="choose-payment-plan">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Final payment amount          </dt>
          <dd class="govuk-summary-list__value">

                                {% if data['paymentChoices']=='12Month'%}

                                <p class="mb0">£<script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750 ;

                                    var num2 = 62.5;
                                    var  result = Math.floor(num1 / num2);
                                    var finalResult = num1 - num2 * result;
                                    var results = Math.round(finalResult * 100) / 100;
                                    document.write(results.toFixed(2));                                   </script>

                                 </p>


                                {% elif data['paymentChoices']=='24Month'%}

                                <p class="mb0">£<script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750 ;

                                    var num2 = 31.25;
                                    var  result = Math.floor(num1 / num2);
                                    var finalResult = num1 - num2 * result;
                                    var results = Math.round(finalResult * 100) / 100;
                                    document.write(results.toFixed(2));                                   </script>

                                 </p>


                                {% elif data['paymentChoices']=='36Month'%}



                                <p class="mb0">£<script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750 ;
                                    var num2 = 20.83;
                                    var  result = Math.floor(num1 / num2);
                                    var finalResult = num1 - num2 * result;
                                    var results = Math.round(finalResult * 100) / 100;
                                    document.write(results.toFixed(2));                                   </script>

                                    </p>


                                {% elif data['paymentChoices']=='48Month'%}

                                <p class="mb0">£ <script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750 ;

                                    var num2 = 15.62;
                                    var  result = Math.floor(num1 / num2);
                                    var finalResult = num1 - num2 * result;
                                    var results = Math.round(finalResult * 100) / 100;
                                    document.write(results.toFixed(2));                                   </script>

                                  </p>

                                {% elif data['paymentChoices']=='72Month'%}

                                <p class="mb0">£<script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750 ;

                                    var num2 = 50;
                                    var  result = Math.floor(num1 / num2);
                                    var finalResult = num1 - num2 * result;
                                    var results = Math.round(finalResult * 100) / 100;
                                    document.write(results.toFixed(2));                                   </script>
                                    </p>



                                {% else %}

                                <p class="mb0">

                                  {% if data['paymentChoices']=='lowPayments'%}

                                  <p class="mb0">£<script>
                                      function divide(num) { return num.toFixed(2); }

                                      var  num1 = 750 ;

                                      var num2 = {{data['affordable-amount'] }};
                                      var  result = Math.floor(num1 / num2);
                                      var finalResult = num1 - num2 * result;
                                      var results = Math.round(finalResult * 100) / 100;
                                      document.write(results.toFixed(2));                                    </script>
                                     </p>

                                    {% else %}

                                    <p class="mb0">£<script>
                                        function divide(num) { return num.toFixed(2); }

                                        var  num1 = 750 ;

                                        var num2 = {{data['custom-amount'] }};
                                        var  result = Math.floor(num1 / num2);
                                        var finalResult = num1 - num2 * result;
                                        var results = Math.round(finalResult * 100) / 100;
                                        document.write(results.toFixed(2));

                                      </script>

                                    </p>
                                    {% endif %}



                                    {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected number of payments
          </dt>
          <dd class="govuk-summary-list__value">

                                {% if data['paymentChoices']=='12Month'%}

                                <p class="mb0"><script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750;

                                    var num2 = 62.5;

                                    var  result = Math.floor(num1 / num2);
                                    document.write(result);
                                  </script>  </p>


                                {% elif data['paymentChoices']=='24Month'%}

                                <p class="mb0"><script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750;

                                    var num2 = 31.25;

                                    var  result = Math.floor(num1 / num2);
                                    document.write(result);
                                  </script> </p>


                                {% elif data['paymentChoices']=='36Month'%}



                                <p class="mb0"><script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750;

                                    var num2 = 20.83;

                                    var  result = Math.floor(num1 / num2);
                                    document.write(result);
                                  </script>  </p>


                                {% elif data['paymentChoices']=='48Month'%}

                                <p class="mb0"><script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750;

                                    var num2 = 15.62;

                                    var  result = Math.floor(num1 / num2);
                                    document.write(result);
                                  </script> </p>

                                {% elif data['paymentChoices']=='72Month'%}

                                <p class="mb0"><script>
                                    function divide(num) { return num.toFixed(2); }

                                    var  num1 = 750;

                                    var num2 = 50;

                                    var  result = Math.floor(num1 / num2);
                                    document.write(result);
                                  </script>  </p>



                                {% else %}

                                <p class="mb0">

                                  {% if data['paymentChoices']=='lowPayments'%}



                                    <p class="mb0"><script>
                                        function divide(num) { return num.toFixed(2); }

                                        var  num1 = 750;

                                        var num2 = {{data['affordable-amount']}};

                                        var  result = Math.floor(num1 / num2);
                                        document.write(result);
                                      </script>  </p>


                                    {% else %}

                                    <p class="mb0">
                                      <script>
                                        function divide(num) { return num.toFixed(2); }

                                        var  num1 = 750;

                                        var num2 = {{ data['custom-amount'] }};

                                        var  result = Math.floor(num1 / num2);
                                        document.write(result);
                                      </script>
                                    </p>
                                    {% endif %}



                                    {% endif %}


          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>




      </dl>


      <h2 class="govuk-heading-m govuk-!-padding-top-7">Payment dates</h2>


      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Direct Debit day
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['paymentDay']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="directDebitDay">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First payment
          </dt>
          <dd class="govuk-summary-list__value">
            <script>
              var CurrentDate = new Date();
              var m = {{ data ['paymentDay']}};
              CurrentDate.setMonth(CurrentDate.getMonth() + 1);
              document.write(m + ' ' + CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected final payment
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['paymentChoices']=='12Month'%}

            <script>
              var  num1 = 750.00;
              var num2 = 62.5;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
            </script>
            {% elif data['paymentChoices']=='24Month'%}

            <script>
              var  num1 = 750.00;
              var num2 = 31.25;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>
            {% elif data['paymentChoices']=='36Month'%}


            <script>
              var  num1 = 750.00;
              var num2 = 20.83;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>



            {% elif data['paymentChoices']=='48Month'%}


            <script>
              var  num1 = 750.00;
              var num2 = 15.62;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>


            {% else %}



            {% if data['paymentChoices']=='lowPayments'%}

            <script>
              var  num1 = 750.00;
              var num2 = {{ data['affordable-amount'] }};;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>

            {% else %}

            <script>
              var  num1 = 750.00;
              var num2 = {{ data['custom-amount'] }};;
              var x = Math.floor(num1 / num2); //or whatever offset
              var CurrentDate = new Date();
              console.log("Current date:", CurrentDate);
              CurrentDate.setMonth(CurrentDate.getMonth() + x);
              document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
            </script>
            {% endif %}



            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> Direct Debit amount</span></a>
        </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m govuk-!-padding-top-7">Bank or building society account details
 </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account details
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['accountName']}} <br>
            {{ data ['sortCode']}} <br>
            {{ data ['accountNumber']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="bank-building-society-details">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>



      </dl>


      <h2 class="govuk-heading-m govuk-!-padding-top-7">Contact preferences


      </h2>
      {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Text messages
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Text message	</span></a>
          </dd>
        </div>
      </dl>

      {% else %}
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Text messages
          </dt>
          <dd class="govuk-summary-list__value">
            Yes <br>
            {{data['contactByMobile']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="direct-debit-contact-you">Change<span class="govuk-visually-hidden"> Text message	</span></a>
          </dd>
        </div>
      </dl>

      {% endif %}




                  <div class="ddGuarantee">
                    <h3 class="govuk-heading-s">The Direct Debit Guarantee</h3>

                    <ul class="govuk-list govuk-list--bullet">
                      <li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
                      </li>
                      <li>If there are any changes to the amount, date or frequency of your Direct Debit DWP will notify you 10 working
                        days in advance of your account being debited or as otherwise agreed. If you request DWP to collect a payment,
                        confirmation of the amount and date will be given to you at the time of request.</li>

                        <li>If an error is made in the payment of your Direct Debit, by DWP or your bank or building society,
                          you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                          – If you receive a refund you are not entitled to, you must pay it back when DWP asks you to.</li>
                          <li>You can cancel a Direct Debit at any time by simply contacting your bank or building society.
                            Written confirmation may be required. Please also notify us.</li>



                          </ul>
                        </div>







                        <div class="govuk-warning-text">
                          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                          <strong class="govuk-warning-text__text">
                        If you do not keep up with your payments, we will take further action to recover the money owed.</strong>
                        </div>
                        <p class="govuk-body">Further action to recover money owed may include:</p>
                                      <ul class="govuk-list govuk-list--bullet mb30">

                      <li>asking your employer to deduct it from your pay</li>
                      <li>taking debt enforcement action through the courts</li>
                      <li>asking a debt collection agency to collect it for us</li>
                      <li>recovering it from future benefits and State Pension you get</li>


                                      </ul>


                                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                                                        <h2 class="govuk-heading-m">Declaration</h2>

                                                        <p>By continuing, you confirm that you will:</p>

                                                        <ul class="govuk-list govuk-list--bullet mb30">

                                                          {% if data['paymentOptions']=='ddFixedChoice'%}
                                                          <li>pay the agreed monthly amount</li>
                                                          {% else %}
                                                          {% endif %}

                                                          {% if data['paymentOptions']=='flexyPayChoice'%}
                                                          <li>pay the agreed monthly amount</li>
                                                          {% else %}
                                                          {% endif %}


                                                          <li>let us know immediately if you’re struggling to keep up with payments</li>
                                                        </ul>
                                                        <p class="govuk-!-font-weight-bold">Your bank may charge you interest if you pay by credit card.
                                                        </p>


                        <button class="govuk-button" data-module="govuk-button">
                          Continue and set up Direct Debit
                        </button>

</form>

          </div>
        </div>




<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




<!--

    <form class="form" action="directFinish" method="post">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Payment plan</span>Summary</h1>

        <table class="govuk-table mb40">
          <caption class="visually-hidden">Plan summary</caption>


          <tbody class="govuk-table__body">

            {% if data['paymentChoices']=='lowPayments'%}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Plan type</th>
              <td class="govuk-table__cell" colspan="2" >Affordable Direct Debit
              </td>


            </tr>

            {% endif %}


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Total amount owed</th>
              <td class="govuk-table__cell" colspan="2" >&pound;750.00
              </td>


            </tr>


            {% if data['paymentOptions']=='ddFixedChoice'%}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payment type</th>
              <td class="govuk-table__cell" colspan="2" >Direct Debit
              </td>


            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Direct Debit amount</th>
              <td class="govuk-table__cell"style="width:45%;" >


                {% if data['paymentChoices']=='12Month'%}

                <p class="mb0">&pound;62.50</p>


                {% elif data['paymentChoices']=='24Month'%}

                <p class="mb0">&pound;31.25</p>


                {% elif data['paymentChoices']=='36Month'%}



                <p class="mb0">&pound;20.83</p>


                {% elif data['paymentChoices']=='48Month'%}

                <p class="mb0">&pound;15.62</p>



                {% else %}

                <p class="mb0">

                  {% if data['paymentChoices']=='lowPayments'%}

                  <p class="mb0">

                     {{data['affordable-amount'] | currency}}</p>

                    {% else %}

                    <p class="mb0">
                      <script>
                        function divide(num) { return num.toFixed(2); }

                        var  num1 = 750.00;

                        var num2 = {{ data['custom-amount'] }};

                        var  result = Math.floor(num1 / num2);
                        document.write(result);
                      </script>   payments of {{data['custom-amount'] | currency}}
                    </p>
                    {% endif %}



                    {% endif %}


                  </td>

                  <td class="govuk-table__cell changeDetails">
                    {% if data['paymentChoices']=='lowPayments'%}

                    <a href="edit-lowPayChoice">Change</a>

                    {% else %}

                    <a href="edit-direct-debit-payment-plan">Change</a>

                    {% endif %}

                  </td>


                </tr>
              </tbody>

            </table>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


            <table class="govuk-table">
              <caption class="visually-hidden">Payment dates</caption>
              <h3 class="govuk-heading-m">Payment dates </h3>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row" >
                  <th scope="row" class="govuk-table__header" style="width:40%;">First payment</th>
                  <td class="govuk-table__cell" colspan="2" style="width:45%;">
                    <script>
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setDate({{data['paymentDay']}});
                      CurrentDate.setMonth(CurrentDate.getMonth() + 1);
                      document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                    </script>
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-direct-debit-day">Change</a></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Expected final payment</th>
                  <td class="govuk-table__cell" colspan="2">
                    {% if data['paymentChoices']=='12Month'%}

                    <script>
                      var  num1 = 750.00;
                      var num2 = 62.5;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>
                    {% elif data['paymentChoices']=='24Month'%}

                    <script>
                      var  num1 = 750.00;
                      var num2 = 31.25;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>
                    {% elif data['paymentChoices']=='36Month'%}


                    <script>
                      var  num1 = 750.00;
                      var num2 = 20.83;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>



                    {% elif data['paymentChoices']=='48Month'%}


                    <script>
                      var  num1 = 750.00;
                      var num2 = 15.62;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>


                    {% else %}



                    {% if data['paymentChoices']=='lowPayments'%}

                    <script>
                      var  num1 = 750.00;
                      var num2 = {{ data['affordable-amount'] }};;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>

                    {% else %}

                    <script>
                      var  num1 = 750.00;
                      var num2 = {{ data['custom-amount'] }};;
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>
                    {% endif %}



                    {% endif %}
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-direct-debit-day"></a></td>

                </tr>
              </tbody>

            </table>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <table class="govuk-table">
              <caption class="visually-hidden">Account details</caption>
              <h3 class="govuk-heading-m">Account details  </h3>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:40%;">Account name</th>
                  <td class="govuk-table__cell" style="width:45%;">
                    {{ data['accountName'] }}
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-bank-building-society-details">Change</a></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Sort code</th>
                  <td class="govuk-table__cell" >
                    {{ data['sortCode'] }}
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-bank-building-society-details">Change</a></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Account number
                  </th>
                  <td class="govuk-table__cell" >
                    {{ data['accountNumber'] }}
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-bank-building-society-details">Change</a></td>

                </tr>
              </tbody>

            </table>



            {% endif %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <table class="govuk-table ">
              <caption class="visually-hidden">Text message preferences </caption>
              <h3 class="govuk-heading-m">Text message preferences </h3>
              <tbody class="govuk-table__body">


                {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
                  <td class="govuk-table__cell" style="width:45%;">
                    No
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="direct-debit-contact-you">Change</a></td>

                </tr>

                {% else %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
                  <td class="govuk-table__cell " style="width:45%;">
                    Yes
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="direct-debit-contact-you">Change</a></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:40%;">Mobile number</th>
                  <td class="govuk-table__cell " style="width:45%;" colspan="2" >
                    {{data['contactByMobile']}}
                  </td>

                </tr>

                {% endif %}

              </tbody>
            </table>





                </form>


              -->




              </div>
            </div>

            {% endblock %}
