
{% extends "layout-3.html" %}

{% block pageTitle %}
How much can you afford to pay each month?

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">




										<form class="form" action="payments-start" method="post">







											<div class="govuk-form-group">
												  <h1 class="govuk-label-wrapper">
													  <label class="govuk-label govuk-label--xl" for="affordable-amount">
													How much can you afford to pay each month?
													</label>
												  </h1>

												  <div id="pay-hint" class="govuk-hint mb20">
													  If your income varies, you can enter the lowest amount you can afford and pay additional amounts on top.
														  </div>

												  <div class="govuk-input__wrapper">
													<div class="govuk-input__prefix" aria-hidden="true">£</div>
													<input class="govuk-input govuk-input--width-10" id="affordable-amount" name="affordable-amount" type="text" spellcheck="false">
												  </div>
												</div>





											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>





    </div>
</div>

{% endblock %}
