
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										You are now due for a payment plan review</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	
												<li>
													<h3>Your review must be completed by:</h3>


														<b>31 July 2023</b>



												</li>
											</ul>
											
											
											
											</div>
											
											
							<p>We will ask you questions to understand how much you can afford and see if your payments need to change.</p>
											


<p><a href="debtBreakdownNew" class="secondary-invert">Start payment plan review</a></p>

											



										<p class="mt30"><a href="dashboardDebit" class="govuk-button mb0">Continue to account home</a></p> 



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
