{% extends "layout-3a.html" %}

{% block pageTitle %}
Sorry, the service is unavailable

{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Sorry, the service is unavailable
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <p>You will be able to use the service later.</p>

  <p>Call us if you need to speak to someone urgently or to make a payment.</p>

      <p wiid="N154"><strong wiid="N155">If you live in Great Britain:</strong></p>

    <ul class="govuk-list" wiid="N158">
    <li wiid="N160">Telephone: 0800 916 0647</li>
    <li wiid="N163">Textphone: 0800 916 0651</li>
    <li wiid="N166">Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
  </ul>

  <p wiid="N170"><a href="https://www.gov.uk/call-charges" target="_blank" wiid="N171">Find out about call charges in Great Britain (opens in new tab)</a></p>


    <p wiid="N137"><strong wiid="N138">If you live in Northern Ireland:</strong></p>

      <ul class="govuk-list" wiid="N141">
      <li wiid="N143">Telephone: 0800 587 1322</li>
      <li wiid="N146">Textphone: 0800 587 2986 (for deaf or hard of hearing users and customers with speech difficulties)</li>
      <li wiid="N149">Monday to Friday, 9am to 4pm (closed on public holidays)</li>
    </ul>

    <p wiid="N153"><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank" wiid="N154">Find out about call charges in Northern Ireland (opens in new tab)</a></p>

    </div>
  </div>

{% endblock %}
