
{% extends "layout-main.html" %}

{% block pageTitle %}
Pay off what you owe in full

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">




										<form class="form" action="pay-the-full-amount" >







											<div class="govuk-form-group">
												  <h1 class="govuk-label-wrapper">
													  <label class="govuk-label govuk-label--xl" for="affordable-amount">
                              Pay off what you owe in full
													</label>
												  </h1>
                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
                          <p>If you want to pay off a <strong>Universal Credit advance</strong> in your current claim, <a href="/v47/on-benefit/help-and-support">contact DWP Debt Management</a>.</p>

                          <p>You may have recently received a Universal Credit payment or have one due in the next 7 days. If so, wait for the deduction to appear in your <a href="/v47/on-benefit/payment-history">payment history</a> before paying off what you owe in full. This helps you avoid overpaying.</p>

												</div>






											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>





    </div>
</div>

{% endblock %}
