{% extends "layout-main.html" %}

{% block pageTitle %}
Payment options
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
<nav class="dwp-language-toggle" aria-label="Language toggle">
<ul class="dwp-language-toggle__list">
  <li class="dwp-language-toggle__list-item" aria-current="true">
    English
  </li>
  <li class="dwp-language-toggle__list-item">
    <a href="#"
      hreflang="cy"
      lang="cy"
      rel="alternate"
      class="govuk-link"
      aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
  </li>
</ul>
</nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">


    <form class="form" action="/payment-options-full-part" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

              <h1 class="govuk-heading-xl" style="margin-bottom:50px;">
                <!-- <span class="govuk-caption-l">Ashley Chamberlain</span> -->
                Choose a payment to make


              </h1>


   <!-- <div class="govuk-inset-text" >
     Total amount owed: <span class="total-amount">
       &pound;2,915.00
     </span>
   </div> -->
   <div id="contact-hint" class="govuk-heading-s">
Select what you want to do
</div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="payment-options-full-part" name="payment-options-full-part" type="radio" value="pay-in-full" {{ checked('paymentOptions','pay-in-full') }}>
              <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="whereDoYouLive">
                Pay off what you owe in full
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                This will clear the amount you owe.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="payment-options-full-part-2" name="payment-options-full-part" type="radio" value="pay-part" {{ checked('paymentOptions','setup-plan') }}>
              <label class="govuk-label govuk-radios__label govuk-!-font-weight-bold" for="whereDoYouLive-2">
                Make a smaller one-off payment
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  This will reduce the amount you have left to repay.
              </div>
            </div>



          </div>
        </fieldset>
        <br>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
