
{% extends "layout-main.html" %}

{% block pageTitle %}
How much do you want to pay today?
{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}


{% block content %}



	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">

          <div class="govuk-error-summary " data-module="govuk-error-summary" id="low-amount-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#low-amount-error">Enter an amount of £5.00 or more</a>
                  </li>

                </ul>
              </div>
            </div>
          </div>



          <form class="form" action="/v47/additional-amount-check" method="post"  >






											<div class="govuk-form-group govuk-form-group--error" id="how-much-you-want-to-pay">
												  <h1 class="govuk-label-wrapper">
													  <label class="govuk-label govuk-label--xl" for="affordable-amount">
                              How much do you want to pay today?

													</label>
												  </h1>
                          <div class="govuk-inset-text" style="border:none; padding-left:0;">
                            Total amount left to repay: <span class="total-amount">
                              &pound;215.00
                            </span>
                          </div>

                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
                          <p id="low-amount-error" class="govuk-error-message ">
                              <span class="govuk-visually-hidden">Error:</span>Enter an amount of £5.00 or more
                            </p>
												  <div class="govuk-input__wrapper">
													<div class="govuk-input__prefix" aria-hidden="true">£</div>
													<input class="govuk-input govuk-input--width-10 govuk-input--error" id="additional-amount" name="additional-amount" type="text" spellcheck="false" value="{{ data['additional-amount']}}">
												  </div>
												</div>







											<button class="govuk-button" data-module="govuk-button" >
											  Continue
											</button>
											</form>





    </div>
</div>

{% endblock %}
