
{% extends "layout-3.html" %}

{% block pageTitle %}
  You have successfully updated your repayments
{% endblock %}

{% block content %}


   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">








        <div class="govuk-panel govuk-panel--confirmation">
             <h1 class="govuk-panel__title">
              You have successfully updated your repayments
             </h1>



           </div>


        <!-- <p>Your monthly repayment amount has been updated based on how much you can afford. </p> -->



        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Summary</caption>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount left to repay</th>
              <td class="govuk-table__cell">£2915.00</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">New repayment amount</th>
              <td class="govuk-table__cell">      {% if data['selected-amount-choice'] == 'inital-amount' %}
                    {{ data['new-affordable-amount']|currency }}

                    {% else %}


                  {{ data['final-affordable-amount-v2']|currency }}

                  {% endif %}
  </td>
            </tr>
            <tr class="govuk-table__row">
              <!-- <th scope="row" class="govuk-table__header">Notification</th>
              <td class="govuk-table__cell">

{% if data['reminder-notification-payment-setup-done-yes-no']=='yes' %}

<b>Text message</b> <br><span class="textNumber">{{ data['contactByMobile'] }}</span>


               {% else %}


No

               {% endif %}

              </td> -->


            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Expected final repayment </th>
              <td class="govuk-table__cell"><script>
                  var  num1 = 2915.00;
                  var num2 = {{ data['final-affordable-amount'] }};
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script><br><br> If your repayments stay at {{ data['final-affordable-amount'] | currency }}</td>
            </tr> -->

          </tbody>
        </table>
<!-- <p>              Your monthly repayment amount will be updated to {{ data['final-affordable-amount'] | currency }}
</p> -->
<!--
        <p>Tell us  <a href="financial-situation-update"> your current financial situation.</a>  </p>
        <p>We will use this information to understand your financial situation better. This information will help us improve our processess & services.</p>
 -->



        <!-- <p >If you already have a Univeral Credit payment due in the next 7 days, your Universal Credit account may not show the updated amount until next month.

</p> -->


   <!--     <h2 class="govuk-heading-m">Plan summary</h2>

	  <table class="govuk-table mb40">
										  <caption class="govuk-table__caption"><span class="visually-hidden">Payment summary</span></caption>

										  <tbody class="govuk-table__body">


											<tr class="govuk-table__row">
										      <th scope="row" class="govuk-table__header">New Direct Debit amount</th>
										      <td class="govuk-table__cell" colspan="2">

										       &pound;{{ data['change-amount'] }}

										      </td>


											 </tr>


											<tr class="govuk-table__row">
												  <th scope="row" class="govuk-table__header">Next payment</th>
												  <td class="govuk-table__cell" colspan="2">

												   {% if data['paymentChoices']=='12Month'%}

												   &pound;125.00

												   {% elif data['paymentChoices']=='24Month'%}

												   &pound;63.00

												   {% elif data['paymentChoices']=='36Month'%}

												   &pound;42.00

												   {% elif data['paymentChoices']=='48Month'%}

												   &pound;31.50

												   {% elif data['paymentChoices']=='72Month'%}

												   &pound;21.00

												   {% elif data['paymentChoices']=='25Month'%}

												   &pound;15.00


												   {% else %}



												   {% endif %} on 6 July 2021


												  </td>


												 </tr>









										  </tbody>
										</table> -->


									<!--	<p>Your payments will show on your bank statement as <b>CEN REC GROUP DD</b>.</p> -->



                  <p class="govuk-inset-text">If you have a Universal Credit payment due in the next 7 working days, your Universal Credit account may not show the new amount until next month.</p>









<!--<p><a href="indexGuard" class="govuk-button">Finish</a></p>-->





       <!-- <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> -->

        <p class="govuk-heading-m ">Reviewing your repayments
</p>
        <p > We may contact you in the future to review your repayments and will send you a notification with further details.

      <p></p>
        <!-- <ul class="govuk-list govuk-list--bullet">

          <li>send you a notification before your review is due with further details </li>
          <li>ask you a few questions to learn more about your financial situation and agree a new repayment amount</li>

        </ul> -->

        <a href="/v42/account-improvement/on-benefit-flow-v1/account-home-affordable.html"><button class="govuk-button mt20 mb20" data-module="govuk-button">Go to account home</button></a>


    </div>
</div>

{% endblock %}
