
{% extends "layout-3.html" %}

{% block pageTitle %}
Your repayment  check

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">






			  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
				  <span class="govuk-caption-xl">Manage your repayments</span>
          We may contact you to review your repayments in the future

			  </h1>
        <!-- <p>We will ask you to check that you can still afford your repayments.</p> -->

        <!-- <div class="flexible-banner-float-none">
          <ul class="govuk-list">
            <li>
              <h3>You will need to do this by:
</h3>


              <span id="new-debts-amount"><b>
                <script>

                  var x = 12; //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                   document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                </script>
                </b></span>
            </li>

          </ul>
        </div> -->



        <!-- <div class="govuk-inset-text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Your repayments will go up if you do not check them in 12 months.
          </div> -->





    <p class="govuk-heading-m ">How to review your repayments</p>
<p>Reviewing your repayments means we will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>send you a notification before your review is due with further details </li>
      <li>ask you a few questions to learn more about your financial situation and agree a new repayment amount</li>
      <li>increase your repayments if you do not review them when we ask you to</li>

    </ul>


<p> </p>

<p class="govuk-inset-text">
You will be able to review and manage your repayments using this service or by calling us.
</p>

    <form class="form" action="would-you-like-to-receive-a-text-message-reminder-about-your-next-check" method="post">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>


	</div>
</div>

{% endblock %}
