
{% extends "layout-3.html" %}

{% block pageTitle %}
Check details before changing your payment plan
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    {% set paymentOptions = ddFixedChoice %}



    <form class="form" action="dd-setup-success" method="post">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
         Check details before changing your payment plan</h1>

        <table class="govuk-table mb40">
          <caption class="visually-hidden">Plan summary</caption>


          <tbody class="govuk-table__body">



            <h2 class="govuk-heading-m  ">Plan summary</h2>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Total amount left to pay</th>
              <td class="govuk-table__cell" colspan="2" >&pound;3,098.64
              </td>


            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Plan type</th>
              <td class="govuk-table__cell" colspan="2" >Monthly Direct Debit
              </td>


            </tr>
        </tbody>

        </table>
        <table class="govuk-table mb40">
          <caption class="visually-hidden">Plan summary</caption>


          <tbody class="govuk-table__body">

            <h2 class="govuk-heading-m govuk-!-padding-top-7 ">Payment details</h2>

            {% if data['paymentOptions']=='ddFixedChoice'%}




            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Direct Debit amount</th>
              <td class="govuk-table__cell"style="width:45%;" >


                    <p class="mb0">
                     {{data['new-dd-amount'] | currency}}
                    </p>


                  </td>

                  <td class="govuk-table__cell changeDetails">


                    <a href="edit-dd-amount">Change</a>


                  </td>


                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Final payment amount </th>
                  <td class="govuk-table__cell"style="width:45%;" >


                        <p class="mb0">
                          £<script>
                            function divide(num) { return num.toFixed(2); }

                            var  num1 = 3098.64 ;

                            var num2 = {{ data['new-dd-amount'] }};
                            var  result = Math.floor(num1 / num2);
                            var finalResult = num1 - num2 * result;
                            document.write(Math.round(finalResult * 100) / 100);
                          </script>
                        </p>


                      </td>

                      <td class="govuk-table__cell changeDetails">




                      </td>


                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Expected number of payments </th>
                      <td class="govuk-table__cell"style="width:45%;" >


                            <p class="mb0">
                              <script>
                                function divide(num) { return num.toFixed(2); }

                                var  num1 = 3098.64;

                                var num2 = {{ data['new-dd-amount'] }};

                                var  result = Math.floor(num1 / num2);
                                document.write(result);
                              </script>
                            </p>


                          </td>

                          <td class="govuk-table__cell changeDetails">




                          </td>


                        </tr>

              </tbody>

            </table>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">


            <table class="govuk-table">
              <caption class="visually-hidden">Payment dates</caption>
              <h3 class="govuk-heading-m">Payment dates </h3>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row" >
                  <th scope="row" class="govuk-table__header" style="width:45%;"> Direct Debit day </th>
                  <td class="govuk-table__cell" colspan="2" style="width:45%;">
                  {{data['new-dd-date'] }}
                  </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-direct-debit-day">Change</a></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Expected final payment</th>
                  <td class="govuk-table__cell" colspan="2">

                    <script>
                      var  num1 = 3098.64;
                      var num2 = {{ data['new-dd-amount'] }};
                      var x = Math.floor(num1 / num2); //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>



                   </td>
                  <td class="govuk-table__cell changeDetails"><a href="edit-direct-debit-day"></a></td>

                </tr>
              </tbody>

            </table>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">




            {% endif %}



            <div class="ddGuarantee">
              <h3 class="govuk-heading-s">The Direct Debit Guarantee</h3>

              <ul class="govuk-list govuk-list--bullet">
                <li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
                </li>
                <li>If there are any changes to the amount, date or frequency of your Direct Debit DWP will notify you 10 working
                  days in advance of your account being debited or as otherwise agreed. If you request DWP to collect a payment,
                  confirmation of the amount and date will be given to you at the time of request.</li>

                  <li>If an error is made in the payment of your Direct Debit, by DWP or your bank or building society,
                    you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                    – If you receive a refund you are not entitled to, you must pay it back when DWP asks you to.</li>
                    <li>You can cancel a Direct Debit at any time by simply contacting your bank or building society.
                      Written confirmation may be required. Please also notify us.</li>



                    </ul>
                  </div>




                  <h2 class="govuk-heading-m">Declaration</h2>

                  <p>By continuing, you confirm that you will:</p>

                  <ul class="govuk-list govuk-list--bullet mb30">

                    {% if data['paymentOptions']=='ddFixedChoice'%}
                    <li>pay the agreed monthly amount</li>
                    {% else %}
                    {% endif %}

                    {% if data['paymentOptions']=='flexyPayChoice'%}
                    <li>pay the agreed monthly amount</li>
                    {% else %}
                    {% endif %}


                    <li>let us know immediately if you’re struggling to keep up with payments</li>
                  </ul>



                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      If you do not keep up with your payments, we may ask your employer to make deductions from your pay, take debt enforcement action through the courts or ask a debt collection agency to collect this money for us.

                    </strong>
                  </div>


                 <!-- <div class="govuk-inset-text">
                    <p>Your bank may charge you interest if you pay by credit card.
                    </p>
                  </div> -->


                  <button class="govuk-button" data-module="govuk-button">
                    Continue and change Direct Debit
                  </button>





                </form>







              </div>
            </div>

            {% endblock %}
