
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment review
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}






<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <!-- <span class="govuk-caption-xl" wiid="N131">Ernie Smith</span> -->
    <h1 class="govuk-heading-xl" style="margin-bottom:50px;">Manage your monthly repayments</h1>





    <p> We can help you understand how much you can afford to repay each month. We will ask you some questions to learn more about your financial situation.
</p>

    <p class="govuk-heading-m">What you need to know about using this service</p>
    <p>You can:</p>
    <ol class="govuk-list govuk-list--bullet">

      <li>make changes to your monthly repayments</li>
      <li>manage repayments to DWP only - see the ‘Debts and loan repayments’ section of your Universal Credit statement</li>

    </ol>

  <p>You cannot:</p>
  <ol class="govuk-list govuk-list--bullet">
    <li>make additional payments or pay off the amount in full online - you need to call us on the number listed on our <a href="help-and-support">help and support page</a></li>
    <li>set up a payment plan - repayments are automatically deducted from your Universal Credit</li>
    <li>manage other deductions from your Universal Credit payment such as repayments for advances taken out during your current claim</li>

  </ol>

<p><a href="financial-situation" class="govuk-button">Continue</a></p>

</div>
</div>






{% endblock %}
