{% extends "layout-3" %}

{% block pageTitle %}
Have you registered for the Repay and manage benefit money you owe service?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="flexible-banner-float-none govuk-body">
        You'll need to have a letter or SMS from DWP or a message in your Universal Credit journal inviting to use this service.
      </div>
      <h1 class="govuk-heading-xl">
Have you registered for the Repay and manage benefit money you owe service?
      </h1><br>
      <p class="govuk-hint">
You cannot access this service using your Universal Credit account details.      </p>
      <form class="form" action="/on-benefit-payments-taken/is-registered" method="post">
<br>
        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">


      <div class="govuk-radios" data-module="govuk-radios">
        <!-- <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="security-code" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            Yes, I have code sent by DWP
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You can sign in with code sent to you in your invitation.


          </div>
        </div> -->
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in" name="is-registered" type="radio" value="yes" aria-describedby="sign-in-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in">
            Yes, I have registered


          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
            You can sign in with the details you used when you registered for this service.


          </div>
        </div>
        <!-- <div class="govuk-radios__divider">or</div> -->

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="sign-in-2" name="is-registered" type="radio" value="no" aria-describedby="sign-in-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="sign-in-2">
            No, I have not registered

          </label>
          <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
            You will need to verify your identity to register for this service.
          </div>
        </div>
      </div>
    </fieldset>
    <br>
    <!-- <p><a href="#">I have security code sent by DWP</a></p> -->
  </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
