
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		
		
		<h1 class="govuk-heading-xl">
			<span class="govuk-caption-xl">Payment plan review</span>
			Increase your payments</h1>
			

											
<div class="flexibleBanner">
	
	
	<ul class="govuk-list">

		
		<li>
			<h3>Payment amount</h3>
			<b>										    
	{% if data['changedFinance']=='changedFinanceYes'%}


	   {% if data['actionFinance']=='actionFinanceIncrease'%}
	   
			   {% if data['increasePayAmount']=='increase12Month'%}
				&pound;316.00
			{% elif data['increasePayAmount']=='increase24Month'%}  
				&pound;158.00
			{% elif data['increasePayAmount']=='increase36Month'%}  
				&pound;105.00
			{% elif data['increasePayAmount']=='increase48Month'%}  
				&pound;80.00
			{% elif data['increasePayAmount']=='increase72Month'%}  
				&pound;52.00
			{% else %}
				&pound;40.00 
			   {% endif %}
		  
	
	{% elif data['actionFinance']=='actionFinanceLower'%}
	  
	  &pound;{{ data['newLowerAmount'] }} 
	  
	  {% else %}	
	  &pound;30.00
   {% endif %}	


{% else %}

   {% if data['actionFinance']=='actionFinanceIncrease'%}

	  {% if data['increasePayAmount']=='increase12Month'%}
	   &pound;316.00
   {% elif data['increasePayAmount']=='increase24Month'%}  
	   &pound;158.00
   {% elif data['increasePayAmount']=='increase36Month'%}  
	   &pound;105.00
   {% elif data['increasePayAmount']=='increase48Month'%}  
	   &pound;80.00
   {% elif data['increasePayAmount']=='increase72Month'%}  
	   &pound;52.00
   {% else %}
	   &pound;40.00 
	  {% endif %}
 

{% else %}	
&pound;30.00
{% endif %}	
   

{% endif %}	
	
	</b>
		</li>


<li>
	<h3>Expected final payment</h3>
	<b>										    
	August 2028

</b>
</li>
		
		
		<li>
			<h3>Payment plan review</h3>
			<b>
			No longer needed
			
			
			</b>
		</li>

		
	</ul>
	
	</div>					
				
				
				<p>As you have increased your payments, you will no longer need a plan review. You will also come off the affordable payment plan.</p>	
				
				
			<div class="govuk-inset-text">
					
				<p>If your financial situation changes and you're struggling to keep up with your payments, you can change them at anytime by signing in and managing your plan.</div>
				

				
				<p><a href="reviewPlanSummary" class="govuk-button">Continue</a></p>
				
						
										

    </div>
</div>

{% endblock %}
