
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">
			
			<span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<span class="govuk-caption-xl">Payment plan review</span>
									<h1 class="govuk-heading-xl mb30">
										Your payments</h1>
										
									
									
								<p>Payment period: {{ data['paymentDay'] }} August 2022 &ndash; 15 August 2023</p>
										
										<div class="flexibleBanner">


											<ul class="govuk-list">
				
												<li>
													<h3>Total amount repaid</h3>


														<b>&pound;490.00</b>



												</li>
												
							
												
												
												<li>
													<h3>Total amount left to pay</h3>


														<b>&pound;3800.00</b>



												</li>
												
												
												<li>
													<h3>Expected final payment</h3>


														<b>March 2034</b>



												</li>
											</ul>
											
											
											
											</div>




<table class="govuk-table mb30">
	 
	 <caption class="govuk-heading-m alignCaption">Direct Debit &ndash; affordable payment plan</caption>
	 

			  
		

		  <tbody class="govuk-table__body">


			<!-- <tr class="govuk-table__row">
				   <th scope="row" class="govuk-table__header">Date period</th>
	 
					 
					 <td class="govuk-table__cell"> 4 July 2022 &ndash; 12 July 2023</td>
		   
				   
				  </tr> -->
				  
				  
				  <tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Direct Debit monthly amount</th>
		  
						  
						  <td class="govuk-table__cell">&pound;30.00</td>
				
						
					   </tr>
			 
			 
			 <tr class="govuk-table__row">
			  <th scope="row" class="govuk-table__header">Payments made</th>

				
				<td class="govuk-table__cell">12</td>
	  
			  
			 </tr>
			 
			 <tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Total amount repaid</th>
					
					
					
					<td class="govuk-table__cell">&pound;360.00</td>
	  
	  
				   </tr>
				   
		  </tbody>
</table>



			 
			 
		<table class="govuk-table mb40">
			 
			 <caption class="govuk-heading-m alignCaption">Additional payments</caption>
			 
			 
			 
			 <tr class="govuk-table__row">
			  <th scope="row" class="govuk-table__header">Payments made</th>
			  
			  
			  
			  <td class="govuk-table__cell">4</td>


			 </tr>
			 
			 <tr class="govuk-table__row">
				   <th scope="row" class="govuk-table__header">Total amount repaid</th>
				   
				   
				   
				   <td class="govuk-table__cell">&pound;130.00</td>
	 
	 
				  </tr>
				  

			 
			 
		  </tbody>
		  
</table>


<details class="govuk-details mt20" data-module="govuk-details">
	  <summary class="govuk-details__summary">
		<span class="govuk-details__summary-text">
		 View full payment history
		</span>
	  </summary>
	  <div class="govuk-details__text">

<table class="govuk-table summary-pay">
	
	
	<thead class="govuk-table__head">
	<tr class="govuk-table__row">
	
	 <th class="govuk-table__header" scope="col">Date of payment</th>
	
	 <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
	 
	 <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th>
	 
	
	</tr>
	</thead>
	
	<tbody class="govuk-table__body">
		
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} July 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
					  
					  
					  
				 
				 &pound;3800.00
				 
					  
					  
				  </td>
			 
			
			 
			
			</tr>
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} June 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
						 
						 
						 
					
					&pound;3830.00
					
						 
						 
					 </td>
			  
			 
			
			 
			
			</tr>
			
			
			
			<tr class="govuk-table__row">
				
				 
				 <td class="govuk-table__cell">12 May 2023</td>
				
				
				 <td class="govuk-table__cell govuk-table__cell--numeric">
					 
					 
					 
				
				&pound;40.00
				
					 
					 
				 </td>
				 
				 <td class="govuk-table__cell govuk-table__cell--numeric">
							
							
							
					   
					   &pound;3860.00
					   
							
							
						</td>
				 
				
				 
				
				</tr>
		
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} May 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
					   
					   
					   
				  
				  &pound;3900.00
				  
					   
					   
				   </td>
			 
			
			 
			
			</tr>
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} April 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
					  
					  
					  
				 
				 &pound;3930.00
				 
					  
					  
				  </td>
		   
			 
			
			 
			
			</tr>
			
			<tr class="govuk-table__row">
				
				 
				 <td class="govuk-table__cell">9 March 2023</td>
				
				
				 <td class="govuk-table__cell govuk-table__cell--numeric">
					 
					 
					 
				
				&pound;40.00
				
					 
					 
				 </td>
				 
				 
				 <td class="govuk-table__cell govuk-table__cell--numeric">
							 
							 
							 
						
						&pound;3960.00
						
							 
							 
						 </td>
				  
				 
				
				 
				
				</tr>
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} March 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
						
						
						
				   
				   &pound;4000.00
				   
						
						
					</td>
			 
			
			 
			
			</tr>
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} February 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
					   
					   
					   
				  
				  &pound;4030.00
				  
					   
					   
				   </td>
			 
			
			 
			
			</tr>
			
			
			
			<tr class="govuk-table__row">
				
				 
				 <td class="govuk-table__cell">15 January 2022</td>
				
				
				 <td class="govuk-table__cell govuk-table__cell--numeric">
					 
					 
					 
				
				&pound;30.00
				
					 
					 
				 </td>
				 
				 <td class="govuk-table__cell govuk-table__cell--numeric">
						  
						  
						  
					 
					 &pound;4060.00
					 
						  
						  
					  </td>
				 
				
				 
				
				</tr>	
		
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} January 2023</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
						 
						 
						 
					
					&pound;4090.00
					
						 
						 
					 </td>
			 
			
			 
			
			</tr>
			
			
			
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} December 2022</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
						
						
						
				   
				   &pound;4120.00
				   
						
						
					</td>
			 
			
			 
			
			</tr>
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">{{ data['paymentDay'] }} November 2022</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;30.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
					   
					   
					   
				  
				  &pound;4150.00
				  
					   
					   
				   </td>
			 
			
			 
			
			</tr>
		
		
	<tr class="govuk-table__row">
		
		 
		 <td class="govuk-table__cell">{{ data['paymentDay'] }} October 2022</td>
		
		
		 <td class="govuk-table__cell govuk-table__cell--numeric">
			 
			 
			 
		
		&pound;30.00
		
			 
			 
		 </td>
		 
		 <td class="govuk-table__cell govuk-table__cell--numeric">
				  
				  
				  
			 
			 &pound;4180.00
			 
				  
				  
			  </td>
		 
		
		 
		
		</tr>	
		
		
		
		
		<tr class="govuk-table__row">
			
			 
			 <td class="govuk-table__cell">20 September 2022</td>
			
			
			 <td class="govuk-table__cell govuk-table__cell--numeric">
				 
				 
				 
			
			&pound;20.00
			
				 
				 
			 </td>
			 
			 
			 <td class="govuk-table__cell govuk-table__cell--numeric">
						 
						 
						 
					
					&pound;4210.00
					
						 
						 
					 </td>
			 
			
			 
			
			</tr>	
		
		
		
	<tr class="govuk-table__row">
		
		 
		 <td class="govuk-table__cell">{{ data['paymentDay'] }} September 2022</td>
		
		
		 <td class="govuk-table__cell govuk-table__cell--numeric">
			 
			 
			 
		
		&pound;30.00
		
			 
			 
		 </td>
		 
		 
		 <td class="govuk-table__cell govuk-table__cell--numeric">
					
					
					
			   
			   &pound;4230.00
			   
					
					
				</td>
		 
		
		 
		
		</tr>	
		
		
		
	<tr class="govuk-table__row">
		
		 
		 <td class="govuk-table__cell">{{ data['paymentDay'] }} August 2022</td>
		
		
		 <td class="govuk-table__cell govuk-table__cell--numeric">
			 
			 
			 
		
		&pound;30.00
		
			 
			 
		 </td>
		 
		 
		 <td class="govuk-table__cell govuk-table__cell--numeric">
				   
				   
				   
			  
			  &pound;4260.00
			  
				   
				   
			   </td>
		 
		
		 
		
		</tr>	
	
	
	 <tr class="govuk-table__row">
	
	 
	 <td class="govuk-table__cell">{{ data['paymentDay'] }} July 2022</td>
	
	
	 <td class="govuk-table__cell govuk-table__cell--numeric">
		 
		 
		 
	
	&pound;30.00
	
		 
		 
	 </td>
	 
	 
	 
	 <td class="govuk-table__cell govuk-table__cell--numeric">
			  
			  
			  
		 
		 &pound;4290.00
		 
			  
			  
		  </td>
	 
	 
	
	 
	
	</tr>
	
	
	
	
	
	   
	</tbody>
	</table>

	  </div>
	</details>
	
	

<h2 class="govuk-heading-m mt40">Summary</h2>
<p>You have met your Direct Debit amount of &pound;30.00 each month and have made 4 additional payments totalling &pound;130.00.</p>
<p>Your average monthly payments for August 2022 &ndash; August 2023 have been &pound;40.00. If you continue paying these amounts, your expected final payment will be 2 months earlier.</p>

<div class="govuk-inset-text">
<!--<h3 class="govuk-heading-m">How to come off the affordable payment plan</h3>-->
<p>If you want to come off the affordable payment plan, you would need to pay a minimum of &pound;52.00 each month.</p>
</div>


<p class="mt40"><a href="reviewStep2" class="govuk-button">Continue</a></p>





    </div>
</div>

{% endblock %}
