{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <div  class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content"   >

        <h3>          Direct Debits

        </h3>
        <p  >You will not be able to set up a Direct Debit from 11:45pm on Saturday 12 July to 3:45pm on Sunday 14 July 2025.

    </p>





      </div>
    </div>

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          David Jones
        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to pay: <span class="total-amount">
          &pound;750.00

        </span>



      </div>


    </div>




    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half">


  			 <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Flexible payment plan</h2>

  					   <div class="scenario-inner-panel">

  					  <p class="activeMonth">Active month: <b id="date">

                <script>
           const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

           const d = new Date();
           let month = months[d.getMonth()];

           document.getElementById("date").innerHTML = month + " " + d.getFullYear() ;



           </script>


              <!-- <div id="red-banner" class="payment-info alert-red">
                      <p>You did not make a payment for:<br><strong>January 2024</strong></p>
                    </div>-->

<!-- Blue banner -->

  							  <div class="flexible-banner-float-none alert-green">


  							  <ul class="govuk-list">






  								  <li>

  										   <h3>Monthly target</h3>
  										  <b>&pound;15.00</b>



  								  </li>

  								  <li>
  									  <h3>Paid this month</h3>
  									  <b>&pound;10.00</b>
  								  </li>




  							  </ul>



  							  </div>




<p>
<a href="payment-history">
  View your payment history
</a></p><p><a href="payment-history">
  Switch to Direct Debit Payment plan
</a> </p>


  					   </div>
  				   </div>










  		  </div>



      <div class="govuk-grid-column-one-half">



          <div class="scenario-panel" style="height:353px;">
               <h2 class="govuk-heading-s">Make additional payments</h2>


               <div class="scenario-inner-panel">





                   <!-- <table class="govuk-table">

                  <tbody class="govuk-table__body">


                   <!-- <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total payments</th>
                    <td class="govuk-table__cell">


                     15
                    </td>
                   </tr> -->


                   <!-- <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total amount left to repay</th>
                    <td class="govuk-table__cell">



                    &pound;2,915.00


                    </td>
                    </tr>






                  </tbody>
                  </table> -->

                  <p>Additional payments are voluntary and help you pay off what you owe quicker.</p>
                  <p><a href="additional-payment/pay-full-amount-start">
                    Pay off what you owe in full
                   </a> </p><p><a href="additional-payment/make-an-additional-payment-test2">
                    Make a smaller one-off payment
                   </a> </p><p>
                     <p>

                  </p>


        </div>
          </div>






      </div>

  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:222px;">
  					   <h2 class="govuk-heading-s">What you owe</h2>

  					   <div class="scenario-inner-panel">
  						<p>Details of the money you owe.</p>

<br>

  					  <p>
              <a href="details-of-what-you-owe">View details of what you owe</a>
  				   </div>




  		  </div>







  	  </div>

      <div class="govuk-grid-column-one-half">

        <div class="scenario-panel" style="height:220px;">
             <h2 class="govuk-heading-s">Help and support</h2>

             <div class="scenario-inner-panel">
            <p>You can contact us for general help and support.</p>
  <br>
  <p>  					  <a href="help-and-support" >Get help and support</a>
  </p>
             </div>
           </div>




      </div>

    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
