{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div  class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content" >
            <h2 class="govuk-heading-l" style="max-width:1020px;" >
              You did not make a payment for February 2024
            </h2>
            <p style="max-width:none;">You need to make a payment this month or contact us for help if you're struggling to pay.</p>
            <button type="submit" class="govuk-button" data-module="govuk-button">
      Make a flexible payment
    </button>

          </div>
        </div>

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          David Jones
        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to pay: <span class="total-amount">
          &pound;750.00

        </span>



      </div>


    </div>


    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half">


  			 <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Payment plan details</h2>

  					   <div class="scenario-inner-panel" style="height:315px;">




              <!-- <div id="red-banner" class="payment-info alert-red">
                      <p>You did not make a payment for:<br><strong>January 2024</strong></p>
                    </div>-->

<!-- Blue banner -->

  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Plan type</th>
                     <td class="govuk-table__cell">


                      	Flexible payments
                     </td>
                    </tr>
  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Monthly target</th>
  									<td class="govuk-table__cell">


                      £10.00
  									</td>
  								 </tr>

                   <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Active month</th>
                    <td class="govuk-table__cell" id="date">


                      <script>
                 const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

                 const d = new Date();
                 let month = months[d.getMonth()];

                 document.getElementById("date").innerHTML = month + " " + d.getFullYear() ;



                 </script>

                    </td>
                   </tr>


  								</tbody>
  							  </table>

  							  <!-- <div class="flexible-banner-float-none alert-green">


  							  <ul class="govuk-list">






  								  <li>

  										   <h3>Monthly target</h3>
  										  <b>&pound;15.00</b>



  								  </li>

  								  <li>
  									  <h3>Paid this month</h3>
  									  <b>&pound;10.00</b>
  								  </li>




  							  </ul>



  							  </div> -->

<!-- <p class="govuk-inset-text">You will not be penalised if you do not meet your target this month.

</p> -->



  					  <span style="font-weight:normal;"><a href="#" class="secondary-invert">Switch to Direct Debit payment plan</a></span>




  					   </div>
  				   </div>










  		  </div>


  		<div class="govuk-grid-column-one-half">



  			  <div class="scenario-panel" style="height:414px;">
  					   <h2 class="govuk-heading-s">Payment summary</h2>


  					   <div class="scenario-inner-panel">

<!--
                 <div id="green-banner" class="alert-green">
<p> <strong>You have 1 payment pending</strong></p>
                         <p>Payments can take 2 to 5 working days to clear and update your balance.</p>
                       </div> -->


  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">


  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Payments made</th>
  									<td class="govuk-table__cell">


  								   35
  									</td>
  								 </tr>

                   <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Paid this month</th>
                   <td class="govuk-table__cell">



                       £0.00



                   </td>
                   </tr>

  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total amount repaid</th>
  									<td class="govuk-table__cell">



  								  &pound;354.00


  									</td>
  								  </tr>










  								</tbody>
  							  </table>

                  <span style="font-weight:normal;"><a href="#" class="secondary-invert">Make a flexible payment</a></span>


  					   <span style="font-weight:normal;"><a href="#" class="secondary-invert mt10">View your payment history</a></span>


  		  </div>
  			  </div>






  		</div>


  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:222px;">
  					   <h2 class="govuk-heading-s">What you owe</h2>

  					   <div class="scenario-inner-panel">
  						<p>Details of the money you owe.</p>

<br>

  					   <span style="font-weight:normal;"><a href="#" class="secondary-invert dash-spacer">View details of what you owe</a></span>
  					   </div>
  				   </div>




  		  </div>







  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
  						<p>Get help if you're struggling to pay and find<br>out what to do next.</p>

  					   <span style="font-weight:normal;"><a href="#" class="secondary-invert">Get help and support</a></span>
  					   </div>
  				   </div>




  		  </div>



  		</div>




  	  </div>
    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
