
{% extends "layout-main.html" %}

{% block pageTitle %}
Details of what you owe
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to account home",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}



{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">



									<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Details of what you owe</h1>

                  <!-- <div class="govuk-inset-text">
         			 Total amount owed: <span class="total-amount">
         			&pound;1139.10

         									 </span>


         			</div>-->



                            {% if data['deductionChange']=='DyesChange'%}

                            <div class="govuk-inset-text">
                              Total amount left to repay: <span class="total-amount">
                                &pound;600.00

                              </span>



                            </div>


                            <div class="flexible-banner-float-none">
                              <ul class="govuk-list">
                                <li>
                                  <h3>New payment</h3>
                                  <span id="total-amount"><b>£{{ data['newDeductedAmount'] }}</span>
                                </li>
                              </ul>

                              <p>Your account will be updated within the next 7 days.
                            </p>
                            </div>
              {% else %}

              <div class="govuk-inset-text">
                Total amount left to repay: <span class="total-amount">
                  &pound;2980.00

                </span>



              </div>
  {% endif %}
 <div class="govuk-accordion mb50" data-module="govuk-accordion" id="accordion-with-summary-sections">



 	<div class="govuk-accordion__section ">
 		  <div class="govuk-accordion__section-header">
 			<h2 class="govuk-accordion__section-heading">
 			  <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
 				Universal Credit
 			  </span>
 			 </h2>



 		<div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
 			Overpayment (joint)
 			</div>

 		  </div>
 		  <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">



 		  <div class="flexible-banner-float-none">





 				 <table class="govuk-table">

 			   <caption class="visually-hidden">Overpayment detail</caption>





 					<tbody class="govuk-table__body">


 					<tr class="govuk-table__row">
 						 <th scope="row" class="govuk-table__header">Overpayment period</th>
 						  <td class="govuk-table__cell"> 	1 September 2023 to 30 December 2023</td>
 						</tr>

            <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Original amount owed</th>
                <td class="govuk-table__cell">&pound;3175.00</td>
              </tr>
 							 <tr class="govuk-table__row">
 								  <th scope="row" class="govuk-table__header">Current amount owed</th>
 								   <td class="govuk-table__cell">&pound;2980.00</td>
 								 </tr>




 					</tbody>

 		  </table>



 		  <!-- <h4 class="govuk-heading-s">Final payment date</h4>


 			<p>If your current repayment amount stays at £10.00 you will clear this Tax Credits overpayment in

         <script>
          var  num1 = 170.00;
          var num2 =  10;
          var x = Math.floor(num1 / num2); //or whatever offset
          var CurrentDate = new Date();
          console.log("Current date:", CurrentDate);
          CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
        </script>.
       </p> -->

       <h4 class="govuk-heading-s">Overpayment reason</h4>
      <p>
      You were overpaid because you or your partner earned too much from employment, either full time or part time.</p>
      <p>You were sent a letter about your overpayment on 5 January 2024.</p>

      <h4 class="govuk-heading-s">Money you owe with your partner
      </h4>
      <p>
      This amount is shared with your partner so you're both responsible for the repayments.

      The total amount will show on your account and also your partner's. </p>


 		  </div>

 	 <p>You can check your Universal Credit journal if you have access to it for more details, or contact Universal Credit:</p>


 	 <ul class="govuk-list">
 	   <li>Telephone: 0800 012 1331</li>
      <li>Textphone: 0800 012 1441 (for deaf or hard of hearing users and customers with speech difficulties)</li>


       <li>Monday to Friday, 10am to 4pm (closed on bank holidays)</li>
 	 </ul>

  <p class="govuk-body">
    <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
  </p>

 		  </div>
 		</div>









</div>
 <!-- // Accordian end -->


 		  <h4 class="govuk-heading-m">Universal Credit repayments</h4>
      <!-- <h4 class="govuk-heading-s">Universal Credit</h4> -->


<p>If you have any other deductions from your Universal Credit payment, they cannot be managed on this service. For example, any repayments for an advance taken out during your current claim.  </p>
<p>


  <!-- If you owe money to Universal Credit as part of a joint claim, it will be included in the total amount but will not show in the details of what you owe as that cannot be managed on this service. -->


</p>
<p>For more information, refer to your Universal Credit statement.</p>



    </div>
</div>

{% endblock %}
