{% extends "layout-3.html" %}

{% block pageTitle %}
  The amount you have left over
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
      {% set totalspending = data['spending-debt']|float + data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
      {% set balance = totalIncome-totalspending %}

      {% set enteredAmount = data['new-affordable-amount-v2'] %}
      {% set differenceBetween = 65-enteredAmount %}
      {% set newAmount = enteredAmount+differenceBetween %}

      {% set balancewithEnteredAmount = balance + enteredAmount %}

      {% set nagativebalance = totalIncome-totalspending %}
      {% set balance = totalIncome-totalspending %}

      <span class="govuk-caption-xl" wiid="N131">Manage your repayments</span>
      <h1 class="govuk-heading-xl" style="margin-bottom:50px;">Your monthly income and spending summary </h1>


    


       <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key" style="width:50% !important;">
             Total income
           </dt>
           <dd class="govuk-summary-list__value" style="width:30%; !important">
             {{ totalIncome|currency }}
                    </dd>
           <dd class="govuk-summary-list__actions" style="width:20%; !important">
             <a class="govuk-link" href="income-changed">Change<span class="govuk-visually-hidden"> name</span></a>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key" style="width:50%; !important">
               Total spending
           </dt>
           <dd class="govuk-summary-list__value" style="width:30%; !important">


             {{ totalspending|currency}}


            </dd>
           <dd class="govuk-summary-list__actions" style="width:20%; !important">
             <a class="govuk-link" href="spending-changed">Change<span class="govuk-visually-hidden"> date of birth</span></a>
           </dd>
         </div>


       </dl>

{% if balance >= 0 %}


<form action="how-much-can-you-afford-to-repay.html">

  <input type="hidden" id="left-out-balance" name="leftOutBalance-v2" value="{{ balance }}">

<button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
</button>
</form>

{% else %}
 <form action="negative-income">
<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>


{% endif %}







    </div>
  </div>

{% endblock %}
