
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment review
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}






<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl" wiid="N131">Manage your repayments</span>
    <h1 class="govuk-heading-xl" style="margin-bottom:50px;">Understand how much you can afford to repay</h1>



    <p> To help you understand how much you can afford to repay each month, you will need to enter your monthly household income and spending.

    </p>



    <p><a href="income" class="govuk-button">Continue</a></p>

  </div>
</div>






{% endblock %}
