
{% extends "layout-3.html" %}

{% block pageTitle %}
What this change will mean for you


{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}





	   <div class="govuk-grid-row">
       <div class="govuk-grid-column-full">

        <div class="govuk-grid-column-three-quarters" style="padding:0px;">


          {% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
          {% set totalspending = data['spending-debt']|float + data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
          {% set balance = totalIncome-totalspending %}
          {% set newBalance = totalspending-totalIncome %}

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Manage your repayments</span>

  What this change will mean for you </h1>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">



    {% if data['selected-amount-choice'] == 'inital-amount' %}
    <div class="flexible-banner-playback">
      <ul class="govuk-list">


        <li>
          <h3>New monthly repayment:</h3>
          <span id="new-debts-amount"><b>{{ data['new-affordable-amount']|currency }}</b></span>
          <p><a onclick="history.back()">Change</a></p>
        </li>

      </ul>
    </div>

  </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <table class="govuk-table">


    <caption class="govuk-table__caption govuk-table__caption--m ">DWP repayments
</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
       <th scope="col" class="govuk-table__header">Current</th>
          <th scope="col" class="govuk-table__header">New</th>

        </tr>
      </thead>
    <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total amount left to pay

      </th>
      <td class="govuk-table__cell govuk-table__cell">&pound;2915.00</td>
      <td class="govuk-table__cell govuk-table__cell">&pound;2915.00</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Monthly repayment
        <!-- <div id="sign-in-hint" class="govuk-hint">
    These appear under Debts and loans repayments on your Universal Credit statement.
        </div></th> -->
        <td class="govuk-table__cell govuk-table__cell">&pound;65.00</td>

      <td class="govuk-table__cell govuk-table__cell">{{ data['new-affordable-amount']|currency }}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated repayments remaining
        </th>
        <td class="govuk-table__cell govuk-table__cell">46</td>
      <td class="govuk-table__cell govuk-table__cell"><script>
        function divide(num) { return num.toFixed(2); }

        var  num1 = 2915.00;

        var num2 = {{ data['new-affordable-amount'] }};

        var  result = Math.floor(num1 / num2);
         document.write(result);
      </script></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Expected final repayment
        <!-- <div id="sign-in-hint" class="govuk-hint">
          This date may change based on when your next payment is taken
        </div> -->
      </th>
        <td class="govuk-table__cell govuk-table__cell">
          <script>
            var  num1 = 2915.00;
            var num2 = 65;
            var x = Math.floor(num1 / num2); //or whatever offset
            var CurrentDate = new Date();
            console.log("Current date:", CurrentDate);
            CurrentDate.setMonth(CurrentDate.getMonth() + x);
             document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
          </script>

        </td>

      <td class="govuk-table__cell govuk-table__cell">
        <script>
          var  num1 = 2915.00;
          var num2 = {{ data['new-affordable-amount'] }};
          var x = Math.floor(num1 / num2); //or whatever offset
          var CurrentDate = new Date();
          console.log("Current date:", CurrentDate);
          CurrentDate.setMonth(CurrentDate.getMonth() + x);
          document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
        </script>

      </td>
    </tr>


    </tbody>
    </table>

{% else %}
<div class="flexible-banner-playback">
  <ul class="govuk-list">


    <li>
      <h3>Monthly repayment:</h3>
      <span id="new-debts-amount"><b>{{ data['final-affordable-amount-v2']|currency }}</b></span>
      <p><a class="govuk-link" href="negative-income">Change</a></p>
    </li>

  </ul>
</div>
</div>

<!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden"> -->
<table class="govuk-table">


<!-- <caption class="govuk-table__caption govuk-table__caption--m ">DWP repayments
</caption> -->
<thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header">New</th>

    </tr>
  </thead>
<tbody class="govuk-table__body">

<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Total amount left to pay

  </th>
  <td class="govuk-table__cell govuk-table__cell"></td>
  <td class="govuk-table__cell govuk-table__cell">&pound;2,915.00</td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Monthly repayment
    <!-- <div id="sign-in-hint" class="govuk-hint">
These appear under Debts and loans repayments on your Universal Credit statement.
    </div></th> -->
    <td class="govuk-table__cell govuk-table__cell"></td>

  <td class="govuk-table__cell govuk-table__cell">{{ data['final-affordable-amount-v2']|currency }}</td>
</tr>

<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Amount you have left over after repayments

    <!-- <div id="sign-in-hint" class="govuk-hint">
      This date may change based on when your next payment is taken
    </div> -->
  </th>
    <td class="govuk-table__cell govuk-table__cell">
     

    </td>

  <td class="govuk-table__cell govuk-table__cell">

    {% set enteredAmount = data['final-affordable-amount-v2']  %}
    {% set repaymentBalance = 65-enteredAmount  %}
    {% set newBalance2 = newBalance - repaymentBalance %}

    {% if newBalance2 > 0 %}


Your spending is {{ newBalance2|currency}} more than your income each month


        {% else %}

        {% set newBalance2 = repaymentBalance - newBalance %}

        £145.00



    {% endif %}



  </td>
</tr>



<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Estimated repayments remaining
    </th>
    <td class="govuk-table__cell govuk-table__cell"></td>
  <td class="govuk-table__cell govuk-table__cell"><script>
    function divide(num) { return num.toFixed(2); }

    var  num1 = 2915.00;

    var num2 = {{ data['final-affordable-amount-v2'] }};

    var  result = Math.floor(num1 / num2);
     document.write(result);
  </script></td>
</tr>
<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">Expected final repayment date
    <!-- <div id="sign-in-hint" class="govuk-hint">
      This date may change based on when your next payment is taken
    </div> -->
  </th>
    <td class="govuk-table__cell govuk-table__cell">
     

    </td>

  <td class="govuk-table__cell govuk-table__cell">
    <script>
      var  num1 = 2915.00;
      var num2 = {{ data['final-affordable-amount-v2'] }};
      var x = Math.floor(num1 / num2); //or whatever offset
      var CurrentDate = new Date();
      console.log("Current date:", CurrentDate);
      CurrentDate.setMonth(CurrentDate.getMonth() + x);
      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
    </script>

  </td>
</tr>


<!-- Comment from there if needed -->



</tbody>
</table>
{% endif %}


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
    <p><a href="summary-negative" class="govuk-button mb0">Continue</a></p>

										<!-- <p><a href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check-negative" class="govuk-button mb0">Continue</a></p> -->



    </div>
</div>

{% endblock %}
