{% extends "layout-3.html" %}

{% block pageTitle %}
  Enter income
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income </span>

        Your monthly income
      </h1>
<br>      <h1 class="govuk-heading-l"><span class="govuk-body">Total<br></span>
  {% set totalIncome = data['income-monthly']|float + data['benefits']|float + data['pension']|float + data['other-income']|float %}

  {{ totalIncome|currency }}





  </h1>
<div class="govuk-form-group">

  <dl class="govuk-summary-list">

    {% if data['income-monthly'] > 0 %}

  <div class="govuk-summary-list__row " id="monthly-income-row" >
    <dt class="govuk-summary-list__key">
       Income from earnings
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['income-monthly']|currency }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="income-details-monthly">Change<span class="govuk-visually-hidden"> monthly income</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">

<!-- Button logic -->
          <form class="form"   method="post">
    <fieldset class="visually-hidden">
    <legend>Hidden field</legend>

    <div>
      <input id="yesChange" name="type-of-input" type="radio" value="monthly-income" checked="checked">
      <label for="yesChange">Yes</label>
      </div>

      <div>
      <input id="noChange" name="type-of-input" type="radio" value="monthly-income">
      <label for="noChange">No</label>
      </div>

      </fieldset>

      <button style=" background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: GDS Transport, arial, sans-serif;
  font-size:19px;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;">Remove</button>



     </form>
     <!-- End of button logic -->


        </li>
      </ul>
    </dd>
  </div>
{% endif %}

{% if data['benefits'] > 0 %}


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Benefit payments
    </dt>
    <dd class="govuk-summary-list__value">
    {{ data['benefits']|currency }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="income-details-benefits">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <!-- Button logic -->
                    <form class="form"   method="post">
              <fieldset class="visually-hidden">
              <legend>Hidden field</legend>

              <div>
                <input id="yesChange" name="type-of-input" type="radio" value="removeBenefit" checked="checked">
                <label for="yesChange">Yes</label>
                </div>

                <div>
                <input id="noChange" name="type-of-input" type="radio" value="removeBenefit">
                <label for="noChange">No</label>
                </div>

                </fieldset>

                <button style=" background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            font-family: GDS Transport, arial, sans-serif;
            font-size:19px;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;">Remove</button>



               </form>
               <!-- End of button logic -->
             </li>
      </ul>
    </dd>
  </div>

{% endif %}

{% if data['pension'] > 0 %}


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Pension income
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['pension']|currency }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="income-details-pension">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <!-- Button logic -->
                    <form class="form"   method="post">
              <fieldset class="visually-hidden">
              <legend>Hidden field</legend>

              <div>
                <input id="yesChange" name="type-of-input" type="radio" value="pension" checked="checked">
                <label for="yesChange">Yes</label>
                </div>

                <div>
                <input id="noChange" name="type-of-input" type="radio" value="pension">
                <label for="noChange">No</label>
                </div>

                </fieldset>

                <button style=" background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            font-family: GDS Transport, arial, sans-serif;
            font-size:19px;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;">Remove</button>



               </form>
               <!-- End of button logic -->
        </li>
      </ul>
    </dd>
  </div>
  {% endif %}

  {% if data['other-income'] > 0 %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Other income
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['other-income']|currency }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="income-details-other-income">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <!-- Button logic -->
                    <form class="form"   method="post">
              <fieldset class="visually-hidden">
              <legend>Hidden field</legend>

              <div>
                <input id="yesChange" name="type-of-input" type="radio" value="other" checked="checked">
                <label for="yesChange">Yes</label>
                </div>

                <div>
                <input id="noChange" name="type-of-input" type="radio" value="other">
                <label for="noChange">No</label>
                </div>

                </fieldset>

                <button style=" background: none!important;
            border: none;
            padding: 0!important;
            /*optional*/
            font-family: GDS Transport, arial, sans-serif;
            font-size:19px;
            /*input has OS specific font-family*/
            color: #069;
            text-decoration: underline;
            cursor: pointer;">Remove</button>



               </form>
               <!-- End of button logic -->        </li>
      </ul>
    </dd>
  </div>
  {% endif %}

</dl>

</div>

<form action="/income-list/yes-no" method="post" novalidate action="">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="add-another-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
        Do you need to add any other income?
      </legend>

      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another" name="add-another-income" type="radio" value="Yes">
          <label class="govuk-label govuk-radios__label" for="add-another">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="add-another-2" name="add-another-income" type="radio" value="No">
          <label class="govuk-label govuk-radios__label" for="add-another-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>




    </div>
  </div>

{% endblock %}
