
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment review
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}






	<div class="govuk-grid-row">

		 <div class="govuk-grid-column-three-quarters">


			<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Manage your repayments
</h1>


				<p> To help you understand how much you can afford to repay each month, we will ask you a few questions to learn more about your financial situation.

</p>
<p></p>

<p class="govuk-heading-s">What you will need</p>
<p>You will need information about your monthly household income and expenditure.</p>

<!-- <ol class="govuk-list govuk-list--bullet">
  <li>income details (if any)</li>
  <li>income details (if any)</li>





</ol> -->


				<p><a href="financial-situation" class="govuk-button">Continue</a></p>

		 </div>
	</div>






{% endblock %}
