{% extends "layout-3.html" %}

{% block pageTitle %}
Do you want to continue using your security code to sign in?

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}





<div class="govuk-grid-row">

	<div class="govuk-grid-column-three-quarters">




		<form class="form"
			action="/version-40/uc-claim-ended/scenario-1/important-information-about-manage-money-you-owe"
			method="post">





			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<span class="govuk-caption-xl"></span>
					<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
						Payment options
					</h1>


					<div class="govuk-inset-text">
						Total amount owed: <br><span class="total-amount">£4,460.37</span>
					</div>


					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset" aria-describedby="signIn-hint">

							<div class="govuk-radios" data-module="govuk-radios">
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="signIn" name="signIn" type="radio"
										value="government-gateway" aria-describedby="signIn-item-hint">
									<label class="govuk-label govuk-radios__label" for="signIn">
										Pay the full amount
									</label>
									<div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
										A payment will be taken which will clear the amount you owe.
									</div>
								</div>
								<div class="govuk-radios__item">
									<input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio"
										value="govuk-one-login" aria-describedby="signIn-2-item-hint">
									<label class="govuk-label govuk-radios__label" for="signIn-2">
										Set up a payment plan
									</label>
									<div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
										Pay how much you can afford in a way that suits you - either by Direct Debit or
										flexible payments.
									</div>
								</div>
							</div>
						</fieldset>
					</div>

				</fieldset>

				<br>

				<a href="" class="govuk-button">Continue</a>

			</div>


		</form>



	</div>
</div>

{% endblock %}