{% extends "layout-3a.html" %}

{% block pageTitle %}
Sign in to your Repay and manage benefit money you owe account
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">




		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
			data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p class="govuk-notification-banner__heading">

					You will need to <a href="register-new-account">register to use this service</a> as you cannot sign
					in with your Universal Credit account details.


				</p>

			</div>
		</div>

		<form class="form" action="/version-40/sign-in" method="post">





			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						<h1 class="govuk-fieldset__heading">
							Sign in to your Repay and manage benefit money you owe account
						</h1>
					</legend>

					<!-- <p class="govuk-hint">                  You'll need to have a letter from DWP or a message in your Universal Credit journal inviting you to use this service.
</p> -->
					<br>
					<div class="govuk-radios">

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="inRegister" name="sign-in-new" type="radio"
								value="sign-in-oidv" aria-describedby="sign-in-item-hint">
							<label class="govuk-label govuk-radios__label" for="inRegister">
								<b>

									Sign in with the email address you used when you registered for this service</b>
							</label>
							<div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">

								You cannot sign in with your Universal Credit account details.

							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="inSecurity" name="sign-in-new" type="radio"
								aria-describedby="sign-in-2-item-hint" value="security-code">
							<label class="govuk-label govuk-radios__label" for="inSecurity">
								<b>

									Sign in with the security code on the invitation letter</b>
							</label>
							<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">

								You can sign in using a security code if you have one. </div>
						</div>





						<!--  <div class="govuk-radios__divider">or</div>

										  <div class="govuk-radios__item">
											  <input class="govuk-radios__input" id="sign-in-3" name="inSign" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
											  <label class="govuk-label govuk-radios__label" for="sign-in-3">
											  <b>Register an account</b>
											  </label>
											  <div id="sign-in-3-item-hint" class="govuk-hint govuk-radios__hint">
											 You will need to verify your identity.
											  </div>
											</div>
										  -->

					</div>

				</fieldset>
			</div>

			<!--<button class="govuk-button" data-module="govuk-button">
				Continue
			</button>-->
		</form>



		<a href="sign-in-security-code" class="govuk-button">Continue</a>






	</div>
</div>

{% endblock %}