
{% extends "layout-3.html" %}

{% block pageTitle %}
Your payment plan is set up
{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Your contact preferences have been updated
      </h1>


    </div>

<p class="govuk-heading-m">What happens next</p>
<p>We will contact you each month to let you know a payment is due.</p>

<p class="govuk-heading-m">Change your UK phone number</p>

  <p>If you want to make changes to your UK contact phone number, call Debt Management.
  </p>

       <h2 class="govuk-heading-s ">Debt Management</h2>
     <ul class="govuk-list">
       <li>Telephone: 0800 916 0647</li>
       <li>Textphone: 0800 916 0651</li>
       <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
     </ul>
     <p class="govuk-body">
       <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges  (opens in new tab)</a>
     </p>










        <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service? (opens in new tab)</a>
      </p>
      <p><a href="/v45/flex-payments/account-home-after-change.html" class="govuk-button">Go to Account home</a></p>



    </div>
  </div>

  {% endblock %}
