
{% extends "layout-3.html" %}

{% block pageTitle %}
Your payment plan has been changed

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">

       <h1 class="govuk-panel__title">
        Your payment plan has been changed
      </h1>
      <div class="govuk-panel__body">

        You will be sent confirmation of this agreement within 3 working days or no later than 10 working days before the first payment

      </div>

    </div>



            <table class="govuk-table mb40">


              <h2 class="govuk-heading-m govuk-!-padding-top-7">Plan summary </h2>

              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Payment type</th>
                  <td class="govuk-table__cell">Monthly flexible payments
                  </td>
                  <td class="govuk-table__cell changeDetails"></td>

                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Total amount owed</th>
                  <td class="govuk-table__cell" colspan="2">&pound; 3,098.64
                  </td>


                </tr>
              </tbody>
            </table>
            <table class="govuk-table mb40">


              <h2 class="govuk-heading-m govuk-!-padding-top-7">Payment details</h2>

                <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Monthly target</th>
                  <td class="govuk-table__cell" style="width:47%;">

                    {{data['custom-amount'] | currency}}
                  </td>

                  <td class="govuk-table__cell"> </td>


                </tr>

                <!-- <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Final payment amount</th>
                  <td class="govuk-table__cell">

                    £<script>
                      function divide(num) { return num.toFixed(2); }

                      var  num1 = 3098.64 ;

                      var num2 = {{ data['custom-amount'] }};
                      var  result = Math.floor(num1 / num2);
                      var finalResult = num1 - num2 * result;
                      document.write(Math.round(finalResult * 100) / 100);
                    </script>
                  </td>

                  <td class="govuk-table__cell "> </td>


                </tr> -->
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Expected number of payments</th>
                  <td class="govuk-table__cell">

                    <script>
                      function divide(num) { return num.toFixed(2); }

                      var  num1 = 3098.64;

                      var num2 = {{ data['custom-amount'] }};

                      var  result = Math.floor(num1 / num2);
                      document.write(result);
                    </script>
                    <br>
                    <p>(if monthly target is met each month)</p>
                  </td>

                  <td class="govuk-table__cell "> </td>


                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Expected final payment</th>
                  <td class="govuk-table__cell" colspan="3">



                    <script>
                      var  num1 = 3098.64 ;
                      var num2 = {{data['custom-amount']}};
                      var x = Math.floor(num1 / num2) + 1 ; //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x + 1);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>


                  </td>

                </tr>

              </tbody>
            </table>
            <table class="govuk-table mb40">

<!--
              <h2 class="govuk-heading-m govuk-!-padding-top-7">Payment dates</h2>

                <tbody class="govuk-table__body">


                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Expected final payment</th>
                  <td class="govuk-table__cell" colspan="3">



                    <script>
                      var  num1 = 3098.64 ;
                      var num2 = {{data['custom-amount']}};
                      var x = Math.floor(num1 / num2) + 1 ; //or whatever offset
                      var CurrentDate = new Date();
                      console.log("Current date:", CurrentDate);
                      CurrentDate.setMonth(CurrentDate.getMonth() + x + 1);
                      document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                    </script>



                    <br>
                    <p>(if monthly target is met each month)</p>
                  </td>

                </tr>








                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden"> -->

                <table class="govuk-table ">
                  <caption class="visually-hidden">Text message preferences</caption>
                  <h3 class="govuk-heading-m">Contact preferences </h3>
                  <tbody class="govuk-table__body">


                {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Text message</th>
                  <td class="govuk-table__cell"  >
                    No
                  </td>

                </tr>

                {% else %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="width:50%;">Text message</th>
                  <td class="govuk-table__cell "  >
    Yes <br> {{data['contactByMobile']}}
                  </td>

                </tr>


                {% endif %}

              </tbody>
            </table>





              </tbody>
            </table>




  <p class="govuk-heading-m">
  Further details
  </p>


  <div class="govuk-body">
     <!--  <p>Service user number: 941315 </p>-->
      <p>If you have any problems or questions about your monthly flexible payments, contact Debt Management:</p>
      <h2 class="govuk-heading-s">Debt Management</h2>


  <ul class="govuk-list">
  <li>Telephone: 0800 916 0647</li>
  <li>Textphone: 0800 916 0651</li>
  <li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
  </ul>

  <p><a href="#" target="_blank">Find out about call charges (opens in new tab)</a></p>

  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <p class="govuk-heading-m ">Reviewing your repayments
</p>
  <p> We may contact you in the future to review your  payments and will send you a notification with further details.

<p></p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<p><a id="feedback" href="#" target="_blank">What did you think of this service? (opens in new tab)</a></p>

<br>



  <!-- <p><a href="#">What did you think of this service? (opens in new tab)</a></p> -->

  <p><a href="/v45/flex-payments/account-home-after-change" class="govuk-button">Go to Account home</a></p>



  <!-- <p class="govuk-body">
  <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
</p> -->



</div>
</div>

{% endblock %}
