
{% extends "layout-3.html" %}

{% block pageTitle %}
Set up payment plan
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




        <form class="form" action="#" method="post">

          <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
            Manage payment plan
          </h1>

        <p>You can change your monthly target.

          </p>

          <!-- <ul class="govuk-list govuk-list--bullet">
            <li>change your monthly target</li>





          </ul> -->

<p class="govuk-heading-m">Are you struggling to pay? </p>
          <p>If you're struggling to pay, you can temporarily reduce your payments. Alternatively, you must contact Debt Management to discuss the options available to you.


         </p>

               <h2 class="govuk-heading-s ">Debt Management</h2>
             <ul class="govuk-list">
               <li>Telephone: 0800 916 0647</li>
               <li>Textphone: 0800 916 0651</li>
               <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
             </ul>
             <p class="govuk-body">
               <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges (opens in new tab)</a>
             </p>

          <p><a href="how-much-do-you-want-to-pay" class="govuk-button">
            Continue
          </a></p>
        </form>







      </div>
    </div>

    {% endblock %}
