{% extends "layout-main.html" %}

{% block pageTitle %}
Your payment was successful

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {{ govukPanel({
        titleText: "Your payment was successful and your plan is setup",
        html: "You will receive a payment confirmation email "
      }) }}

      <p>
    It will take 2 to 5 working days for your payment to clear.      </p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Plan summary</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Plan type</th>
            <td class="govuk-table__cell">Affordable flexible payments</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total amount owed</th>
            <td class="govuk-table__cell">£109.80</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Monthly target</th>
            <td class="govuk-table__cell">£10.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment today</th>
            <td class="govuk-table__cell">£9.80</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment type</th>
            <td class="govuk-table__cell">Card payment</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment to</th>
            <td class="govuk-table__cell">DWP Debt Management</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Proposed plan review date</th>
            <td class="govuk-table__cell" id="date">

              <!-- <script>
                var CurrentDate = new Date();

                 document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));

               </script><br> -->

               <script>
const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

const d = new Date();
let month = months[d.getMonth()];

document.getElementById("date").innerHTML = month + " 2025" ;



</script><br>


             </td>
          </tr>
        </tbody>
      </table>






      <p>
        <a href="#">
          What did you think of this service? (opens in new tab)
        </a>
      </p>

      <a href="/version-41/off-benefit/flex-account/account-home-one-setup.html" >
        <button type="submit" class="govuk-button" data-module="govuk-button">
      Finish and sign out
    </button>
  </a>

    </div>
  </div>

{% endblock %}
