{% extends "layout-main.html" %}

{% block pageTitle %}
Your payment was successful

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      {{ govukPanel({
        titleText: "Your payment plan is setup",
        html: "
You will be sent confirmation of this agreement within 3 working days or no later than 10 working days before the first payment"
      }) }}

      <p>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Plan summary</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Plan type</th>
            <td class="govuk-table__cell">Affordable Direct Debit</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total amount owed</th>
            <td class="govuk-table__cell">£109.80</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Payment type</th>
            <td class="govuk-table__cell">Direct Debit</td>
          </tr>


          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Direct Debit amount</th>
            <td class="govuk-table__cell">£10.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">First payment date</th>
            <td class="govuk-table__cell">25 January 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Proposed plan review date</th>
            <td class="govuk-table__cell"> January 2025</td>
          </tr>

        </tbody>
      </table>



      <p>
    Your payments will show on your bank statement as <strong>CEN REC GROUP DD.</strong>     </p>

        <details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Further Direct Debit details
    </span>
    </summary>
    <div class="govuk-details__text">
    <p>Service user number: 941315
    </p>
    <p>If you have any problems or questions about your Direct Debit plan, contact Debt Management:</p>
    <p><strong>Debt Management</strong></p>
    <p>Debt Accounting & Finance <br> Warbreck House <br>Blackpool <br>FY2 0YE <br>United Kingdom</p>
    <p>Telephone: 0800 916 0647 <br> Textphone: 0800 916 0651 <br> Monday to Friday 8am to 7:30pm (closed on public holidays) </p>
    <p><a href="#">Find out about call charges</a></p>
    </div>
    </details>

      <p>
        <a href="#">
          What did you think of this service? (opens in new tab)
        </a>
      </p>

      <a href="/version-41/off-benefit/flex-account/account-home-one-setup.html" >
        <button type="submit" class="govuk-button" data-module="govuk-button">
      Finish and sign out
    </button>
  </a>

    </div>
  </div>

{% endblock %}
