{% extends "layout-3.html" %}

{% block pageTitle %}
Do you want to continue using your security code to sign in?

{% endblock %}


{% block content %}



<div class="govuk-grid-row">

	<div class="govuk-grid-column-three-quarters">




		<form class="form" action="signinchoice" method="post">





			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">
					<span class="govuk-caption-xl">David Jones
</span>
					<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
						Do you want to continue using your security code to sign in?

					</h1>


					<div class="govuk-radios">

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="codeContinue" name="choice" type="radio"
								value="code">
							<label class="govuk-label--s govuk-radios__label govuk-body" for="codeContinue">
								Yes - I want to continue using my security code
							</label>
							<span class="govuk-hint govuk-radios__hint">
								It is important to make a note of this as you will need it each time you sign in.
							</span>

						</div>


						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="regContinue" name="choice" type="radio"
								value="onelogin">
							<label class="govuk-label--s govuk-radios__label govuk-body" for="regContinue">
								No - I want to sign in using GOV.UK One Login
							</label>
							<span class="govuk-hint govuk-radios__hint">
								You'll be able to create a GOV.UK One Login if you do not already have one.
							</span>

						</div>

					</div>
				</fieldset>



				<button type="submit" class="govuk-button" data-module="govuk-button">
					Continue
				  </button>

			</div>


		</form>



	</div>
</div>

{% endblock %}
