{% extends "layout-main.html" %}

{% block pageTitle %}
Bank or building society account details

{% endblock %}

{% block content %}



<a href="#" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      Bank or building society account details
    </h1>
    
<!-- account name -->
<div class="govuk-form-group">
    <label class="govuk-label" for="account-name">
    Name on the account
    </label>

    <div id="account-name-hint" class="govuk-hint">
    Must be no longer than 18 characters.
    </div>

    <input class="govuk-input govuk-input--width-20" id="account-name" name="account-name" type="text" aria-describedby="account-name-hint" autocomplete="off">
</div>
<!-- end account name -->

<!-- sort code -->
<div class="govuk-form-group">
  <label class="govuk-label" for="sort-code">
    Sort code
  </label>

  <div id="sort-code-hint" class="govuk-hint">
    Must be 6 digits long, like 309430.
  </div>
  <input class="govuk-input govuk-input--width-10" id="sort-code" name="sort-code" type="text" aria-describedby="sort-code-hint" autocomplete="off">
</div>
<!-- end sort code -->      

<!-- account number -->
<div class="govuk-form-group">
  <label class="govuk-label" for="account-number">
    Account number
  </label>

  <div id="account-number-hint" class="govuk-hint">
    Must be 8 digits long, like 00733445.
  </div>
  <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" aria-describedby="account-number-hint" autocomplete="off">
</div>
<!-- end account number -->

<button type="submit" name="ddSubmitButton" class="govuk-button" data-module="govuk-button">
Continue
</button>

    </form>
  </div>
</div>

{% endblock %}
