{% extends "layout-3.html" %}

{% block pageTitle %}
Payment options
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
<nav class="dwp-language-toggle" aria-label="Language toggle">
<ul class="dwp-language-toggle__list">
  <li class="dwp-language-toggle__list-item" aria-current="true">
    English
  </li>
  <li class="dwp-language-toggle__list-item">
    <a href="#"
      hreflang="cy"
      lang="cy"
      rel="alternate"
      class="govuk-link"
      aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
  </li>
</ul>
</nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">Ashley Chamberlain</span>
      Payment options


    </h1>

    <form class="form" action="payment-options" method="post">
      <div class="govuk-inset-text" >
        Total amount left to repay: <span class="total-amount">
          &pound;2980.00
        </span>
      </div>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="paymentOptions" name="paymentOptions" type="radio" value="pay-in-full">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                Pay the full amount
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                A payment will be taken which will clear the amount you owe.
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="paymentOptions-2" name="paymentOptions" type="radio" value="setup-plan">
              <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                Set up a payment plan
              </label>
              <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Pay how much you can afford in a way that suits you- either by monthly Direct Debit or flexible payments.
              </div>
            </div>


          </div>
        </fieldset>
        <br>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

    </form>

  </div>
</div>

{% endblock %}
