
{% extends "layout-3.html" %}

{% block pageTitle %}
What this will mean for your repayments


{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}





	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">




<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Manage your repayments</span>

		What this will mean for your repayments </h1>



        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

        <div class="flexible-banner-playback">
          <ul class="govuk-list">


            <li>
              <h3>Monthly repayment:</h3>
              <span id="new-debts-amount"><b>&pound;{{ data['new-affordable-amount'] }}</b></span>
              <p><a href="how-much-can-you-afford-to-repay-each-month">change</a></p>
            </li>

          </ul>
        </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <table class="govuk-table">


    <caption class="govuk-table__caption govuk-table__caption--m ">DWP repayments
</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"></th>
          <th scope="col" class="govuk-table__header">Current</th>
          <th scope="col" class="govuk-table__header">New</th>

        </tr>
      </thead>
    <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total amount left to pay

      </th>
      <td class="govuk-table__cell govuk-table__cell">&pound;980</td>
      <td class="govuk-table__cell govuk-table__cell">&pound;980</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Monthly repayment
        <!-- <div id="sign-in-hint" class="govuk-hint">
    These appear under Debts and loans repayments on your Universal Credit statement.
        </div></th> -->
        <td class="govuk-table__cell govuk-table__cell">&pound;40</td>

      <td class="govuk-table__cell govuk-table__cell">&pound;{{ data['new-affordable-amount'] }}</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated repayments remaining
        </th>
        <td class="govuk-table__cell govuk-table__cell">26</td>
      <td class="govuk-table__cell govuk-table__cell"><script>
        function divide(num) { return num.toFixed(2); }

        var  num1 = 980.00;

        var num2 = {{ data['new-affordable-amount'] }};

        var  result = Math.floor(num1 / num2);
         document.write(result);
      </script></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Expected final repayment date
        <!-- <div id="sign-in-hint" class="govuk-hint">
          This date may change based on when your next payment is taken
        </div> -->
      </th>
        <td class="govuk-table__cell govuk-table__cell">
          <script>
            var  num1 = 980.00;
            var num2 = 40;
            var x = Math.floor(num1 / num2); //or whatever offset
            var CurrentDate = new Date();
            console.log("Current date:", CurrentDate);
            CurrentDate.setMonth(CurrentDate.getMonth() + x);
             document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
          </script>

        </td>

      <td class="govuk-table__cell govuk-table__cell">
        <script>
          var  num1 = 980.00;
          var num2 = {{ data['new-affordable-amount'] }};
          var x = Math.floor(num1 / num2); //or whatever offset
          var CurrentDate = new Date();
          console.log("Current date:", CurrentDate);
          CurrentDate.setMonth(CurrentDate.getMonth() + x);
          document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
        </script>

      </td>
    </tr>


    </tbody>
    </table>


    <div class="govuk-body">
    No more than  &pound;{{ data['new-affordable-amount'] }} will be taken to repay: <br>
    <ul>
      <li>  benefit overpayments and budgeting loans </li>
      <li>  recoverable hardship payments  </li>
    </ul>
    </div>



    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

										<p><a href="you-will-be-asked-to-check-your-repayments-again-next-year" class="govuk-button mb0">Continue</a></p>



    </div>
</div>

{% endblock %}
