
{% extends "layout-3.html" %}

{% block pageTitle %}
  Summary - Affordability
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<form class="form" action="directDebitDay" method="post">


									<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
	   	<span class="govuk-caption-xl">Affordability
</span>Summary </h1>




      <div class="flexible-banner-float-none">
        <ul class="govuk-list">
          <li>
            <h3>Agreed monthly payment</h3>
            <span id="new-debts-amount"><b>£{{ data['newDeductedAmount'] }}</b></span>
          </li>
          <!-- <li>
            <h3>Next review due by</h3>
            <span class="total-amount" id="new-total-owed"><b>December 2023</b></span>
          </li> -->

        </ul>
      </div>



      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reminder
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">07700 900457</p>
            <p class="govuk-body">sarah.phillips@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current financial situation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data ['contact']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Next update on
          </dt>
          <dd class="govuk-summary-list__value">
            31 December 2023
          </dd>
          <!-- <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd> -->
        </div>
      </dl>


			   <h2 class="govuk-heading-m govuk-!-margin-bottom-4">How this will affect your payments</h2>



<!--
									<table class="govuk-table summary-table govuk-!-margin-bottom-9">

										 <caption class="visually-hidden">Payment day summary</caption>


											  <tbody class="govuk-table__body">

												 <tr class="govuk-table__row">
												  <th scope="row" class="govuk-table__header">Next payment</th>
												  <td class="govuk-table__cell">

                            If you already have a payment due in the next 7 days, your Universal Credit account may not show the reduced amount until next month.
												 <!-- &pound;30.00 will be taken in November 2022

												  </td>


												 </tr>


												<tr class="govuk-table__row">
													  <th scope="row" class="govuk-table__header">Expected last payment</th>
													  <td class="govuk-table__cell">
														  If your payments stay at &pound;{{ data['newDeductedAmount'] }}, you will clear the total amount owed in December 2027.This date may change based on when your next payment is taken.
													  </td>
												</tr>



											  </tbody></table> -->



											  <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Communications</h2>




											  <table class="govuk-table summary-table govuk-!-margin-bottom-9">

												   <caption class="visually-hidden">Payment day summary</caption>


														<tbody class="govuk-table__body">

												<tr class="govuk-table__row">
													<th scope="row" class="govuk-table__header">Review reminder</th>
													<td class="govuk-table__cell">

												   {% if data['how-contacted']=='yesReminder'%}


												  Mobile number <span class="textNumber">{{ data['contact-by-text'] }}</span>


													 {% else %}


													You have chosen not to sign up for a review reminder.


													 {% endif %}

													</td>

													<td class="govuk-table__cell"><a href="reviewContact">Change</a></td>

												   </tr>


											  </tbody>
											</table>







										<h2 class="govuk-heading-m">Declaration</h2>

		<p>By continuing, you confirm that you will keep up with your payment reviews and let us know immediately if your financial situation changes.</p>







			<p><a href="deductionFinish" class="govuk-button">Continue</a></p>





		    </form>






    </div>
</div>

{% endblock %}
