
{% extends "layout-3.html" %}

{% block pageTitle %}
Tell us your current financial situation
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <form class="form" action="deductionReview" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="worse-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">Affordability</span>
              Tell us your current financial situation
            </h1>
          </legend>
          <p>We will use this information to understand your financial situation better. We will add these notes for next financial situation discussion.
</p>
          <p class="govuk-hint">Select all  that apply.</p>






          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact" name="reason" type="checkbox" value="I am unemployed and looking for work" data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-checkboxes__label" for="contact">
                I am unemployed and looking for work
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-1" name="reason" type="checkbox" value="I am not currently working due to medical reasons" data-aria-controls="conditional-contact-1">
              <label class="govuk-label govuk-checkboxes__label" for="contact-1">
                I am not currently working due to medical reasons
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" name="reason" type="checkbox" value="My working hours have been reduced" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2">
                My working hours have been reduced
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" name="reason" type="checkbox" value="My mortgage or rent payments have increased" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3">
                My mortgage or rent payments have increased
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-4" name="reason" type="checkbox" value="My living costs such as utility bills and food expenditure have increased" data-aria-controls="conditional-contact-4">
              <label class="govuk-label govuk-checkboxes__label" for="contact-4">
                My living costs such as utility bills and food expenditure have increased
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-5" name="reason" type="checkbox" value="My credit card payments have increased" data-aria-controls="conditional-contact-5">
              <label class="govuk-label govuk-checkboxes__label" for="contact-5">
                My credit card payments have increased
              </label>
            </div>


            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-6" name="reason" type="checkbox" value="My family situation has changed" data-aria-controls="conditional-contact-6">
              <label class="govuk-label govuk-checkboxes__label" for="contact-6">
                My family situation has changed
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-7" name="reason" type="checkbox" value="{{data['more-details']}}" data-aria-controls="conditional-contact-7">
              <label class="govuk-label govuk-checkboxes__label" for="contact-7">
                Other reason
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-7">
              <div class="govuk-form-group">
                <label class="govuk-hint" for="more-detail">
                  Do not include any personal or financial information, for example your National Insurance or credit card numbers.

                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-details" rows="5"></textarea>
              </div>
            </div>
          </div>

        </fieldset>



        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

  {% endblock %}
