
{% extends "layout-3a.html" %}

{% block pageTitle %}
You have signed out
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->


<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		<form class="form" action="sign-in" method="post">

			<h1 id="dialog-title" class="govuk-heading-xl govuk-!-margin-bottom-6">
				You have been signed out
			</h1>

			<div class="govuk-body">
				<p>You have been signed out and any information you have not saved has been deleted because you did not do anything for 92 minutes. This is to protect your information.</p>
			</div>
			<button class="govuk-button dialog-button js-dialog-close" data-module="govuk-button">Sign back in</button>

		</form>
	</div>
</div>

{% endblock %}
