
{% extends "layout-3.html" %}

{% block pageTitle %}
What this change will mean for you


{% endblock %}
{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your plan

      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Payment plan details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        Contact preferences
      </a>
    </li>

  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Payment plan details</h2>

    <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Plan type
       </dt>
       <dd class="govuk-summary-list__value">
         Monthly Direct Debit
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Direct Debit amount
       </dt>
       <dd class="govuk-summary-list__value">


                                                              {% if data['paymentChoices']=='12Month'%}

                                                              &pound;62.50


                                                              {% elif data['paymentChoices']=='24Month'%}

                                                              &pound;31.25


                                                              {% elif data['paymentChoices']=='36Month'%}

                                                              &pound;20.83


                                                              {% elif data['paymentChoices']=='48Month'%}

                                                              &pound;15.62





                                                              {% else %}

                                                              {% if data['paymentChoices']=='lowPayments'%}

                                                              {{ data['affordable-amount'] | currency }}

                                                              {% else %}

                                                              {{ data['custom-amount'] | currency}}

                                                              {% endif %}

                                                              {% endif %}
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Final payment amount
       </dt>
       <dd class="govuk-summary-list__value">
         {% if data['paymentChoices']=='12Month'%}

         <p class="mb0">£<script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750 ;

             var num2 = 62.5;
             var  result = Math.floor(num1 / num2);
             var finalResult = num1 - num2 * result;
             var results = Math.round(finalResult * 100) / 100;
             document.write(results.toFixed(2));                                   </script>

          </p>


         {% elif data['paymentChoices']=='24Month'%}

         <p class="mb0">£<script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750 ;

             var num2 = 31.25;
             var  result = Math.floor(num1 / num2);
             var finalResult = num1 - num2 * result;
             var results = Math.round(finalResult * 100) / 100;
             document.write(results.toFixed(2));                                   </script>

          </p>


         {% elif data['paymentChoices']=='36Month'%}



         <p class="mb0">£<script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750 ;
             var num2 = 20.83;
             var  result = Math.floor(num1 / num2);
             var finalResult = num1 - num2 * result;
             var results = Math.round(finalResult * 100) / 100;
             document.write(results.toFixed(2));                                   </script>

             </p>


         {% elif data['paymentChoices']=='48Month'%}

         <p class="mb0">£ <script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750 ;

             var num2 = 15.62;
             var  result = Math.floor(num1 / num2);
             var finalResult = num1 - num2 * result;
             var results = Math.round(finalResult * 100) / 100;
             document.write(results.toFixed(2));                                   </script>

           </p>

         {% elif data['paymentChoices']=='72Month'%}

         <p class="mb0">£<script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750 ;

             var num2 = 50;
             var  result = Math.floor(num1 / num2);
             var finalResult = num1 - num2 * result;
             var results = Math.round(finalResult * 100) / 100;
             document.write(results.toFixed(2));                                   </script>
             </p>



         {% else %}

         <p class="mb0">

           {% if data['paymentChoices']=='lowPayments'%}

           <p class="mb0">£<script>
               function divide(num) { return num.toFixed(2); }

               var  num1 = 750 ;

               var num2 = {{data['affordable-amount'] }};
               var  result = Math.floor(num1 / num2);
               var finalResult = num1 - num2 * result;
               var results = Math.round(finalResult * 100) / 100;
               document.write(results.toFixed(2));                                    </script>
              </p>

             {% else %}

             <p class="mb0">£<script>
                 function divide(num) { return num.toFixed(2); }

                 var  num1 = 750 ;

                 var num2 = {{data['custom-amount'] }};
                 var  result = Math.floor(num1 / num2);
                 var finalResult = num1 - num2 * result;
                 var results = Math.round(finalResult * 100) / 100;
                 document.write(results.toFixed(2));

               </script>

             </p>
             {% endif %}



             {% endif %}
       </dd>
     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Expected number of payments
       </dt>
       <dd class="govuk-summary-list__value">
         {% if data['paymentChoices']=='12Month'%}

         <p class="mb0"><script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750;

             var num2 = 62.5;

             var  result = Math.floor(num1 / num2);
             document.write(result);
           </script>  </p>


         {% elif data['paymentChoices']=='24Month'%}

         <p class="mb0"><script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750;

             var num2 = 31.25;

             var  result = Math.floor(num1 / num2);
             document.write(result);
           </script> </p>


         {% elif data['paymentChoices']=='36Month'%}



         <p class="mb0"><script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750;

             var num2 = 20.83;

             var  result = Math.floor(num1 / num2);
             document.write(result);
           </script>  </p>


         {% elif data['paymentChoices']=='48Month'%}

         <p class="mb0"><script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750;

             var num2 = 15.62;

             var  result = Math.floor(num1 / num2);
             document.write(result);
           </script> </p>

         {% elif data['paymentChoices']=='72Month'%}

         <p class="mb0"><script>
             function divide(num) { return num.toFixed(2); }

             var  num1 = 750;

             var num2 = 50;

             var  result = Math.floor(num1 / num2);
             document.write(result);
           </script>  </p>



         {% else %}

         <p class="mb0">

           {% if data['paymentChoices']=='lowPayments'%}



             <p class="mb0"><script>
                 function divide(num) { return num.toFixed(2); }

                 var  num1 = 750;

                 var num2 = {{data['affordable-amount']}};

                 var  result = Math.floor(num1 / num2);
                 document.write(result);
               </script>  </p>


             {% else %}

             <p class="mb0">
               <script>
                 function divide(num) { return num.toFixed(2); }

                 var  num1 = 750;

                 var num2 = {{ data['custom-amount'] }};

                 var  result = Math.floor(num1 / num2);
                 document.write(result);
               </script>
             </p>
             {% endif %}



             {% endif %}
       </dd>


     </div>
     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Direct Debit day
       </dt>
       <dd class="govuk-summary-list__value">
         {{ data['paymentDay'] }}
       </dd>
     </div>

     <div class="govuk-summary-list__row">
       <dt class="govuk-summary-list__key">
         Expected final payment
       </dt>
       <dd class="govuk-summary-list__value">
         {% if data['paymentChoices']=='12Month'%}

         <script>
           var  num1 = 750.00;
           var num2 = 62.5;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
         </script>
         {% elif data['paymentChoices']=='24Month'%}

         <script>
           var  num1 = 750.00;
           var num2 = 31.25;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
         </script>
         {% elif data['paymentChoices']=='36Month'%}


         <script>
           var  num1 = 750.00;
           var num2 = 20.83;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
         </script>



         {% elif data['paymentChoices']=='48Month'%}


         <script>
           var  num1 = 750.00;
           var num2 = 15.62;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
         </script>


         {% else %}



         {% if data['paymentChoices']=='lowPayments'%}

         <script>
           var  num1 = 750.00;
           var num2 = {{ data['affordable-amount'] }};;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
         </script>

         {% else %}

         <script>
           var  num1 = 750.00;
           var num2 = {{ data['custom-amount'] }};;
           var x = Math.floor(num1 / num2); //or whatever offset
           var CurrentDate = new Date();
           console.log("Current date:", CurrentDate);
           CurrentDate.setMonth(CurrentDate.getMonth() + x);
           document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
         </script>
         {% endif %}



         {% endif %}
       </dd>
     </div>


   </dl>
   <a href="manage-payment-plan"><button type="submit" class="govuk-button" data-module="govuk-button">
Manage payment plan
</button></a>

  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
    <h2 class="govuk-heading-l">Contact preferences</h2>
    <table class="govuk-table ">

      <tbody class="govuk-table__body">




        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
          <td class="govuk-table__cell " style="width:45%;">
            Yes <br>
            {{data['contactByMobile']  }}
          </td>

        </tr>



      </tbody>
    </table>

    <p>If you want to make changes to your contact preferences, call Debt Management.
   </p>

         <h2 class="govuk-heading-s ">Debt Management</h2>
       <ul class="govuk-list">
         <li>Telephone: 0800 916 0647</li>
         <li>Textphone: 0800 916 0651</li>
         <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
       </ul>
       <p class="govuk-body">
         <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges (opens in a new tab)</a>
       </p>
  </div>

</div>

    </div>
  </div>

{% endblock %}
