
{% extends "layout-3.html" %}

{% block pageTitle %}
Your payment plan is set up
{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}


{% block content %}

{% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Your contact preferences have not been changed
      </h1>


    </div>

    <h2 class="govuk-heading-m  ">Contact preferences


    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Text messages
        </dt>
        {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
        <dd class="govuk-summary-list__value">
          No <br>

        </dd>
        {% else %}

        <dd class="govuk-summary-list__value">
          Yes <br>
          {{data['contactByMobile']}}

        </dd>

        {% endif %}

      </div>




    </dl>

<!-- <p class="govuk-heading-m">Payment reminders</p> -->

<p>You can choose to sign up for payment reminders by text message by changing your <a href="change-payment-contact-info">contact preferences</a>.</p>




<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">





        <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service? (opens in new tab)</a>
      </p>
      <p><a href="/v48/account-home-flex-manage-plan.html" class="govuk-button">Go to Account home</a></p>



    </div>
  </div>

  {% else %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-panel govuk-panel--confirmation">

      <h1 class="govuk-panel__title">
        Your contact preferences have been updated
      </h1>


    </div><hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

    <h2 class="govuk-heading-m  ">Contact preferences


    </h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Text messages
        </dt>
        {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
        <dd class="govuk-summary-list__value">
          No <br>

        </dd>
        {% else %}

        <dd class="govuk-summary-list__value">
          Yes <br>
          {{data['contactByMobile']}}

        </dd>

        {% endif %}

      </div>




    </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<p class="govuk-heading-m">Change your contact preferences</p>

  <p>If you want to make changes to your contact preferences, call Debt Management.
  </p>

       <h2 class="govuk-heading-s ">Debt Management</h2>
     <ul class="govuk-list">
       <li>Telephone: 0800 158 5519</li>
       <li>Textphone: 0800 916 0651</li>
       <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
     </ul>
     <p class="govuk-body">
       <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
     </p>



     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


     <p class="govuk-heading-m">What happens next</p>
     <p>You will only receive text messages reminding you to make a payment. </p>



     <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">


        <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service? (opens in new tab)</a>
      </p>
      <p><a href="/v48/account-home-flex-manage-plan.html" class="govuk-button">Go to Account home</a></p>



    </div>
  </div>
  {% endif %}

  {% endblock %}
