
{% extends "layout-3a.html" %}

{% block pageTitle %}
Page not found


{% endblock %}


{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Page not found</h1>
        
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, contact us if you need to speak to someone about your repayments. 

         
          <p class="govuk-body"><strong>If you live in Great Britain:</strong>
          <br>Telephone: 0800 916 0647  
          <br>Textphone: 0800 916 0651 
          <br>Monday to Friday, 8am to 6pm (closed on public holidays)
          <br><a href="/call-charges">Find out about call charges</a>
         <!--  <br class="govuk-body"><a href="#" class="govuk-link">Sign in to Repay and manage benefit money you owe (GB users only)</a> -->

          <p class="govuk-body"><strong>If you live in Northern Ireland:</strong>
            <br>Telephone: 0800 587 1322  
            <br>Textphone: 0800 587 2986
            <br>Monday to Friday, 9am to 4pm (closed on public holidays)
          <br><a href="/call-charges">Find out about call charges</a>
         <!-- <br class="govuk-body"><a href="#" class="govuk-link">Sign in to Repay and manage benefit money you owe (NI users only)</a>-->
       
    
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
