
{% extends "layout-3.html" %}

{% block pageTitle %}
Tell us your current financial situation
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <form class="form" action="deductionReview" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="worse-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">Affordability</span>
              Tell us your current financial situation
            </h1>
          </legend>


          <p>We will use this information to understand your financial situation better. We will add these notes for next financial situation discussion.
</p>

<textarea class="govuk-textarea" id="more-detail" name="more-details" rows="5"></textarea>









        </fieldset>



        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>
  </div>

  {% endblock %}
