
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


 <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

<p style="text-align: right;">Tel: 0800 916 0647<br>
Opening Times:<br>
Mon-Fri 10:00-16:00<br>
<br>
Account Holder: Ashley Chamberlain<br>
Reference Number: LM555555B<br>
Date: 01/08/2023</p>

<p>Dear Ashley Chamberlain</p>

<p>We are writing to you so we can review your payment plan and see if any changes need to be made.</p>

<p>Total amount still owed: &pound;3800.00</p>

<p>You can do your payment plan review anytime within the next 4 weeks but it must be done by <b>28/08/2023</b>.</p>

<p>During the review, we will ask you questions to understand how much you can afford to pay and help you make changes to your plan if needed. It will take approximately 5 minutes to complete.</p>

<!--<p>If you are able to increase your payments, further reviews may not be needed.</p>-->

<p>Next steps:</p>

<ol class="govuk-list govuk-list--number">
<li>Go to <a href="reviewSplash">https://repay-manage-benefit-you-owe.service.gov.uk</a></li>
<li>Sign in to your account</li>
</ol>



<p>Alternatively, if you cannot go online, you can contact us on the number above to discuss further.</p>


<p>Yours sincerely</p>

<p>Mark Birtles<br>
Debt Centre Manager</p>


</div>
</div>





{% endblock %}
