
{% extends "layout-3.html" %}

{% block pageTitle %}
Summary - Affordability
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Manage your repayments</span>
        Summary </h1>



        <!-- <h2 class="govuk-heading-m">Repayment details</h2> -->

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Monthly repayment
            </dt>
            <dd class="govuk-summary-list__value">
              £{{ data['newDeductedAmount'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="onBenReview-2">
                Change<span class="govuk-visually-hidden"> Agreed monthly payment</span>
              </a>
            </dd>
          </div>

        <!-- </dl> -->
        <!-- <div class="govuk-inset-text">
If you have a payment due in the next 7 days, your Universal Credit account may not show the updated amount until next month.</div> -->

        <!-- <h3 class="govuk-heading-s">Expected last repayment date</h3>
        <p>If your agreed amount stays the same, you will clear your Debt in December 2025.</p> -->


        <!-- <h2 class="govuk-heading-m">Reminder details</h2> -->

        <!-- <dl class="govuk-summary-list"> -->


          {% if data['reminder-notification-yes-no']=='no' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Repayment check reminder
            </dt>
            <dt class="govuk-summary-list__key">
              <p class="govuk-body">No reminder chosen</p>
            </dt>


            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                Change <span class="govuk-visually-hidden"> change notification reminder</span>
              </a>
            </dd>

          </div>


            {% else %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Repayment check reminder
              </dt>
              <dt class="govuk-summary-list__key">
                <p class="govuk-body">Yes</p>
              </dt>


              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                  Change <span class="govuk-visually-hidden"> change notification reminder</span>
                </a>
              </dd>

            </div>

            <div class="govuk-summary-list__row">

              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">

                <p class="govuk-body">{{ data ['telephone-number'] }} </p>
              </dd>

              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="would-you-like-to-receive-a-text-message-reminder-about-your-next-check">
                  Change<span class="govuk-visually-hidden"> change telephone number</span>
                </a>
              </dd>
            </div>


            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason for changing your repayments
              </dt>
              <dd class="govuk-summary-list__value">
                <ul>
                {% if data['financial-situation-details-1']=='yes' %}
                <li>My loan or credit card payments have increased</li>
                {% endif %}

                {% if data['financial-situation-details-2']=='yes' %}
                <li>I have lost my job or have reduced my hours</li>
                {% endif %}
                {% if data['financial-situation-details-3']=='yes' %}
                <li>My living costs have increased</li>
                {% endif %}
                {% if data['financial-situation-details-4']=='yes' %}
                <li>{{ data['financial-situation-details-4-text'] }}</li>
                {% endif %}
                <ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="financial-situation">
                  Change<span class="govuk-visually-hidden"> Why do you want to change your repayments</span>
                </a>
              </dd>
            </div>
   </dl>

   <!-- <div class="govuk-inset-text">
 We will send you a reminder 30 days before <strong>31 June 2024.</strong></div> -->


  <form class="form" action="deductionFinish" method="post">






    <div class="govuk-body">
    No more than &pound;{{ data['newDeductedAmount'] }} will be taken to repay: <br>
    <ul>
      <li>  benefit overpayments and budgeting loans </li>
      <li>  recoverable hardship payments  </li>
    </ul>
    </div>
<p><a href="deductionFinish" class="govuk-button">Confirm changes</a></p>





</form>






</div>
</div>

{% endblock %}
