
{% extends "layout-3.html" %}

{% block pageTitle %}
Tell us your current financial situation
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/scenario-37-payment-setup-done/startThis"
    }
  ]
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <form class="form" action="financial-situation-update-done" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="worse-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              <!-- <span class="govuk-caption-xl">Affordability</span> -->
              Tell us your current financial situation
            </h1>
          </legend>


          <p>We will use this information to understand your financial situation better. We will add these notes for next financial situation discussion.
</p>

<textarea class="govuk-textarea" id="more-detail" name="more-details" rows="5"></textarea>









        </fieldset>



        <button class="govuk-button" data-module="govuk-button">
          Send update
        </button>
      </form>

    </div>
  </div>

  {% endblock %}
