{% extends "layout-2.html" %}

{% block pageTitle %}
Journal Message
{% endblock %}


{% block content %}



<!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





    <div class="govuk-grid-row uc-layout">
      <div class="govuk-grid-column-one-third" style="background-color: #f2f2f2;">
        <p>Home</p>
      </div>
      <div class="govuk-grid-column-one-third" style="background-color: #f2f2f2;">
        <p>To-do</p>
      </div>
      <div class="govuk-grid-column-one-third" style="background-color: #1d70b8;">
        <p class="active">Journal</p>
      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

    <div class="govuk-grid-column-three-quarters" style="padding-left:">
      <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>

<h2 class="govuk-caption-m" >Message</h2>

      <!-- <h1 class="govuk-heading-l govuk-!-padding-bottom-5">Journal message</h1> -->
      <h2 class="govuk-heading-xl">You can use a new service to manage the money you owe to DWP</h2>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
      <p>As you are repaying money to DWP, you can use the new Repay and manage benefit money you owe service.</p>
    <p>Go to <strong><a href="startThis" style="text-decoration:none; color:#000000;">https://www.gov.uk/repay-manage-benefit-owed </a></strong> for more information. 
      <p>On the new service you can view a breakdown of what you owe to DWP and manage your repayments.</p>
    <p>The money you owe to DWP appears under 'Debts and loans repayments' on your Universal Credit statement where you can also find more information.</p>
    <p>If you have any other deductions from your Universal Credit payment, they cannot be managed on the new service. For example, any repayments for an advance taken out during your current claim.</p>
      <div class="contact govuk-body">
        <p>If you have any questions, you should contact DWP Debt Management contact center directly:<br><br>


    Telephone: 0800 916 0647  <br>
          Textphone: 0800 916 0651<br>
    <a href="http://ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 916 0647<br>
    <a href="http://dwpdmmenu.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" data-youtube-player="off">check you can use the service</a><br>
          Monday to Friday, 8am to 7:30pm<br>
    <a href="/call-charges">Find out about call charges</a></p>
      </div>



    </div>






  </div>
</div>

{% endblock %}
