
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	


	   
	   <div class="govuk-grid-row">
	  
		 <div class="govuk-grid-column-three-quarters">
	   
	  <span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
	  

			
	{% if data['changedFinance']=='changedFinanceYes'%}		
	
	
	
	
	<h1 class="govuk-heading-xl">

	  We are not testing this page
	  </h1>
	  
	  <p>Please use the back button to return to the scenario.</p>
	
	
	
	<!--<form class="form" action="returnFinancePortal2" method="post">
			
		<div class="govuk-form-group">
			  <fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
				  <h1 class="govuk-fieldset__heading">
					  <span class="govuk-caption-xl">Payment review</span>
					How has your financial situation changed?
				  </h1>
				</legend>
				<div class="govuk-radios" data-module="govuk-radios">
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="financeSituImprove" name="financeSitu" type="radio" value="financeSituImprove">
					<label class="govuk-label govuk-radios__label" for="financeSituImprove">
					  My financial situation is better
					</label>
				  </div>
				  <div class="govuk-radios__item">
					<input class="govuk-radios__input" id="financeSituWorse" name="financeSitu" type="radio" value="financeSituWorse">
					<label class="govuk-label govuk-radios__label" for="financeSituWorse">
					  My financial situation is worse
					</label>
				  </div>
				  
				</div>
			
			  </fieldset>
			</div>
			
			<button class="govuk-button" data-module="govuk-button">
				  Continue
				</button>
	</form> -->
			
		{% else %}		
		
		<form class="form" action="returnImprovedPortal" method="post">
				
			<div class="govuk-form-group">
				  <fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
					  <h1 class="govuk-fieldset__heading">
						  <span class="govuk-caption-xl">Payment review</span>
						What do you want to do?
					  </h1>
					</legend>
					<div class="govuk-radios" data-module="govuk-radios">
						  <div class="govuk-radios__item">
							<input class="govuk-radios__input" id="actionFinanceIncrease" name="actionFinance" type="radio" value="actionFinanceIncrease">
							<label class="govuk-label govuk-radios__label" for="actionFinanceIncrease">
							  Increase my payments
							</label>
						  </div>
						  <div class="govuk-radios__item">
							<input class="govuk-radios__input" id="actionFinanceKeep" name="actionFinance" type="radio" value="actionFinanceKeep">
							<label class="govuk-label govuk-radios__label" for="actionFinanceKeep">
							 Keep my payments the same
							</label>
						  </div>
						  <div class="govuk-radios__item">
							  <input class="govuk-radios__input" id="actionFinanceLower" name="actionFinance" type="radio" value="actionFinanceLower">
							  <label class="govuk-label govuk-radios__label" for="actionFinanceLower">
							   Reduce my payments
							  </label>
							</div>
							
					</div>
				
				  </fieldset>
				</div>
				
				<button class="govuk-button" data-module="govuk-button">
					  Continue
					</button>
		</form>	
				
		{% endif %}		
					
				  
	</div>
</div>

{% endblock %}



