
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>

		<p>Date: 1 November 2023</p>

		<div class="list-display">

			<p>Dear Ashley Chamberlain, just a reminder about your payment review &ndash; it is important to do it by 30/11/2023 to make sure your payments do not go back up.</p>
				
				
			<p>Go to the Repay and manage benefit money you owe service <!--<a href="reviewSplash">https://repay-manage-benefit-owed.service.gov.uk/</a>-->and sign in to your account.</p>

		</div>




    </div>
</div>

{% endblock %}
