
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment plan summary
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
    Check details before setting up your payment plan</h1>

    <h2 class="govuk-heading-m  ">Plan summary</h2>


    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total amount owed
          </dt>
          <dd class="govuk-summary-list__value">
            £2,320.00
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Plan type
          </dt>
          <dd class="govuk-summary-list__value">
            Monthly Direct Debit
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Monhtly Direct Debit</span></a>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m govuk-!-padding-top-7 ">Payment details</h2>


        <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Direct Debit amount
          </dt>
          <dd class="govuk-summary-list__value">
            £20.00
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Final payment amount          </dt>
          <dd class="govuk-summary-list__value">
          £19.21
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected number of payments
          </dt>
          <dd class="govuk-summary-list__value">
            <script>
              var  num1 = 2320.00;
              var num2 = 50;
              var x = Math.floor(num1 / num2); //or whatever offset
              document.write(x);
            </script>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>




      </dl>


      <h2 class="govuk-heading-m govuk-!-padding-top-7">Payment dates</h2>


      <dl class="govuk-summary-list">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Direct Debit day
          </dt>
          <dd class="govuk-summary-list__value">
            02
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First payment
          </dt>
          <dd class="govuk-summary-list__value">
            02 December 2024
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Expected final payment
          </dt>
          <dd class="govuk-summary-list__value">
            November 2034
          </dd>
          <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> Direct Debit amount</span></a>
        </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m govuk-!-padding-top-7">Bank or building society account details
 </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account details
          </dt>
          <dd class="govuk-summary-list__value">
            Alex John Smith <br>
            090920 <br>
            00123456
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Direct Debit amount</span></a>
          </dd>
        </div>



      </dl>


      <h2 class="govuk-heading-m govuk-!-padding-top-7">Contact preferences


      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Text messages
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Text message	</span></a>
          </dd>
        </div>




      </dl>


      <div class="ddGuarantee">
        <h3 class="govuk-heading-s">The Direct Debit Guarantee</h3>

        <ul class="govuk-list govuk-list--bullet">
          <li>This Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits.
          </li>
          <li>If there are any changes to the amount, date or frequency of your Direct Debit DWP will notify you 10 working
            days in advance of your account being debited or as otherwise agreed. If you request DWP to collect a payment,
            confirmation of the amount and date will be given to you at the time of request.</li>

            <li>If an error is made in the payment of your Direct Debit, by DWP or your bank or building society,
              you are entitled to a full and immediate refund of the amount paid from your bank or building society.
              – If you receive a refund you are not entitled to, you must pay it back when DWP asks you to.</li>
              <li>You can cancel a Direct Debit at any time by simply contacting your bank or building society.
                Written confirmation may be required. Please also notify us.</li>



              </ul>
            </div>


            <h2 class="govuk-heading-m govuk-!-padding-top-7">Declaration</h2>

            <p>By continuing, you confirm that you will:</p>

            <ul class="govuk-list govuk-list--bullet mb30">

              {% if data['paymentOptions']=='ddFixedChoice'%}
              <li>pay the agreed monthly amount</li>
              {% else %}
              {% endif %}

              {% if data['paymentOptions']=='flexyPayChoice'%}
              <li>pay the agreed monthly amount</li>
              {% else %}
              {% endif %}


              <li>let us know immediately if you’re struggling to keep up with payments</li>
            </ul>

            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                If you do not keep up with your payments, we may ask your employer to make deductions from your pay, take debt enforcement action through the courts or ask a debt collection agency to collect this money for us.





              </strong>
            </div>





            <a href="/design-improvements/success-pages/dd-setup-success.html"><button class="govuk-button" data-module="govuk-button">
            Continue and set up payment plan
            </button></a>

          </div>
        </div>

        {% endblock %}
