
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">


		<span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		

			

			  <h1 class="govuk-heading-xl">
				  <span class="govuk-caption-xl">Payment review</span>
			How this change affects your Universal Credit payment
			  </h1>
			  
			  
			  
			  
			  
			  
			  <table class="govuk-table mb40">
				   
				   <caption class="visually-hidden">Summary</caption>
				   

			  
						<tbody class="govuk-table__body">
						
						
						<tr class="govuk-table__row">
							<th scope="row" class="govuk-table__header">Amount we will deduct each month
								
								
								<p class="mt10 mb10" style="padding-right: 40px;">Deductions taken by DWP are to repay money owed from previous claims.</p>
						
							</th>
							<td class="govuk-table__cell">

	  
						  
						  &pound;30.00
					
								
								
							</td>
					
						</tr>

						
					  
						  

						   
						   
						   
						   <tr class="govuk-table__row">
							<th scope="row" class="govuk-table__header">Amount Universal Credit deduct each month
								
								<p class="mt10 mb10" style="padding-right: 40px;">Universal Credit take &pound;21.90 off your payment to pay back your current advance. If you need to manage this amount, you will need to contact Universal Credit directly.</p>
							</th>
				
							  <td class="govuk-table__cell">&pound;21.90
								  
								  
							  </td>
		
							
						   </tr>
						   
					
						   
						</tbody>
						
</table>



<div class="govuk-inset-text">
	   <h3 class="govuk-heading-m">Other money you owe</h3>
   <p>You may owe other money which is currently being taken from your Universal Credit payment &ndash; you should check your Universal Credit statement for a full breakdown of deductions.</p>
</div>
   
			  
			  
			
			  

				
   
  
		<p class="mt30"><a href="deductionReview" class="govuk-button">
			Continue
		  </a></p>


	</div>
</div>

{% endblock %}
