
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
		
		
		<div class="govuk-inset-text mt0">
			
				<p><b style="display: inline;">Scenario:</b> User has logged into their Universal Credit account</p>
				
		</div>
		
		
		
		
	<h1 class="govuk-heading-xl">Journal entries</h1>
		
		
		
		<table class="govuk-table mb40">
			   
			   <caption class="visually-hidden">Plan summary</caption>
			   
			   <thead class="govuk-table__head">
				   <tr class="govuk-table__row">
					 <th scope="col" class="govuk-table__header">Date and time</th>
					 <th scope="col" class="govuk-table__header">Message</th>
					 <th scope="col" class="govuk-table__header">Added by</th>
				
				   </tr>
				 </thead>
				  
		  
					<tbody class="govuk-table__body">
						
						
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">1 Dec 2022 at 10:00am</td>
							<td class="govuk-table__cell"><a href="journalPage">You can use a new service to manage the money you owe to DWP</a></td>
							<td class="govuk-table__cell"">Bob Sellock</td>
							
						   </tr>
						   
						   
						   <tr class="govuk-table__row">
							   <td class="govuk-table__cell">7 Nov 2022 at 11:20am</td>
							   <td class="govuk-table__cell"><a href="#">Advance payment approved</a></td>
							   <td class="govuk-table__cell"">Bob Sellock</td>
							 
							  </tr>

						   
					</tbody>
					
		</table>
		
		
		
		







    </div>
</div>

{% endblock %}
