
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


	

	
	
	<div class="govuk-grid-row">
	  
		 <div class="govuk-grid-column-three-quarters">
	
	<span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>
			
			<h1 class="govuk-heading-xl mb30">
				Payment review</h1>
				
				
						
				
				<p>This review is about reducing the amount we take from your Universal Credit payment.</p>
				
				
		
		
		
				<p>We will ask you questions to understand more about your financial situation &ndash; further reviews will then be needed every 12 months.</p>


		
					
				<p><a href="onBenReview-1" class="govuk-button">Start payment review</a></p>	
				
		 </div>
	</div>
	
	
		
					
				  

{% endblock %}



