
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">
			
			<span class="back-link"> <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


									<span class="govuk-caption-xl">Payment review</span>
									<h1 class="govuk-heading-xl mb30">
										Your last review</h1>
										
									
									
								
										
										<div class="flexibleBanner">


											<ul class="govuk-list">
												
												
												<li>
													<h3>Date of last review</h3>


														<b>15 December 2022</b>
												</li>
				
												<li>
													<h3>Agreed monthly payment</h3>


														<b>&pound;30.00</b>
												</li>
			
											</ul>
											
											
											
											</div>
											
											
											
											
											
	<h2 class="govuk-heading-m mt40">Why we reduced your payments</h2>
	<p>During your last review we reduced your payments because you told us: 	</p>
		
		<ul class="govuk-list govuk-list--bullet">
			<li>your loan or credit card payments have increased</li>
			<li>your living costs have increased</li>
		</ul>
		

					
											
											
											
											
											
											








<p class="mt40"><a href="notTesting" class="govuk-button">Continue</a></p>





	</div>
</div>

{% endblock %}
