
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment plan summary
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">






    <form class="form" action="directFinish" method="post">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Payment plan</span>Summary</h1>


        {% if data['paymentChoices']=='lowPayments'%}



        <table class="govuk-table mb40">

          <caption class="visually-hidden">Plan summary</caption>


          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Plan type</th>
              <td class="govuk-table__cell">Affordable flexible payments
              </td>
              <td class="govuk-table__cell changeDetails"></td>

            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount owed</th>
              <td class="govuk-table__cell" colspan="2">&pound;4,320.00
              </td>


            </tr>





            {% if data['paymentOptions']=='ddFixedChoice'%}




            {% else %}


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payment type</th>
              <td class="govuk-table__cell">Flexible payments
              </td>
              <td class="govuk-table__cell changeDetails"> </td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount owed</th>
              <td class="govuk-table__cell" colspan="2">&pound;4,320.00
              </td>


            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Monthly target </th>
              <td class="govuk-table__cell">

                <p class="mb0">
                  {{data['affordable-amount'] | currency}}
                  <!-- &ndash; for
                  <script>
                    function divide(num) { return num.toFixed(2); }

                    var  num1 = 4320.00 - {{ data['payment-amount'] }};;

                    var num2 = {{ data['affordable-amount'] }};

                    var  result = Math.floor(num1 / num2);
                    document.write(result);
                  </script>   months -->
                </p>

              </td>

              <td class="govuk-table__cell changeDetails"><a href="edit-lowPayChoice-flex">Change</a></td>


            </tr>


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payment today</th>
              <td class="govuk-table__cell">

                {{  data['payment-amount']  | currency }}



              </td>

              <td class="govuk-table__cell changeDetails"><a href="edit-flex-payment-target">Change</a></td>


            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Expected final payment</th>
              <td class="govuk-table__cell" colspan="2">

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = {{data['affordable-amount']}};
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

                <p>(if monthly target is met each month)</p>
              </td>
            </tr>
            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Proposed plan review date</th>
              <td class="govuk-table__cell" colspan="2">

                <script>
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + 12);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

              </td>


            </tr> -->


            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <table class="govuk-table ">
              <caption class="visually-hidden">Text message preferences </caption>
              <h3 class="govuk-heading-m">Text message preferences  </h3>
              <tbody class="govuk-table__body">


            {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
              <td class="govuk-table__cell" style="width:45%;">
                No
              </td>
              <td class="govuk-table__cell changeDetails"><a href="payment-reminders">Change</a></td>

            </tr>

            {% else %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
              <td class="govuk-table__cell " style="width:45%;">
Yes
              </td>
              <td class="govuk-table__cell changeDetails"><a href="payment-reminders">Change</a></td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Mobile number</th>
              <td class="govuk-table__cell " style="width:45%;" colspan="2" >
                {{data['contactByMobile']}}
              </td>

            </tr>

            {% endif %}

          </tbody>
        </table>
            {% endif %}







          </tbody>
        </table>







        {% else %}



        <table class="govuk-table mb40">

          <caption class="visually-hidden">Plan summary</caption>


          <tbody class="govuk-table__body">


            <!-- <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount owed</th>
              <td class="govuk-table__cell" colspan="2">&pound;4,320.00
              </td>


            </tr> -->


            {% if data['paymentOptions']=='ddFixedChoice'%}



            {% else %}


            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payment type</th>
              <td class="govuk-table__cell">Flexible payments
              </td>
              <td class="govuk-table__cell changeDetails"></td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total amount owed</th>
              <td class="govuk-table__cell" colspan="2">&pound;4,320.00
              </td>


            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Monthly target</th>
              <td class="govuk-table__cell">

                {% if data['paymentChoices']=='12Month'%}

                <p class="mb0">&pound;320.00 </p>


                {% elif data['paymentChoices']=='24Month'%}

                <p class="mb0">&pound;180.00</p>


                {% elif data['paymentChoices']=='36Month'%}



                <p class="mb0">&pound;120.00 </p>


                {% elif data['paymentChoices']=='48Month'%}

                <p class="mb0">&pound;90.00</p>

                {% elif data['paymentChoices']=='72Month'%}

                <p class="mb0">&pound;60.00</p>



                {% else %}

                <p class="mb0"> <p class="mb0">
                  {{data['custom-amount'] | currency}}
                  <!-- &ndash; for
                  <script>
                    function divide(num) { return num.toFixed(2); }

                    var  num1 = 4320.00 - {{ data['payment-amount'] }};

                    var num2 = {{ data['custom-amount'] }};

                    var  result = Math.floor(num1 / num2);
                    document.write(result);
                  </script>   months -->
</p>
                {% endif %}

              </td>

              <td class="govuk-table__cell changeDetails"><a href="edit-dd-flex">Change</a></td>


            </tr>





            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Payment today</th>
              <td class="govuk-table__cell">

                {{ data['payment-amount'] | currency}}

              </td>

              <td class="govuk-table__cell changeDetails"><a href="edit-flex-payment-target">Change</a></td>


            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Expected final payment</th>
              <td class="govuk-table__cell" colspan="2">

                {% if data['paymentChoices']=='12Month'%}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = 320;
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

                {% elif data['paymentChoices']=='24Month'%}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = 180;
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

                {% elif data['paymentChoices']=='36Month'%}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = 120;
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

                {% elif data['paymentChoices']=='48Month'%}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = 90;
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>
                {% elif data['paymentChoices']=='72Month'%}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = 60;
                  var x = Math.floor(num1 / num2); //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>

                {% else %}

                <script>
                  var  num1 = 4320.00 - {{ data['payment-amount'] }};
                  var num2 = {{data['custom-amount']}};
                  var x = Math.floor(num1 / num2) + 1 ; //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                  document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>
                {% endif %}


                <br>
                <p>(if monthly target is met each month)</p>
              </td>
            </tr>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

            <table class="govuk-table ">
              <caption class="visually-hidden">Text message preferences</caption>
              <h3 class="govuk-heading-m">Text message preferences </h3>
              <tbody class="govuk-table__body">


            {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
              <td class="govuk-table__cell" style="width:45%;">
                No
              </td>
              <td class="govuk-table__cell changeDetails"><a href="payment-reminders">Change</a></td>

            </tr>

            {% else %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Text message</th>
              <td class="govuk-table__cell " style="width:45%;">
Yes
              </td>
              <td class="govuk-table__cell changeDetails"><a href="payment-reminders">Change</a></td>

            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="width:40%;">Mobile number</th>
              <td class="govuk-table__cell " style="width:45%;" colspan="2" >
                {{data['contactByMobile']}}
              </td>

            </tr>

            {% endif %}

          </tbody>
        </table>

            {% endif %}



          </tbody>
        </table>




        {% endif %}






        <!-- <p class="govuk-heading-m">If you do not keep up with your payments</p> -->

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
        If you do not keep up with your payments, we will take further action to recover the money owed.</strong>
        </div>
        <p class="govuk-body">Further action to recover money owed may include:</p>
                      <ul class="govuk-list govuk-list--bullet mb30">

      <li>asking your employer to deduct it from your pay</li>
      <li>taking debt enforcement action through the courts</li>
      <li>asking a debt collection agency to collect it for us</li>
      <li>recovering it from future benefits and State Pension you get</li>


                      </ul>


                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">




              <h2 class="govuk-heading-m">Declaration</h2>

              <p>By continuing, you confirm that you will:</p>

              <ul class="govuk-list govuk-list--bullet mb30">

                {% if data['paymentOptions']=='ddFixedChoice'%}
                <li>pay the agreed monthly amount</li>
                {% else %}
                {% endif %}

                {% if data['paymentOptions']=='flexyPayChoice'%}
                <li>pay at least
                  <!-- {% if data['paymentChoices']=='customAmount'%}
                  {{ data['custom-amount'] | currency}}


                  {% elif data['paymentChoices']=='12Month'%}

                £360.00
                  {% elif data['paymentChoices']=='24Month'%}

                £180.00
                  {% elif data['paymentChoices']=='36Month'%}


                £120.00


                  {% elif data['paymentChoices']=='48Month'%}


                £90.00

                  {% elif data['paymentChoices']=='72Month'%}

                  £60.00

                  {% else %}
                  {{ data['affordable-amount'] | currency}}
                  {% endif %} -->
£60.00
                  a month.




                </li>
                {% else %}
                {% endif %}


                <li>let us know immediately if you’re struggling to keep up with payments</li>
              </ul>






              <div >
                <p class="govuk-!-font-weight-bold">Your bank may charge you interest if you pay by credit card.
                </p>
              </div>


              <button class="govuk-button" data-module="govuk-button">
                Continue to pay
              </button>





            </form>







          </div>
        </div>

        {% endblock %}
