
{% extends "layout-3.html" %}

{% block pageTitle %}
Bank or building society account details
{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">

        Bank or building society account details</h1>


<br>

        <form class="form" action="direct-debit-contact-you" method="post">

          <fieldset class="govuk-fieldset">
            <legend class="visually-hidden">
              Enter Account details
            </legend>

            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="18">
              <label class="govuk-label" for="accountName">
                Name on the account
              </label>
  <div id="with-hint-hint" class="govuk-hint">
    Must be no longer than 18 characters.
  </div>
  <input class="govuk-input govuk-input--width-20 govuk-js-character-count" id="with-hint" name="accountName"  aria-describedby="without-hint-info with-hint-hint">
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
      You can enter up to 18 characters
    </div>
</div>


            <div class="govuk-form-group ">
              <label class="govuk-label" for="sortCode">
                Sort code
              </label>
              <div id="sort-code-hint" class="govuk-hint">
                Must be 6 digits long, like 309430
              </div>

              <input class="govuk-input govuk-input--width-10" id="sortCode" name="sortCode" type="text" aria-describedby="sort-code-hint">

            </div>






            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="8">
              <label class="govuk-label" for="accountNumber">
                Account number
              </label>

              <div id="account-number-hint" class="govuk-hint">
                Must be 8 digits long, like 00733445
              </div>

              <input class="govuk-input govuk-input--width-10 govuk-js-character-count" id="with-hint" name="accountNumber" type="text" aria-describedby="account-number-hint">

            </div>


    </fieldset>





    <button class="govuk-button" data-module="govuk-button">Continue</button>


  </form>









</div>
</div>

{% endblock %}
