{% extends "layout-3.html" %}

{% block pageTitle %}
How do you want to make your payments?
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}


{% if data['paymentChoices']=='lowPayments'%}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">


    <div class="">

      <h1 class="govuk-heading-xl mb40">Affordable payment plans</h1>

          <p>This is how an affordable payment plan works:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>enter an amount you can afford to pay each month</li>
           <li>if your financial situation improves, sign into your account to increase your monthly payments or pay additional one-off amounts</li>
           <li>if you cannot increase your payment plan over the next year, we will contact you to review your situation to understand how much you can afford


</li>
          </ul>



<form action="lowPayChoice">
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
</form>
  </div>


</div>
</div>



{% elif data['paymentChoices']=='customAmount'%}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




    <form class="form" action="/v44/setup-plan/custom-amount" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              How much do you want to pay?
            </h1>
          </legend>

          <div id="example-question" class="form-group inline">
            <span class="c-form-input-denote govuk-body">£</span>
            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="number" name="custom-amount"  value="{{data['custom-amount']}}">
          </div>

        </fieldset>
      </div>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>


{% else %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">


    <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">



    </span>Direct Debit payments</h1>


    <!--  {% include "includes/amountOwed.html" %} -->

    <p class="mt30">If you want to set up a Direct Debit online:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you must be an account holder and be able to authorise monthly Direct Debits with <br>your bank or building society</li>
      <li>you will need your bank or building society account details</li>
      <li>you will also need your sort code and account number if you have a building society account</li>
    </ul>

    <div class="govuk-inset-text mt0">
      Once your plan is set up, you can sign in to manage your plan, change payments, pay additional amounts or get help and support.
    </div>

    <h2 class="govuk-heading-m">
      For joint account holders:
    </h2>
    <p>If you have a joint account and you and your partner both need to authorise Direct Debits, you can set up a Direct Debit by contacting Debt Management:

      <p class="govuk-!-font-weight-bold">Debt Management</p>
      <p>Telephone: 0800 916 0647 <br>
        Telephone: 0800 916 0651 <br>
        Monday to Friday, 8am to 7:30pm (closed on public holidays)</p>
        <p><a href="#">Find out about call charges</a></p>



        <p><a href="directOwner" class="govuk-button">
          Continue
        </a></p>






      </div>
    </div>




{% endif %}








{% endblock %}
