
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



		<div class="list-display">
						
						<p>Hello Ashley Chamberlain.</p>
						<p>As you are in receipt of Universal Credit and are repaying money to DWP from your benefit payments, you can sign in to the Repay and manage benefit money you owe service to view details of your benefit deductions.</p>

						<p>To sign in to your account, go to <a href="startThis">https://repay-manage-benefit-you-owe.service.gov.uk</a></p>
						<p>You will need to enter security code 30054876254, along with your date of birth.</p>
				
		</div>






    </div>
</div>

{% endblock %}
