{% extends "layout-main.html" %}

{% block pageTitle %}
  Make a flexible payment
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to account home",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Make a payment

      </h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

      <div class="flexible-banner-float-none">


      <ul class="govuk-list">






        <li>

             <h3>Total amount left to pay</h3>
            <b>&pound;750.00</b>



        </li>

        <li>
          <h3>Paid this month</h3>
          <b>&pound;10.00</b>
        </li>

      <!--<li>
          <h3>Left to pay</h3>
          <b>&pound;67.00</b>
        </li>-->


      </ul>



      </div>


      <form class="form" action="flexible-payment-summary" method="post">


        <fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">



          How much do you want to pay today?



  </legend>




<div class="govuk-form-group">
  <label class="govuk-label" for="flexible-amount-how-much">
    Make sure you have enough money in your account to cover this payment.
  </label>

<div class="govuk-input__wrapper"><div class="govuk-input__prefix" aria-hidden="true">£</div>
  <input class="govuk-input govuk-input--width-10" id="flexible-amount-how-much" name="flexible-amount" type="text" spellcheck="false" inputmode="decimal"></div>

</div>



</fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
