{% extends "layout-3a.html" %}

{% block pageTitle %}
Sign in with GOV.UK One Login
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">

		<form class="form" action="/version-41/sign-in-choice" method="post">

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						<h1 class="govuk-fieldset__heading">
							Sign in with GOV.UK One Login
						</h1>
					</legend>
<br>
<p>You need to sign in with your GOV.UK One Login. If you don't have a GOV.UK One Login, you'll need to create one.</p>

<p>Your GOV.UK One Login allows you to securely access this service and other government services that use GOV.UK One Login.</p>

<p>You'll also need to prove your identity. This will help keep your information safe.</p>

<p>You'll need:</p>

<ul class="govuk-list govuk-list--bullet">

<li>a valid photo ID, such as your passport or driving licence</li>
<li>your current home address (you will need to provide your previous address if you have moved within the last 3 months)</li>
</ul>

<h2 class="govuk-heading-m mt30">If you already have a GOV.UK One Login</h2>

<p>Sign into GOV.UK One Login with the details you've previously set up.</p>



				</fieldset>
			</div>





			<button class="govuk-button" data-module="govuk-button">
				Continue
			</button>
	</form>





	</div>
</div>

{% endblock %}
