{% extends "layout-main.html" %}


{% block pageTitle %}
Details of what you owe
{% endblock %}


{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>
{{ govukBackLink({
  text: "Back to account home",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Details of what you owe</h1>



{% if data['deductionChange']=='DyesChange'%}

<div class="govuk-inset-text">
  Total amount left to repay: <span class="total-amount">
    &pound;600.00

  </span>



</div>


<div class="flexible-banner-float-none">
  <ul class="govuk-list">
    <li>
      <h3>New payment</h3>
      <span id="total-amount"><b>£{{ data['newDeductedAmount'] }}</span>
      </li>
    </ul>

    <p>Your account will be updated within the next 7 days.
    </p>
  </div>
  {% else %}

  <div class="govuk-inset-text">
    Total amount left to pay: <span class="total-amount">
      &pound;515.00

    </span>



  </div>
  {% endif %}
  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">


    <div class="govuk-accordion__section ">
         <div class="govuk-accordion__section-header">
         <h2 class="govuk-accordion__section-heading">
           <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
           Pension Credit
           </span>
          </h2>



       <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
         Overpayment
         </div>

         </div>
         <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">



         <div class="flexible-banner-float-none">





            <table class="govuk-table">

            <caption class="visually-hidden">Overpayment detail</caption>





             <tbody class="govuk-table__body">


             <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Overpayment period</th>
                 <td class="govuk-table__cell"> 	21 January 2025 to 25 February 2025</td>
               </tr>

              <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Original amount owed</th>
                  <td class="govuk-table__cell">&pound;100.00</td>
                </tr>
                  <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Current amount owed</th>
                      <td class="govuk-table__cell">&pound;100.00</td>
                    </tr>




             </tbody>

         </table>



         <!-- <h4 class="govuk-heading-s">Final payment date</h4>


         <p>If your current repayment amount stays at £10.00 you will clear this Tax Credits overpayment in

           <script>
            var  num1 = 170.00;
            var num2 =  10;
            var x = Math.floor(num1 / num2); //or whatever offset
            var CurrentDate = new Date();
            console.log("Current date:", CurrentDate);
            CurrentDate.setMonth(CurrentDate.getMonth() + x);
             document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
          </script>.
         </p> -->

         <h4 class="govuk-heading-s">Overpayment reason</h4>
        <p>
        You were overpaid Pension Credit. You were sent a letter about your overpayment on 28 February 2025.</p>




         </div>

      <p>If you have any questions, you should contact the Pension Service directly:</p>


      <ul class="govuk-list">
        <li>Telephone: 0800 731 0469</li>
        <li>Textphone: 0800 731 0464 (for deaf or hard of hearing users and customers with speech difficulties)</li>
        <li>Welsh language: 0800 731 0453</li>
        <li>Welsh language textphone: 0800 731 0456</li>


         <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
      </ul>

    <p class="govuk-body">
      <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
    </p>

         </div>
       </div>



    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          State Pension
          </span>
         </h2>



      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Overpayment
        </div>

        </div>
        <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">



        <div class="flexible-banner-float-none">





           <table class="govuk-table">

           <caption class="visually-hidden">Overpayment detail</caption>





            <tbody class="govuk-table__body">


            <tr class="govuk-table__row">
               <th scope="row" class="govuk-table__header">Overpayment period</th>
                <td class="govuk-table__cell"> 	1 September 2022 to 30 June 2023</td>
              </tr>

              <tr class="govuk-table__row">
                 <th scope="row" class="govuk-table__header">Original amount owed</th>
                  <td class="govuk-table__cell">&pound;605.00</td>
                </tr>
                 <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Current amount owed</th>
                     <td class="govuk-table__cell">&pound;410.00</td>
                   </tr>




            </tbody>

        </table>





         <h4 class="govuk-heading-s">Overpayment reason</h4>
        <p>
        You were overpaid State Pension. You were sent a letter about your overpayment on 5 January 2024.</p>


        </div>

        <p>If you have any questions, you should contact the Pension Service directly:</p>


        <ul class="govuk-list">
          <li>Telephone: 0800 731 0469</li>
          <li>Textphone: 0800 731 0464 (for deaf or hard of hearing users and customers with speech difficulties)</li>
          <li>Welsh language: 0800 731 0453</li>
          <li>Welsh language textphone: 0800 731 0456</li>
         </ul>

       <p class="govuk-body">
         <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
       </p>

            </div>
          </div>


    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
            Jobseeker’s Allowance
          </span>
        </h2>



        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
          Overpayment
        </div>

      </div>
      <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">



        <div class="flexible-banner-float-none">





          <table class="govuk-table">

            <caption class="visually-hidden">Overpayment detail</caption>





            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Overpayment period</th>
                <td class="govuk-table__cell"> 	1 September 2023 to 30 December 2023</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Original amount owed</th>
                <td class="govuk-table__cell">&pound;300.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Current amount owed</th>
                <td class="govuk-table__cell">&pound;5.00</td>
              </tr>

            </tbody>

          </table>




        </div>

        <p>If you have any questions, you should contact Jobseeker’s Allowance directly:</p>


        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Welsh language: 0800 328 1744</li>
          <li>Monday to Friday, 8am to 5pm (closed on public holidays)</li>


        <p class="govuk-body">
          <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
        </p>

      </div>
    </div>









  </div>
  <!-- // Accordian end -->

<!--
  <h4 class="govuk-heading-m">Universal Credit repayments</h4>


  <p>If you have any other deductions from your Universal Credit payment, they cannot be managed on this service. For example, any repayments for an advance taken out during your current claim.  </p>
  <p>




  </p>
  <p>For more information, refer to your Universal Credit statement.</p> -->



</div>
</div>

{% endblock %}
