
{% extends "layout-3a.html" %}

{% block pageTitle %}
You have signed out
{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>

{% endblock %}
{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

	   <h1 class="govuk-heading-xl">You have signed out</h1>
<br><br>
	   <p>You can now close your browser window.</p>

		<p><a href="ol_signin" class="govuk-button">Sign in</a></p>


    </div>
</div>

{% endblock %}
