
{% extends "layout-4.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">


									<span class="govuk-caption-xl">Ashley Chamberlain</span>
									<h1 class="govuk-heading-xl mb30">
										The total amount you owe<br>has changed</h1>




										<div class="flexibleBanner">


											<ul class="govuk-list">
	
												<li>
													<h3>New amount added</h3>


														<b>&pound;300.00</b>

												</li>
												
												
								
												
												
												<li>
													<h3>Updated total amount owed</h3>


														<b>&pound;2000.00</b>



												</li>
											</ul>
											
											
											
											</div>
											
											
											
										<!--<p>This has increased the amount you owe so your deductions may change each month.</p>-->
										<p>It is important to understand the new amount added is part of a joint claim and is therefore shared with your partner.</p>
										


<div class="govuk-inset-text">To understand more about your joint claim, you should refer to your Universal Credit journal.</div>





<div class="govuk-button-group mt30">
	  <a href="debtBreakdownFull" class="govuk-button" data-module="govuk-button">
		View details of what you owe
	  </a>
	
	  <a href="indexAccountHome" class="govuk-button govuk-button--secondary" data-module="govuk-button">
		Continue to account home
	  </a>
	</div>



										<!--// Struggling to pay end -->







    </div>
</div>

{% endblock %}
