
{% extends "layout-3.html" %}

{% block pageTitle %}
Important information about managing the money you owe to DWP

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% block content %}


<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<!-- {% if data['signOptions']=='codeContinue'%} -->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <span class="govuk-caption-xl">Ashley Chamberlain</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Important information about managing the money you owe
    </h1>

    <h3 class="govuk-heading-m">DWP repayments
    </h3>

    <div class="flexible-banner-float-none">
      <ul class="govuk-list">
        <li>
          <h3>Total amount you owe:</h3>
          <span id="new-debts-amount"><b>£1,300.00</b></span>
        </li>
        <!-- <li>
          <h3>Previous payment:</h3>
          <span class="total-amount" id="new-total-owed"><b>£0.00</b></span>
        </li> -->
      </ul>
    </div>

    <span><a href="debtBreakdownFull" style="margin-bottom:30px;"  class="secondary-invert">View details of what you owe</a></span>

    <!-- <div class="govuk-body">
    What we will take from the payments: <br>
    <ul>
      <li>  benefit overpayments and budgeting loans </li>
      <li>  recoverable hardship payments  </li>
    </ul>
    </div> -->

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m"> Universal Credit repayments
    </h3>

    <p>



      If you have any other deductions from your Universal Credit payment, they cannot be managed on this service. For example, any repayments for an advance taken out during your current claim.
</p>



      <p>For more information, refer to your Universal Credit statement.



</p>





    <p class="mt30"><a href="indexAccountHome" class="govuk-button">
      Continue to account home
    </a></p>




  </div>
</div>


<!-- {% else %} -->

<!--
<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




        <h1 class="govuk-heading-xl">Register</h1>

        <p>Create an account so you can sign in securely each time you visit.</p>
        <div class="govuk-inset-text">
          <a href="#">Sign in if you have already created an account</a>
        </div>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p>You will need:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an email address</li>
          <li>a mobile phone</li>
          <li>your National Insurance number</li>


        </ul>
    <p>We will send security codes to your email and phone to check they belong to you.

    </p>
        <p>You will also need information from 2 sources so we can confirm your identity and help protect you from fraud.</p>
        <p>You can choose from:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a UK passport</li>
          <li>payslips or P60</li>
          <li>Self Assessment</li>
          <li>information about tax credits, if you claim them</li>
          <li>details of your bank accounts, loans, mortgages or credit agreements</li>
        </ul>






        <p><a href="https://prototype-dth.herokuapp.com/auth/dev-ready/register/email-address?service-name=Manage my benefit debt" class="govuk-button">Continue</a></p>

        <p><a href="sign-in-oidv">I do not have this information</a></p>


  </div>
</div> -->



<!-- {% endif %} -->






{% endblock %}
