{% extends "layout-3.html" %}

{% block pageTitle %}
How would you like to receive your reminder?


{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <span class="govuk-caption-xl">Affordability</span>
        How would you like to receive your reminder?
      </h1>

      <!-- <div class="flexible-banner-float-none">
        <ul class="govuk-list">
          <li>
            <h3>We will send you a reminder 30 days before check your repayments date:</h3>
            <span id="new-debts-amount"><b>31 December 2024</b></span>
          </li>

        </ul>
      </div> -->
      <form class="form" action="/reminder-notification" method="post">




      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">



          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reminder-notification" name="reminder-notification" type="radio" value="yes-email" {{ checked('reminder-notification','yes-email') }}>
              <label class="govuk-label govuk-radios__label" for="reminder-notification">
                By email
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reminder-notification-1" name="reminder-notification" type="radio" value="yes-mobile" {{ checked('reminder-notification','yes-mobile') }}>
              <label class="govuk-label govuk-radios__label" for="reminder-notification-1">
                By text message
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reminder-notification-2" name="reminder-notification" type="radio" value="yes-email-mobile" {{ checked('reminder-notification','yes-email-mobile') }}>
              <label class="govuk-label govuk-radios__label" for="reminder-notification-2">
                Both email and text message
              </label>
            </div>
            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reminder-notification-3" name="reminder-notification" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="reminder-notification-3">
                I do not want a reminder
              </label>
            </div> -->
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
    Continue
  </button>
  </form>

    </div>
  </div>

{% endblock %}
