
{% extends "layout-3a.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>


    <p>Use this service if you need to repay money to the Department for Work and Pensions (DWP).</p>
    <!-- <p>DWP will send you a letter or text message inviting you to use this service.</p> -->

    <div class="govuk-inset-text">
      There’s also a way to <a href="#">repay benefit money to the Department for Communities if you live in Northern Ireland</a>.
    </div>


    <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



    <h2 class="govuk-heading-m mt30">If you’re getting benefits</h2>

    <p>Your benefit payments will be reduced until you’ve paid back the money.</p>
<p>Universal Credit will send you a journal message inviting you to use this service.</p>
    <p>You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check how much you owe</li>
      <li>check when you will have repaid the money</li>
      <li>get help and support to make repayments</li>
    </ul>

    <h2 class="govuk-heading-m mt30">If you’ve stopped getting benefits</h2>
<p>DWP will send you a letter or text message inviting you to use this service.</p>
    <p>You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check how much you owe</li>
      <li>set up regular monthly payments</li>
      <li>manage an existing Direct Debit or flexible payment plan</li>
      <li>pay back what you owe in full</li>
      <li>get help and support to make repayments</li>
    </ul>

    <p>You’ll need a credit or debit card to make a payment through this service. Your bank may charge you a fee if you pay by credit card.</p>










    <!--<p>If you need to repay money to DWP but you still get benefits, you cannot use this service. Regular amounts will be taken out of your benefits until you’ve paid back the money.</p>-->






    <!-- <h2 class="govuk-heading-m">Before you start</h2>

    <p>You'll need to have received a letter or text message from DWP inviting you to use the service.</p> -->


    <!-- <h3 class="govuk-heading-m mt40">Sign into the service</h3> -->
    <div class="flexible-banner-float-none govuk-body">
      You'll need to have a text message or letter from DWP or a message in your Universal Credit journal inviting you to use this service.
    </div>
<p class="govuk-heading-m">Sign in to the service</p>
    <p><a href="do-you-have-security-code" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </p>


  <!-- <details class="govuk-details mt20" data-module="govuk-details">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
  I have problems with my letter
</span>
</summary>
<div class="govuk-details__text">
<p>If you've lost your letter or having problems with it, contact us.</p>


<ul class="govuk-list">
<li>Telephone: 0800 5871322</li>
<li>Monday to Friday, 9am to 5pm</li>
</ul>
<p class="govuk-body">
<a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
</p>



</div>
</details>-->






</div>
</div>

{% endblock %}
