{% extends "layout-3.html" %}

{% block pageTitle %}
Make a payment today to start your plan

{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}




{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">

      Make a payment for <script>
          const mon = ["January","February","March","April","May","June","July","August","September","October","November","December"];

          const da = new Date();
          let mont = mon[da.getMonth()];
          document.write(mont);
        </script>
</h1>

      <br>
      <div id="event-name-hint" class="govuk-body">
You must make at least one payment every month.        </div>
      <br>

      <form class="form" action="#" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <!-- <h1 class="govuk-fieldset__heading">
                How much of June’s monthly target do you want to pay today?
              </h1>
            </legend> -->


            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-10" id="payment-amount" name="payment-amount" type="text" spellcheck="false" value="{{ data['payment-amount']}}">
            </div>



          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>



    </div>
  </div>

  {% endblock %}
