{% extends "layout-3.html" %}

{% block pageTitle %}
  Choose income type
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
{% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
{% set totalspending = data['spending-debt']|float + data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
{% set balance = totalIncome-totalspending %}
{% set leftOver = balance+65 %}
{% if leftOver > 0 %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set totalIncome = data['income-pension']|float + data['income-other']|float + data['income-universal-credit']|float + data['income-take-home']|float %}
      {% set totalspending = data['spending-debt']|float + data['spending-phone']|float + data['spending-housing']|float + data['spending-utilities']|float + data['spending-travel']|float + data['spending-groceries']|float + data['spending-caring']|float + data['spending-other']|float %}
      {% set balance = totalIncome-totalspending %}
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments
        </span>How much do you now feel you can repay each month?
      </h1>

      <form class="form" action="/v42/account-improvement/on-benefit-test-2/manage-your-repayments-test-2/what-this-will-mean-for-your-repayments.html" method="post" >

 <div class="govuk-inset-text">
<!-- <p>You felt you could repay <strong>{{ data['new-affordable-amount']|currency }}</strong>.</p> -->

 <p>Including your income, spending and current £65.00 repayment, you have <strong>{{ leftOver|currency}}</strong> left over each month. </p>
</div>



        <div class="govuk-form-group">

        <!-- <p class="govuk-heading-s">Enter an affordable amount </p> -->


    <div class="govuk-input__wrapper">
      <div class="govuk-input__prefix" aria-hidden="true">£</div>
      <input class="govuk-input govuk-input--width-10" id="newDeductedAmount" name="final-affordable-amount" type="number" step="0.01" spellcheck="false" value="{{data['final-affordable-amount']}}">
    </div>

  </div>


<!--
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">

    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="final-affordable-amount" name="selected-amount-choice" type="radio" value="inital-amount" {{ checked('selected-amount-choice','inital-amount') }}>
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          {{ data['new-affordable-amount']|currency }}
          {% set finalAmount=data['new-affordable-amount']|float %}

        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="final-affordable-amount" name="selected-amount-choice" type="radio" value="new-amount" data-aria-controls="conditional-pay-another" {{ checked('selected-amount-choice','new-amount') }}>
        <label class="govuk-label govuk-radios__label" for="pay-another-amount">
          Pay another amount
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-pay-another">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Enter amount
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="final-affordable-amount" name="final-affordable-amount" type="number" step="0.01" spellcheck="false" value="{{data['final-affordable-amount']}}">
            {% set finalAmount = data['final-affordable-amount']|float %}

          </div>
        </div>
      </div>



    </div>
  </fieldset>
</div> -->

  <hr class="govuk-section-break govuk-section-break--s govuk-section-break--hidden">


  <!-- <details class="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
    I cannot afford to pay anything at all
  </span>
</summary>
<div class="govuk-details__text">
If you cannot afford to pay anything at all, you need to contact Debt Management to discuss the options available to you.
<p>
  <strong> <br>
Debt Management
</strong></p>
<p>
</p><ul class="govuk-list">
<li>Telephone: 0800 916 0647</li>
<li>Textphone: 0800 916 0651 (for deaf or hard of hearing users and customers with speech difficulties)</li>
<li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
</ul>

<p><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank">Find out about call charges</a></p>

<p></p>
</div>
</details> -->




<button type="submit" class="govuk-button" data-module="govuk-button">
Continue

</form>

    </div>
  </div>

  {% else %}

  <div class="govuk-grid-row">

 <div class="govuk-grid-column-three-quarters">






     <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
       <span class="govuk-caption-xl">Manage your repayments</span>
       How much do you now feel you can repay each month?
     </h1>
     <form class="form" action="/v42/account-improvement/on-benefit-test-2/manage-your-repayments-test-2/what-this-will-mean-for-your-repayments.html" method="post" >
       <p>Based on what you have now told us, you do not have any money left over each month. However, if you feel you can still pay something, you can enter an affordable amount.</p>


 <!-- <p class="govuk-heading-s">Enter amount that you feel like paying</p> -->
 <div class="govuk-input__wrapper">
 <div class="govuk-input__prefix" aria-hidden="true">£</div>
 <input class="govuk-input govuk-input--width-10" id="newDeductedAmount" name="final-affordable-amount-v2" type="number" step="0.01" spellcheck="false" value="{{data['final-affordable-amount-v2']}}">
 </div>
 <br><br>

 <div class="govuk-inset-text">
 <p>If you feel you are not able to pay anything at all, you need to contact us for help and discuss your options.</p>
 <h2 class="govuk-heading-m ">Debt Management</h2>
 <ul class="govuk-list">


 <li>Telephone: 0800 916 0647</li>
 <li>Textphone: 0800 916 0651</li>
 <li>Monday to Friday, 8am to 7:30pm (except public holidays)</li>
 </ul>
 <p class="govuk-body">
 <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers">Find out about call charges</a>
 </p>  </div>



 <button type="submit" class="govuk-button" data-module="govuk-button">
 Continue
 </button>
 </form>
 </div>
 </div>
 {% endif %}

{% endblock %}
