
{% extends "layout-3.html" %}

{% block pageTitle %}
Important information about managing the money you owe to DWP

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



{% if data['signOptions']=='codeContinue'%}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <span class="govuk-caption-xl">Ashley Chamberlain</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      Important information about managing the money you owe to DWP
    </h1>

    <div class="flexible-banner-float-none">
      <ul class="govuk-list">
        <li>
          <h3>Total amount owed to DWP</h3>
          <span id="new-debts-amount"><b>£1,670.00</b></span>
        </li>
        <li>
          <h3>Previous amount paid to DWP</h3>
          <span class="total-amount" id="new-total-owed"><b>£40.00</b></span>
        </li>
      </ul>
    </div>






    <p>It is important to understand that there may be other money currently being deducted from your Universal Credit payment which cannot be managed on this service. This may include any advances taken out as part of your current claim.</p>



    <div class="govuk-inset-text">
      <p>For more information and a full breakdown of payments, you can check your Universal Credit statement.
</p>

    </div>




    <p class="mt30"><a href="indexAccountHome" class="govuk-button">
      Continue to account home
    </a></p>




  </div>
</div>


{% else %}


<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <h1 class="govuk-heading-xl">Register</h1>

    <p>Register so you can securely sign in whenever you use this service.</p>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p>You will need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an email address</li>
      <li>a mobile phone</li>

    </ul>

    <p>You will also need information from 2 sources so we can check we are dealing with the right person. These are:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a UK passport</li>
      <li>payslips or P60M</li>
      <li>information about tax credits, if you claim them</li>
      <li>details of your credit record</li>
    </ul>


    <h3 class="govuk-heading-m">What happens next</h3>

    <p>Your information will be checked against our records. This also helps protect you from fraud.</p>

    <p>We will send security codes to your email and mobile phone to check that they belong to you.</p>

    <p>Whenever you sign in we will send a new security code to your mobile phone.</p>

    <p>You will also need to create a password.</p>

    <!--<p><a href="https://dth-prototype.herokuapp.com/auth/dev-ready/register/email-address?service-name=Manage my benefit debt" class="govuk-button">Continue</a></p>-->
    <p><a href="#" class="govuk-button">Continue</a></p>

  </div>
</div>



{% endif %}






{% endblock %}
