{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          David Jones
        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to pay: <span class="total-amount">
          &pound;600.00

        </span>



      </div>


    </div>




    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half" >


  			 <div class="scenario-panel" >
  					   <h2 class="govuk-heading-s">Your repayments</h2>

  					   <div class="scenario-inner-panel">


                 <div id="green-banner" class="alert-green">
              <p style="margin-bottom:0px;"> <strong>Previous payment</strong><br>£20.00 on 1 February 2024.</p>
                       </div>





<p>If your monthly repayments stay at £20.00, you will clear the total amount owed in 01 Jul 2027.

</p>


  					  <span><a href="details-of-what-you-owe" class="secondary-invert">View details of what you owe</a></span>





  					   </div>
  				   </div>










  		  </div>


  		<div class="govuk-grid-column-one-half">



  			  <div class="scenario-panel" style="height:360px;">
  					   <h2 class="govuk-heading-s">Summary</h2>


  					   <div class="scenario-inner-panel">





  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">


  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total payments</th>
  									<td class="govuk-table__cell">


  								   15
  									</td>
  								 </tr>


  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total amount repaid</th>
  									<td class="govuk-table__cell">



  								  &pound;300.00


  									</td>
  								  </tr>



  								  <!-- <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Expected end of debt</th>
  									<td class="govuk-table__cell">



  											January 2023



  									</td>
  								  </tr> -->






  								</tbody>
  							  </table>



  					   <span><a href="payment-history" class="secondary-invert mt10">View your payment history</a></span>


  		  </div>
  			  </div>






  		</div>


  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Manage your repayments
</h2>


  					   <div class="scenario-inner-panel">



                 <div class="flexible-banner-float-none">
                   <ul class="govuk-list">
                     <li>
                       <h3>Monthly repayment:
                         <span id="new-debts-amount"><b></b></span></h3>
                       </li>

                     </ul>
                     <ul class="govuk-list">

                       <li>
                         <h3>Check your repayments by:
                           <span class="total-amount" id="new-total-owed"><b><script>
                              var x = 12; //or whatever offset
                              var CurrentDate = new Date();
                              console.log("Current date:", CurrentDate);
                              CurrentDate.setMonth(CurrentDate.getMonth() + x);
                               document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                            </script></b></span></h3>
                         </li>

                       </ul>
                     </div>
                 <p>You can manage your repayments based on how much you can afford.</p>



  					   <span><a href="/v42/account-improvement/on-benefit/manage-your-repayments/how-much-can-you-afford-to-repay-each-month.html" class="secondary-invert dash-spacer">Tell us how much you can afford</a></span>
  					   </div>
  				   </div>




  		  </div>







  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:415px;">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
  						<p>Get help if you're struggling to pay and find<br>out what to do next.</p>


  					   <span><a href="help-and-support" class="secondary-invert">Get help and support</a></span>
  					   </div>
  				   </div>




  		  </div>



  		</div>




  	  </div>
    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
