{% extends "layout-3a.html" %}

{% block pageTitle %}
Sign in to your Repay and manage benefit money you owe account
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">






		<form class="form" action="/v42/account-improvement/on-benefit/sign-in-choice" method="post">





			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						<h1 class="govuk-fieldset__heading">
							Sign in to your Repay and manage benefit money you owe account
						</h1>
					</legend>

					<br>
					<div class="govuk-radios">

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="inRegister" name="sign-in-choice" type="radio"
								aria-describedby="sign-in-item-hint" value="sign-in-oidv" >
							<label class="govuk-label govuk-radios__label" for="inRegister">
								<b>

									Sign in with the email address you used when you registered for this service</b>
							</label>
							<div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">

								You cannot sign in with your Universal Credit account details.

							</div>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="inSecurity" name="sign-in-choice" type="radio"
								aria-describedby="sign-in-2-item-hint" value="security-code">
							<label class="govuk-label govuk-radios__label" for="inSecurity">
								<b>

									Sign in with the security code on the invitation letter</b>
							</label>
							<div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">

								You can sign in using a security code if you have one. </div>
						</div>


						<div class="govuk-radios__divider">or</div>

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="register-account" name="sign-in-choice" type="radio"
								value="govuk-verify" aria-describedby="sign-in-3-item-hint">
							<label class="govuk-label govuk-radios__label" for="sign-in-3">
								<b>Register a new account</b>
							</label>
							<div id="sign-in-3-item-hint" class="govuk-hint govuk-radios__hint">
								You will need to verify your identity.
							</div>
						</div>

					</div>

				</fieldset>
			</div>





			<button class="govuk-button" data-module="govuk-button">
				Continue
			</button>
	</form>





	</div>
</div>

{% endblock %}
