
{% extends "layout-main.html" %}

{% block pageTitle %}
How much can you afford to repay each month?

{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}
{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">







								<!-- <form class="form" action="/income-expense/amount-low" method="post"> -->
                  <form class="form" action="start-i-e" >



									<div class="govuk-form-group">
										  <fieldset class="govuk-fieldset">

                        <span class="govuk-caption-xl" wiid="N131">Manage your repayments</span>
                        <h1 class="govuk-heading-xl" style="margin-bottom:50px;">How much do you feel you can repay each month?</h1>

                      <div id="authentication-code-hint" class="govuk-inset-text">
                          Your current monthly repayment amount is £43.50
                        </div>


											  <div class="govuk-input__wrapper">
												  <div class="govuk-input__prefix" aria-hidden="true">£</div>
												  <input class="govuk-input govuk-input--width-10" id="newDeductedAmount" name="new-affordable-amount-v2" type="number" step="0.01" spellcheck="false" value="{{data['new-affordable-amount-v2']}}">
												</div>



										  </fieldset>
									</div>


                  <!-- <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                   I need help understanding how much I can afford
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                <p>Normally the most that can be taken to repay money you owe is 15% of your Universal Credit Standard Allowance.</p><p>You can <a href="https://www.gov.uk/guidance/find-out-about-money-taken-off-your-universal-credit-payment#how-much-will-be-taken-off-your-universal-credit-payment" class="govuk-link" rel="noreferrer noopener" target="_blank">find out about money taken off your Universal Credit payment (opens in new tab).</a></p>         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">



                    </div>
                  </details> -->
							<button class="govuk-button" data-module="govuk-button">
							Continue
							</button>
							</form>

    </div>
</div>

{% endblock %}
