
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment review - Your monthly payments will be reduced

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">






			  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
				  <span class="govuk-caption-xl ">Manage your repayments</span>
			 Your monthly repayments will be updated
			  </h1>


        <div class="flexible-banner-float-none">
          <ul class="govuk-list">
            <li>
              <h3>New monthly repayment:</h3>
              <span id="new-debts-amount"><b>{{ data['final-affordable-amount']|currency }}</b></span>
            </li>

          </ul>
        </div>




				  <p>If you have a payment due in the next 7 working days, your Universal Credit account may not show the new amount until next month.</p>


  <!-- <div class="govuk-warning-text mt40">
		 <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
		 <strong class="govuk-warning-text__text">
		   <span class="govuk-warning-text__assistive">Warning</span>



		   This will only reduce the amount we take from your Universal Credit payment in relation to previous claims.
		 </strong>
	   </div>	-->
		<!--<p>If you need to manage other money you owe you should check your Universal Credit statement for a full breakdown of deductions being taken from your benefits.</p>-->

		<p class="mt30"><a href="how-this-changes-uc" class="govuk-button">
			Continue
		  </a></p>


	</div>
</div>

{% endblock %}
