
{% extends "layout-main.html" %}

{% block pageTitle %}
Payment review
{% endblock %}


{% block beforeContent %}

<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}






<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-xl" wiid="N131">Manage your repayments</span>
    <h1 class="govuk-heading-xl" style="margin-bottom:50px;">Understand how much you can afford to repay</h1>



    <p> To help you understand how much you can afford to repay each month, you will need to enter your monthly household income and spending.

    </p>



    <p><a href="income" class="govuk-button">Continue</a></p>

  </div>
</div>






{% endblock %}
