
{% extends "layout-3.html" %}

{% block pageTitle %}
Details of what you owe
{% endblock %}


{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language">
  <ul class="dwp-language-toggle__list">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item">English</li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link">Cymraeg</a></li>
  </ul>
</nav>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Details of what you owe</h1>

    <!-- <div class="govuk-inset-text">
    Total amount owed: <span class="total-amount">
    &pound;1139.10

  </span>


</div>-->



{% if data['deductionChange']=='DyesChange'%}

<div class="govuk-inset-text">
  Total amount left to pay: <span class="total-amount">
    &pound;600.00

  </span>



</div>


<div class="flexible-banner-float-none">
  <ul class="govuk-list">
    <li>
      <h3>New payment</h3>
      <span id="total-amount"><b>£{{ data['newDeductedAmount'] }}</span>
      </li>
    </ul>

    <p>Your account will be updated within the next 7 days.
    </p>
  </div>
  {% else %}

  <div class="govuk-inset-text">
    Total amount left to pay <span class="total-amount">
      &pound;3,098.64

    </span>



  </div>
  {% endif %}



  <table class="govuk-table govuk-table--small-text-until-tablet">
    <caption class="govuk-table__caption govuk-table__caption--m">Benefits and outstanding amounts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit</th>
        <th scope="col" class="govuk-table__header">Original amount</th>
        <th scope="col" class="govuk-table__header">Amount left to pay</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> <a href="uc-overpayment-joint-details">Universal Credit - Overpayment (joint)</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£100.29</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£100.29</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="uc-advance-payment-details">Universal Credit- Advance payment</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£179.82</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£179.82</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="uc-recoverable-hardship-payment-details">Universal Credit - Recoverable Hardship Payment (joint)</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£1,120.21</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£1,000.21</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="uc-budgeting-advance-joint-details">Universal Credit - Budeting Advance (joint)</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£310.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£300.11</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="hmrc-tax-credit-overpayment-details">HMRC - Tax Credit overpayment</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£150.76</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£110.36</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="hmrc-tax-credit-overpayment-details-older">HMRC - Tax Credit overpayment</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£50.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£20.00</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="esa-short-term-advance">Employment and Support Allowance - Short term advance (income related)</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£250.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£210.00</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> <a href="uc-overpayment-joint-details-older">Universal Credit - Overpayment (joint)</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£1,600.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£1,430.32</td>

      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="jsa-new-style-allowance">Jobseeker's Allowance - 'New style' Jobseeker’s Allowance</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£300.40</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£229.00</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total </th>
        <th scope="row" class="govuk-table__header govuk-table__cell--numeric">£3,580.11</th>
        <th scope="row" class="govuk-table__header govuk-table__cell--numeric">£3,098.64</th>
      </tr>
    </tbody>
  </table>




</div>
</div>

{% endblock %}
