
{% extends "layout-3.html" %}

{% block pageTitle %}
Details of what you owe
{% endblock %}


{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language">
  <ul class="dwp-language-toggle__list">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item">English</li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link">Cymraeg</a></li>
  </ul>
</nav>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Details of what you owe</h1>

    <!-- <div class="govuk-inset-text">
    Total amount owed: <span class="total-amount">
    &pound;1139.10

  </span>


</div>-->



{% if data['deductionChange']=='DyesChange'%}

<div class="govuk-inset-text">
  Total amount left to repay: <span class="total-amount">
    &pound;600.00

  </span>



</div>


<div class="flexible-banner-float-none">
  <ul class="govuk-list">
    <li>
      <h3>New payment</h3>
      <span id="total-amount"><b>£{{ data['newDeductedAmount'] }}</span>
      </li>
    </ul>

    <p>Your account will be updated within the next 7 days.
    </p>
  </div>
  {% else %}

  <div class="govuk-inset-text">
    Total amount left to repay: <span class="total-amount">
      &pound;2,320.00

    </span>



  </div>
  {% endif %}



  <table class="govuk-table govuk-table--small-text-until-tablet">
    <caption class="govuk-table__caption govuk-table__caption--m">Benefits and debt amounts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date or period	</th>
        <th scope="col" class="govuk-table__header">Name of the benefit</th>
        <th scope="col" class="govuk-table__header">Amount left to pay</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 September 2024 to 31 September 2024</td>
        <td class="govuk-table__cell"> <a href="benefit-details">Universal Credit - Overpayment (joint)</a></td>
        <td class="govuk-table__cell">£1,300.33</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">12 February 2024</td>
        <td class="govuk-table__cell"><a href="#">Universal Credit- Advance payment</a></td>
        <td class="govuk-table__cell">£200 </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 April 2024 to 31 March 2024</td>
        <td class="govuk-table__cell"><a href="#">Universal Credit - Recoverable Hardship Payment (joint)</a></td>
        <td class="govuk-table__cell">£20 </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 January 2024 to 31 January 2024</td>
        <td class="govuk-table__cell"><a href="#">HMRC - Tax Credit overpayment</a></td>
        <td class="govuk-table__cell">£100.12</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">13 November 2023</td>
        <td class="govuk-table__cell"><a href="#">Universal Credit- Advance payment</a></td>
        <td class="govuk-table__cell">£200 </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 November 2023 to 31 November 2023</td>
        <td class="govuk-table__cell"> <a href="benefit-details">Universal Credit - Overpayment (joint)</a></td>
        <td class="govuk-table__cell">£600 </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">21 April 2023</td>
        <td class="govuk-table__cell"><a href="#">ESA - Short term advance</a></td>
        <td class="govuk-table__cell">£200 </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 April 2020 to 31 March 2021</td>
        <td class="govuk-table__cell"><a href="#">Jobseekers Allowance - Overpayment</a></td>
        <td class="govuk-table__cell">£200.42</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">24 January 2020</td>
        <td class="govuk-table__cell"><a href="#">Universal Credit - Budeting Advance (joint)</a></td>
        <td class="govuk-table__cell">£100</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total </th>
        <td class="govuk-table__cell"> </td>
        <td class="govuk-table__cell">£2,320.00</td>
        <td class="govuk-table__cell"> </td>
      </tr>
    </tbody>
  </table>


</div>
</div>

{% endblock %}
