{% extends "layout-3a.html" %}

{% block pageTitle %}
Employment and Support Allowance - Short Term Advance (income related)
{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language">
  <ul class="dwp-language-toggle__list">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item">English</li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link">Cymraeg</a></li>
  </ul>
</nav>


{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">




    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7 ">Employment and Support Allowance - Short Term Advance (income related)</h1>

    <dl class="govuk-summary-list">
  <!-- <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Debt type
    </dt>
    <dd class="govuk-summary-list__value">
      Overpayment (joint)
    </dd>
  </div> -->
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date of advance
    </dt>
    <dd class="govuk-summary-list__value">
      10 August 2023

    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Original amount owed
    </dt>
    <dd class="govuk-summary-list__value">
	£250.00
</dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
Amount left to pay    </dt>
    <dd class="govuk-summary-list__value">
      	£210.00
    </dd>
  </div>

</dl>

<h2 class="govuk-heading-m">Help and support</h2>
<p>You can check your Universal Credit journal if you have access to it for more details, or contact Universal Credit:</p>


<ul class="govuk-list">
  <li>Telephone: 0800 012 1331</li>
   <li>Textphone: 0800 012 1441  </li>
   <li>Welsh language: 0800 328 1744    </li>

    <li>Monday to Friday, 8am to 6pm (closed on public holidays)</li>
</ul>
<p><a href="#">Find out about call charges (opens in a new tab)</a></p>

  </div>
</div>

{% endblock %}
