
{% extends "layout-main.html" %}

{% block pageTitle %}
Important information about managing the money you owe to DWP

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    <span class="govuk-caption-xl">John Smith</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      The total amount you owe has changed
    </h1>



    <!-- <div class="flexible-banner-float-none">
      <ul class="govuk-list">
        <li>
          <h3>Amount left to pay</h3>
          <span id="new-debts-amount"><b>£3,300.00</b></span>
        </li>
        <li>
          <h3>New amount added</h3>
          <span id="new-debts-amount"><b>£280.11</b></span>
        </li>
        <li>
          <h3>Current amount left to pay</h3>
          <span class="total-amount" id="new-total-owed"><b>£3,580.11</b></span>
        </li>
      </ul>
    </div> -->



    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">New amount added</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Benefit</th>
          <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Amount 	</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> <a href="uc-overpayment-joint-details">Universal Credit - Overpayment (joint)</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£100.29</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="uc-advance-payment-details">Universal Credit- Advance payment</a></td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£179.82</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total </th>
          <th scope="row" class="govuk-table__header govuk-table__cell--numeric">£280.11</th>
        </tr>
      </tbody>
    </table>

    <p>Your current payments do not need to change. However, if you do not increase your payments, it will take longer to clear the amount you owe and may require a review.

    </p>
    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-table__caption govuk-table__caption--m">Total amount left to pay</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Amount 	</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Previous amount </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£2,818.53</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">New amount added </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">£280.11</td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Total </th>
          <th scope="row" class="govuk-table__header govuk-table__cell--numeric">£3,098.64</th>
        </tr>
      </tbody>
    </table>
    <!-- <span><a href="debtBreakdownFull" style="margin-bottom:30px;"  class="secondary-invert">View details of what you owe</a></span> -->

    <!-- <div class="govuk-body">
    What we will take from the payments: <br>
    <ul>
      <li>  benefit overpayments and budgeting loans </li>
      <li>  recoverable hardship payments  </li>
    </ul>
    </div> -->




<!-- <p><a href="details-of-what-you-owe-list">View details of what you owe</a></p> -->



    <p class="mt30"><a href="account-home" class="govuk-button">
      Continue
    </a></p>




  </div>
</div>








{% endblock %}
