
{% extends "layout-3.html" %}

{% block pageTitle %}
Make an additional payment

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-three-quarters">




										<form class="form" action="additional-payment-contact-you" method="post">







											<div class="govuk-form-group">
												  <h1 class="govuk-label-wrapper">
													  <label class="govuk-label govuk-label--xl" for="affordable-amount">
                              Make an additional payment

													</label>
												  </h1>
                          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

                          <div class="flexible-banner-float-none">
                            <ul class="govuk-list">
                              <li>
                                <h3>Total amount left to pay</h3>
                                <span id="new-debts-amount"><b>£3,098.64</b></span>
                              </li>
                              <li>
                                <h3>Monthly target</h3>
                                <span id="new-debts-amount"><b>£20.00</b></span>
                              </li>
                              <li>
                                <h3>Paid this month</h3>
                                <span class="total-amount" id="new-total-owed"><b>£8.00</b></span>
                              </li>
                            </ul>
                          </div>
												  <div id="pay-hint" class="govuk-heading-m">
													  How much of your monthly target you want to pay?
														  </div>

												  <div class="govuk-input__wrapper">
													<div class="govuk-input__prefix" aria-hidden="true">£</div>
													<input class="govuk-input govuk-input--width-10" id="additional-amount" name="additional-amount" type="text" spellcheck="false">
												  </div>
												</div>





											<button class="govuk-button" data-module="govuk-button">
											  Continue
											</button>
											</form>





    </div>
</div>

{% endblock %}
