
{% extends "layout-main.html" %}

{% block pageTitle %}
  Payment history
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">




	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payment history</h1>



          <div class="flexible-banner-float-none">
            <ul class="govuk-list">
              <!-- <li>
                <h3>Payments taken</h3>
                <span id="new-debts-amount"><b>15</b></span>
              </li>
              <li>
                <h3>Total amount repaid</h3>
                <span class="total-amount" id="new-total-owed"><b>£300.00</b></span>
              </li> -->
              <li>
                <h3>Total amount left to pay</h3>
                <span class="total-amount" id="new-total-owed"><b>£3,098.64</b></span>
              </li>
            </ul>
          </div>

<!-- 
          {% if data['additional-amount'] == 0 %}



           {% else %}
           <div id="green-banner" class="alert-green">
             <h2 class="govuk-heading-m">You have 1 payment  pending</h2>
                   <p> Payments can take 2 to 5 working days to clear and update your balance.</p>
                   <table class="govuk-table summary-pay">


                   <thead class="govuk-table__head">
                   <tr class="govuk-table__row">

                    <th class="govuk-table__header" scope="col">Payment date</th>

                    <th class="govuk-table__header" scope="col">Payment type</th>

                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>


                   </tr>
                   </thead>

                   <tbody class="govuk-table__body">



                      <tr class="govuk-table__row">
                         <td class="govuk-table__cell">  <script>
                             var CurrentDate = new Date();
                             console.log("Current date:", CurrentDate);
                             CurrentDate.setMonth(CurrentDate.getMonth() + 1);
                             document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                           </script>
           </td>
                         <td class="govuk-table__cell">Deduction from benefit</td>

                         <td class="govuk-table__cell govuk-table__cell--numeric">{{  data['additional-amount']  | currency }}</td>
                       </tr>







                   </tbody>
                   </table>
                 </div>
           {% endif %} -->


           <h2 class="govuk-heading-m mt40">Previous payments <br>
           <span class="govuk-hint">You can view up to 100 payments.</span>
           </h2>



<table class="govuk-table summary-pay">


<thead class="govuk-table__head">
<tr class="govuk-table__row">

 <th class="govuk-table__header" scope="col">Payment date</th>

 <th class="govuk-table__header" scope="col">Payment type</th>

 <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>

 <!--  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th> -->


</tr>
</thead>

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
     <td class="govuk-table__cell">11 October 2024</td>
     <td class="govuk-table__cell">Card payment</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">&pound;8.00</td>
   </tr>

   <tr class="govuk-table__row">
     <td class="govuk-table__cell">21 September 2024</td>
     <td class="govuk-table__cell">Card payment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;15.00</td>
    </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">01 September 2024</td>
    <td class="govuk-table__cell">Card payment</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">&pound;5.00</td>
   </tr>
   <tr class="govuk-table__row">
      <td class="govuk-table__cell">08 August 2024</td>
      <td class="govuk-table__cell">Card payment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">21 July 2024</td>
      <td class="govuk-table__cell">Card payment</td>
       <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
     </tr>

     <tr class="govuk-table__row">
       <td class="govuk-table__cell">10 July 2024</td>
       <td class="govuk-table__cell">Card payment</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
      </tr>

       <tr class="govuk-table__row">
         <td class="govuk-table__cell">06 June 2024</td>
         <td class="govuk-table__cell">Card payment</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">26 May 2024</td>
           <td class="govuk-table__cell">Card payment</td>
           <td class="govuk-table__cell govuk-table__cell--numeric">&pound;15.00</td>
         </tr>

         <tr class="govuk-table__row">
           <td class="govuk-table__cell">10 May 2024</td>
            <td class="govuk-table__cell">Card payment</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">&pound;15.00</td>
          </tr>

           <tr class="govuk-table__row">
             <td class="govuk-table__cell">10 April 2024</td>
             <td class="govuk-table__cell">Card payment</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">&pound;25.00</td>
            </tr>





</tbody>
</table>




          <nav class="govuk-pagination" role="navigation" aria-label="Pagination">

            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="payment-history" aria-label="Page 1" aria-current="page">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item ">
                <a class="govuk-link govuk-pagination__link" href="payment-history-p2" aria-label="Page 2">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item ">
                <a class="govuk-link govuk-pagination__link" href="payment-history-p3" aria-label="Page 3">
                  3
                </a>
              </li>
              <div class="govuk-pagination__next">
                  <a class="govuk-link govuk-pagination__link" href="payment-history-p2" rel="next">
                    <span class="govuk-pagination__link-title">
                      Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </a>
                </div>

            </ul>

          </nav>








    </div>
</div>

{% endblock %}
