{% extends "layout-main.html" %}

{% block pageTitle %}
Your repayments are changing
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <!--<span class="govuk-caption-l">Important Information</span>-->
      Your repayments are changing
    </h1>
<br>

    <p>As your claim has ended, we will no longer be deducting money automatically from your Universal Credit.</p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>We have sent you a letter with details of how to <a href="#">set up a payment plan</a>.</p>


    <!-- <p>You can either:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>wait for the letter for next steps</li>
      <li><a href="">setup a payment plan</a></li>
    </ul> -->



    <a class="govuk-button" href="messages">View all messages</a>

  </div>
</div>

{% endblock %}
