{% extends "layout-main.html" %}

{% block pageTitle %}
Accessibility for Repay and manage benefit money you owe

{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Accessibility for Repay and manage benefit money you owe
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <p wiid="N115">This service is part of the wider GOV.UK website. There’s a separate <a target="_blank" href="https://www.gov.uk/help/accessibility-statement" wiid="N117">accessibility statement for the main GOV.UK website</a>.</p>
      
      <p>This accessibility statement applies to the Repay and manage benefit money you owe service.</p>
 
      <h2 class="govuk-heading-m">Using this service</h2>

      <p>This website is run by the Department for Work and Pensions (DWP). We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
          <li>zoom in up to 400% without the text spilling off the screen</li>
            <li>navigate most of the website using a keyboard or speech recognition software</li>
              <li>listen to most of the website using a screen reader (including the most recent versions of NVDA and VoiceOver)</li>
    </ul>
      
    <p>We've also made the website text as simple as possible to understand.</p>
    
    <p><a target="_blank" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
       
    <h2 class="govuk-heading-m">How accessible this website is</h2>
    
    <p>We know some parts of this website are not fully accessible:</p>
      
    <ul class="govuk-list govuk-list--bullet">
      <li>some labels for inputs are quite long. In some voice recognition software, such as macOS Voice Control or Windows Speech Recognition, these inputs may be difficult to select by name. Using “show numbers” commands may be easier</li>
      </ul>
       
      <h2 class="govuk-heading-m">Feedback and contact information</h2>
      <p>If you have difficulty using this service, contact us by calling:</p>
      
      <p><strong>If you live in Great Britain:</strong></p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0800 916 0647</li>
        <li>Textphone: 0800 916 0651</li>
        <li>NGT text relay – if you cannot hear or speak on the phone: 18001 then 0800 916 0647</li>
        <li>Calling from abroad: +44 (0)161 904 1233</li>
        <li>Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
      </ul>
      
      <p><a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges (opens in new tab)</a></p>      
      
      <p><strong>If you live in Northern Ireland:</strong></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Telephone: 0800 587 1322</li>
        <li>Textphone: 0800 587 2986</li>
        <li>Monday to Friday, 9am to 4pm (closed on public holidays)</li>
      </ul>

      <p><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank">Find out about call charges (opens in new tab)</a></p>      
      
      <p>As part of providing this service, we may need to send you messages or documents. We'll ask you how you want us to send messages or documents to you but contact us if you need them in a different format. For example, large print, audio recording or braille.</p>
       
      <h2 class="govuk-heading-m">Enforcement procedure</h2>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <p>If you live in Northern Ireland, you may contact the <a href="https://www.equalityni.org/Home" target="_blank">Equality Commission for Northern Ireland (ECNI)</a>.</p>

      <h2 class="govuk-heading-m">Technical information about this service's accessibility</h2>
      <p>DWP is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
      
      <h2 class="govuk-heading-m">Compliance status</h2>
      <p>This service is fully compliant with the <a target="_blank" href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2 AA standard</a>.</p>
       
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
      <p>This statement was prepared on 24 October 2024. It was last reviewed on 24 October 2024.
      This website was last tested in October 2024 against the WCAG 2.2 AA standard.</p>
      
      <p>The test was carried out by the DWP Repay and manage benefit money you owe team. The most viewed pages were tested using automated testing tools by our service team. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>




    </div>
  </div>

{% endblock %}
