{% extends "layout-3.html" %}

{% block pageTitle %}
How much do you want to pay each month?
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}




<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">


    <form class="form" action="flexible-payment-summary" method="post">


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              How much do you want to pay each month?
            </h1>
          </legend>

<p>Your current monthly Direct Debit amount is <strong>£{{data['dd-payment-amount']}}</strong> </p>
          <div id="example-question" class="form-group inline">
            <span class="c-form-input-denote govuk-body">£</span>
            <input class="form-control c-form-input-denote__input govuk-input form-control-1-4 govuk-input--width-10" type="number" name="custom-amount"  value="">
          </div>

        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>

  </div>
</div>









{% endblock %}
