{% extends "layout-3a.html" %}

{% block pageTitle %}
Sorry, we could not sign you in

{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl">
        Sorry, we could not sign you in
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

     <!--  <p>You either hit the browser back button or something went wrong.</p> -->


      <p>You can try to <a href="/v45/direct-debit/ol_signin">sign in again</a> with: </p>

      <ul class="govuk-list govuk-list--bullet">

      <li>a security code if you have been sent one from DWP (DfC in Northern Ireland)</li>
      <li>GOV.UK One Login</li>
      </ul>

      <p>If you need further help signing in, contact Debt Management.</p>

      <p wiid="N154"><strong wiid="N155">If you live in Great Britain:</strong></p>

    <ul class="govuk-list" wiid="N158">
    <li wiid="N160">Telephone: 0800 158 5519</li>
    <li wiid="N163">Textphone: 0800 916 0651</li>
    <li wiid="N166">Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
  </ul>

  <p wiid="N170"><a href="https://www.gov.uk/call-charges" target="_blank" wiid="N171">Find out about call charges in Great Britain (opens in new tab)</a></p>


    <p wiid="N137"><strong wiid="N138">If you live in Northern Ireland:</strong></p>

      <ul class="govuk-list" wiid="N141">
      <li wiid="N143">Telephone: 0800 587 1322</li>
      <li wiid="N146">Textphone: 0800 587 2986 (for deaf or hard of hearing users and customers with speech difficulties)</li>
      <li wiid="N149">Monday to Friday, 9am to 4pm (closed on public holidays)</li>
    </ul>

    <p wiid="N153"><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank" wiid="N154">Find out about call charges in Northern Ireland (opens in new tab)</a></p>

    </div>
  </div>

{% endblock %}
