
{% extends "layout-3a.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}


<!-- welsh toggle start-->
<nav class="dwp-language-toggle" aria-label="Language toggle" style="margin-top: -40px; float:right;">
  <ul class="dwp-language-toggle__list">
  <li class="dwp-language-toggle__list-item" aria-current="true">
    English
  </li>
  <li class="dwp-language-toggle__list-item">
    <a href="#"
      hreflang="cy"
      lang="cy"
      rel="alternate"
      class="govuk-link"
      aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
  </li>
  </ul>
  </nav>
<!-- welsh toggle end -->

  <div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7 govuk-!-margin-top-9">Sorry, we could not sign you in with GOV.UK One Login</h1>

    <!-- <p>This is because some of your details do not match our records. -->

    <p>You can still <a href="sign-in-security-code">sign in with your security code</a> if you have been sent one from DWP (DfC in Northern Ireland). 
    </p>

    <p>If you need further help signing in, contact Debt Management.</p>
   


    <p> <b>If you live in Great Britain:</b> <br><br>
      Telephone: 0800 916 0647 <br>
      Textphone: 0800 916 0651 <br>
      Monday to Friday, 8am to 7:30pm (closed on public holidays)
    </p>

<p><a href="">Find out about call charges</a></p>

<p> <b>If you live in Northern Ireland:</b> <br><br>
  Telephone: 0800 587 1322 <br>
  Textphone: 0800 587 2986 <br>
  Monday to Friday, 9am to 4pm (closed on public holidays)
</p>

<p><a href="">Find out about call charges</a></p>


  </div>
</div>

{% endblock %}
