
{% extends "layout-3a.html" %}

{% block pageTitle %}
Repay and manage benefit money you owe
{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->


<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <br>


    <p>Use this service if you need to repay money to the Department for Work and Pensions (DWP).</p>
    
    <p>DWP will send you a letter or text message inviting you to use this service.</p>


    <div class="govuk-inset-text">
      There's different way to <a href="#">repay benefit money to the Department for Communities if you live in Northern Ireland</a>.
    </div>


    <p>This service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



    <h2 class="govuk-heading-m mt30">If you’re getting benefits</h2>

    <p>Your benefit payments will be reduced until you’ve paid back the money.</p>
<!-- <p>Universal Credit will send you a journal message inviting you to use this service.</p> -->
    <p>You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check how much you owe</li>
      <li>check when you will have repaid the money</li>
      <li>get help and support to make repayments</li>
    </ul>

    <h2 class="govuk-heading-m mt30">If you’ve stopped getting benefits</h2>
    <p>You can use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check how much you owe</li>
      <li>set up regular monthly payments</li>
      <li>manage an existing Direct Debit or flexible payment plan</li>
      <li>pay back what you owe in full</li>
      <li>get help and support to make repayments</li>
    </ul>

    <p>You’ll need a credit or debit card to make a payment through this service. Your bank may charge you a fee if you pay by credit card.</p>










    <!--<p>If you need to repay money to DWP but you still get benefits, you cannot use this service. Regular amounts will be taken out of your benefits until you’ve paid back the money.</p>-->






    <!-- <h2 class="govuk-heading-m">Before you start</h2>

    <p>You'll need to have received a letter or text message from DWP inviting you to use the service.</p> -->


    <!-- <h3 class="govuk-heading-m mt40">Sign into the service</h3> -->

<p class="govuk-heading-m">Sign in to the service</p>
<p>You can sign in with the security code in the letter from DWP or use a GOV.UK One Login. You'll be able to create a GOV.UK One Login if you do not already have one.</p>



    <p><a href="ol_start_legacy" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </p>

 <!--  <h2 class="govuk-heading-m mt30">Before you start</h2>

  <p>You need to have received an invitation from DWP to use this service.</p>

<p>If you do not have a security code, you will need to <a href="register-new-account">register to use this service</a> as you cannot sign in with your Universal Credit account details.</p>
<p>You may be given a scurity code and asked to sign in to your account using security code and date of birth.</p>

<p>You need your security code or email and your password each time you sign in.</p> -->


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 id="other-ways-to-pay-if-youve-stopped-getting-benefits" class="govuk-heading-m" >Other ways to pay if you’ve stopped getting benefits</h2>

<p>If you’ve stopped getting benefits, there are other ways to repay the money.</p>

<h3 id="pay-using-direct-debit-debit-card-cheques-or-cash" class="govuk-heading-s">Pay using Direct Debit, debit card, cheques or cash</h3>

<p>Contact <abbr title="Department for Work and Pensions">DWP</abbr> to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>set up monthly repayments by Direct Debit</li>
  <li>make a payment using a debit card</li>
  <li>request a paying-in slip for cheque or cash payments</li>
</ul>

<div class="contact">
<p>DWP Debt Management contact centre<br>
Telephone: 0800 916 0647  <br>
Textphone: 0800 916 0651<br>
<a href="http://ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 916 0647<br>
<a href="http://dwpdmmenu.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" data-youtube-player="off">check you can use the service</a><br>
Calling from abroad: +44 (0)161 904 1233<br>
Monday to Friday, 8am to 7:30pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>

<h3 id="pay-using-online-banking" class="govuk-heading-s">Pay using online banking</h3>

<p>If you’re paying from a UK bank account, use the following details:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>account name - <abbr title="Department for Work and Pensions">DWP</abbr> Debt Management</li>
  <li>sort code - 60 70 80</li>
  <li>account number - 10025634</li>
  <li>payment reference - the reference number on your letter from <abbr title="Department for Work and Pensions">DWP</abbr> or your National Insurance number</li>
</ul>

<p>If you’re paying from an overseas account, use the following details:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>account name - <abbr title="Department for Work and Pensions">DWP</abbr> Debt Management</li>
  <li>account number (IBAN) - GB30NWBK60708010025634</li>
  <li>bank identifier code (BIC) - NWBKGB2L</li>
  <li>payment reference - the reference number on your letter from <abbr title="Department for Work and Pensions">DWP</abbr> or your National Insurance number</li>
</ul>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<h2 id="other-ways-to-pay-if-youve-stopped-getting-benefits" class="govuk-heading-m" >Get help with your repayments</h2>

<p>Contact DWP Debt Management if you need help managing your repayments. They can talk you through your options, including what you can afford to pay.</p>

<div class="contact">
  <p>DWP Debt Management contact centre<br>
  Telephone: 0800 916 0647  <br>
  Textphone: 0800 916 0651<br>
  <a href="http://ngts.org.uk/">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 916 0647<br>
  <a href="http://dwpdmmenu.signvideo.net">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY" data-youtube-player="off">check you can use the service</a><br>
  Calling from abroad: +44 (0)161 904 1233<br>
  Monday to Friday, 8am to 7:30pm<br>
  <a href="/call-charges">Find out about call charges</a></p>
  </div>



</div>
</div>

{% endblock %}
