{% extends "layout-3.html" %}

{% block pageTitle %}
Account home
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      <!--<span class="govuk-caption-l">Important Information</span>-->
      Messages
    </h1>


    <table class="govuk-table">
      <!--<caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>-->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Message</th>
          <th scope="col" class="govuk-table__header">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 November 2023</td>
          <td class="govuk-table__cell"><a href="indexAccountHome-onoff-message-on-to-off-reminder">You now need to a
              set up a payment plan</a></td>
          <td class="govuk-table__cell">Read</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 October 2023</td>
          <td class="govuk-table__cell"><a href="#">Your repayments are changing</a></td>
          <td class="govuk-table__cell">Read</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 August 2021</td>
          <td class="govuk-table__cell"><a href="#">Welcome to the repay and manage benefit money you owe</a></td>
          <td class="govuk-table__cell">Read</td>
        </tr>
        <!--<tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total estimated pay</th>
      <td class="govuk-table__cell">£4,282.20</td>
    </tr>-->
      </tbody>
    </table>



    <a href="indexAccountHome-onoff-mvp-no-banner-on-to-off-reminder" class="govuk-button">Go to account home</a>

  </div>
</div>

{% endblock %}
