
{% extends "layout-3a.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>


		<h1 class="govuk-heading-xl mb30">
			Scenario</h1>


		<p>I would like you to imagine that you made a claim for Universal Credit back at the start of 2019. At this point, you took out a Universal Credit Advance to tide you over whilst you waited for your first payment to come through.</p>
		
		<p>You were repaying that at a rate of about &pound;21 a month from your Universal Credit. Later that year, there was a mix up with your claim which resulted in an overpayment of Universal Credit being made for a period of 3 months.</p>
	
			<p>You know you were paying back the Advance through deductions from your Universal Credit payment, but you don’t think it was fully paid off. You also know the overpayment hadn’t been repaid.</p>
			<p>At the end of 2019 you started a new job, you were earning more money and you ended your Universal Credit claim.</p>
			<p>More recently, in 2022, you have needed to work fewer hours. You have been earning less in recent months, so you decide to make a new Universal Credit claim.</p>
			<p>You take out a new Universal Credit Advance to tide you over and you can now see that you are paying that back, and you have some other deductions being taken from your Universal Credit payments.</p>



    </div>
</div>

{% endblock %}
