
{% extends "layout-2.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
	   		<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
	   		<p>What you owe:
	   				<span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

        <span class="back-link"><a href="javascript: history.go(-1)" class="govuk-back-link">Back</a></span>



<h1 class="govuk-heading-l">
	<span class="govuk-caption-l">21 April 2023</span>
	What we take off (deductions)</h1>



<table class="govuk-table mt40">

	  <caption class="visually-hidden">Overpayment detail</caption>





		   <tbody class="govuk-table__body">


		   <tr class="govuk-table__row" style>
				<th scope="row" class="govuk-table__header tablePadded" style="width:80%;">Advance Payments

					<span class="thFake">We take &pound;21.90 off your payment to pay back your advances</span><br>
					<span class="thFake"><a href="#">Check what advances you've had and what you owe</a>.</span>
				</th>
				 <td class="govuk-table__cell tablePadded">&ndash; &pound;20.00</td>
			   </tr>

			  <tr class="govuk-table__row">
				  <th scope="row" class="govuk-table__header noBorderTable" colspan="3">Debts and loans repayments



				  </th>

				 </tr>

				 <tr class="govuk-table__row">
					   <td class="govuk-table__cell tablePadded">DWP benefits recovery

					<span class="thFake">You can use the <a href="#">Repay and manage benefit money you owe service</a> to view a breakdown of what you owe to DWP and manage your payments.</span>

					   </td>
						<td class="govuk-table__cell tablePadded">&ndash; &pound;61.90</td>
					  </tr>

		<!--	<tr class="govuk-table__row">
				<th scope="row" class="govuk-table__header">Other money you owe

					<span class="thFake">Fines</span>
				</th>
				 <td class="govuk-table__cell">&ndash; &pound;18.90</td>
			   </tr> -->


					<tr class="govuk-table__row ucGrey">
						 <th scope="row" class="govuk-table__header">Total deductions</th>
						  <td class="govuk-table__cell"><b>&ndash; &pound;83.80</b></td>
						</tr>

				<tr class="govuk-table__row ucBlue">
					 <th scope="row" class="govuk-table__header">Your total payment for this month is</th>
					  <td class="govuk-table__cell"><b>&pound;442.91</b></td>
					</tr>



		   </tbody>

 </table>





    </div>
</div>

{% endblock %}
