{% extends "layout-main.html" %}

{% block pageTitle %}
How a more affordable plan works

{% endblock %}

{% block content %}



<a href="#" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">How a more affordable plan works</h1>
        
        <ul class="govuk-list">
          <li>
            <h2>Start your plan by entering an amount you can afford to pay each month</h2>
            <p>If your financial situation improves, you should sign in to your account and manage your plan to increase your payments or pay additional amounts.</p>
          </li>
          <li class="two">
            <h2>We may review your plan after 12 months</h2>
            <p>If you have been unable to increase your payment plan, we will contact you to review your situation and understand how much you can afford.</p>
          </li>
          <li class="three">
            <h2>Sign up for notifications</h2>
            <p>You can receive reminders that you can manage your plan when your situation changes, take action if there are any problems with payments and be notified of any review dates.</p>
          </li>
        </ul>
        
        
  
        <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
          </a>

          </div>
        </div>

{% endblock %}
