{% extends "layout-main.html" %}

{% block pageTitle %}
Choose a payment plan

{% endblock %}

{% block content %}



<a href="#" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
	  <div class="page-description">
  
<form class="form" action="#" method="post" novalidate="">
  
  <div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
	  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl mb20">
	  
		<h1 class="govuk-fieldset__heading">
		  Choose a payment plan
		</h1>
	  
	  </legend>
	  
	
	  <div class="govuk-radios" data-module="govuk-radios">
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="payment-plan" name="selected-option" type="radio" value="eighteenMonths">
		  <label class="govuk-label govuk-radios__label" for="payment-plan">
			<strong>£24.99</strong> - 1 monthly payment
		  </label>
		</div>

		<div class="govuk-radios__divider">or</div>
	  
		<div class="govuk-radios__item">
		  <input class="govuk-radios__input" id="payment-plan-8" name="selected-option" type="radio" value="affordable-plan" aria-describedby="payment-plan-8-item-hint">
		  <label class="govuk-label govuk-radios__label govuk-label--s" for="payment-plan-8">
			I need a more affordable plan
		  </label>
		  
		  <div id="payment-plan-8-item-hint" class="govuk-hint govuk-radios__hint">
			A more affordable plan may work if you're on a low or varied income.
		  </div>
		</div>

	  </div>
	</fieldset>
  </div>
  
  <button type="submit" class="govuk-button" data-module="govuk-button">
	Continue
  </button>
  
  
</form>
  
	   </div>
	</div>
  </div>

{% endblock %}
