{% extends "layout-main.html" %}

{% block pageTitle %}
Would you like us to contact you if there are any problems with your payments?

{% endblock %}

{% block content %}



<a href="#" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

<form class="form" action="#" method="post" novalidate="">

<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  
    <h1 class="govuk-fieldset__heading">
      Would you like us to text you if there are any problems with your payments?
    </h1>
  
  </legend>
  
<!-- radio buttons -->
  <div class="govuk-radios" data-module="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="payment-communications" name="selected-option" type="radio" value="YES" aria-controls="conditional-payment-communications" aria-expanded="false">
      <label class="govuk-label govuk-radios__label" for="payment-communications">
        Yes
      </label>
    </div>
    
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-payment-communications">
      <div class="govuk-form-group">
  <label class="govuk-label" for="phone">
    Enter your UK mobile phone number, like 07700900000
  </label>
  <input class="govuk-input govuk-!-width-one-third" id="phone" name="phone" type="tel" autocomplete="tel">
      </div>
    </div>
    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="payment-communications-2" name="selected-option" type="radio" value="NO">
      <label class="govuk-label govuk-radios__label" for="payment-communications-2">
        No
      </label>
    </div>    
</div>
<!-- end radio buttons  -->


</fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
Continue
</button>


</form>

    

  </div>
</div>

{% endblock %}
