{% extends "layout-main.html" %}

{% block pageTitle %}
  Payment history
{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>
  {{ govukBackLink({
    text: "Back",
    href: "account-home"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">




	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payment history</h1>

     <div >
       <p>Total amount left to repay:<br> <span class="total-amount">
         &pound;750.00

       </span>


   <p>
     </div>






<h2 class="govuk-heading-m mt40">Previous payments <br>
<!-- <span class="govuk-hint">May include payments towards debts already paid off.</span> -->
</h2>

<table class="govuk-table summary-pay">


<thead class="govuk-table__head">
<tr class="govuk-table__row">

 <th class="govuk-table__header" scope="col">Payment date</th>

 <th class="govuk-table__header" scope="col">Payment type</th>

 <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>

 <!--  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th> -->


</tr>
</thead>

<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">16 Ocotober 2025</td>
    <td class="govuk-table__cell">Payment</td>
     <td class="govuk-table__cell govuk-table__cell--numeric">&pound;12.00</td>
   </tr>

   <tr class="govuk-table__row">
     <td class="govuk-table__cell">01 September 2025</td>
     <td class="govuk-table__cell">Payment</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">&pound;38.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">19 August 2025</td>
      <td class="govuk-table__cell">Payment</td>
       <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
     </tr>
     <tr class="govuk-table__row">
       <td class="govuk-table__cell">27 July 2025</td>
       <td class="govuk-table__cell">Payment</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">07 June 2025</td>
        <td class="govuk-table__cell">Payment</td>
         <td class="govuk-table__cell govuk-table__cell--numeric">&pound;20.00</td>
       </tr>

       <tr class="govuk-table__row">
         <td class="govuk-table__cell">29 May 2025</td>
         <td class="govuk-table__cell">Payment</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">&pound;10.00</td>
        </tr>
 



</tbody>
</table>






    </div>
</div>

{% endblock %}
