
{% extends "layout-3.html" %}

{% block pageTitle %}
  You will need to do another payment review within the next 12 months
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}



   <!-- <div class="clear-bar">
			   <h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
			   <p>What you owe:
					   <span>&pound;120.00</span></p>

	   </div> -->


	   <div class="govuk-grid-row">

		<div class="govuk-grid-column-three-quarters">






			  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
				  <span class="govuk-caption-xl">Payment review</span>
			You will need to do another payment review within the next 12 months
			  </h1>

        <div class="flexible-banner-float-none">
          <ul class="govuk-list">
            <li>
              <h3>Next review due by:</h3>
              <span id="new-debts-amount"><b><span id="new-debts-amount"><b>
                <script>

                  var x = 12; //or whatever offset
                  var CurrentDate = new Date();
                  console.log("Current date:", CurrentDate);
                  CurrentDate.setMonth(CurrentDate.getMonth() + x);
                   document.write(CurrentDate.toGMTString().split(' ').slice(2,4).join(' '));
                </script>
                </b></span></b></span>
            </li>

          </ul>
        </div>



				<p>During your next review, we will ask you questions to see if your financial situation has changed and understand if we need to change the amount we're taking from your Universal Credit payment.</p>



				<p>You can sign in to your account at any time to do another payment review.</p>


				<div class="govuk-warning-text mt40">
					  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
					  <strong class="govuk-warning-text__text">
						<span class="govuk-warning-text__assistive">Warning</span>
						If you do not complete your next review, your payments will go back up.
					  </strong>
					</div>


				<!--<p>How the review works:</p>

				  <ul class="govuk-list govuk-list--bullet">
					 <li>we will send you a letter with details of when your review will take place and instructions to sign in to your account</li>
					<li>you will then have 4 weeks to do your review</li>
					<li>during the review we will ask you questions to understand if your situation has changed and see how much you can afford</li>


				  </ul>-->






		<!--<div class="govuk-inset-text">
	If you're struggling with your payments, you can sign in to your account and do a review at any time.
			</div>-->



		<p class="mt30"><a href="reviewContact" class="govuk-button">
			Continue
		  </a></p>


	</div>
</div>

{% endblock %}
