{% extends "layout-3.html" %}

{% block pageTitle %}
  Enter income
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% if data['income-type']=='monthly-income'%}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Enter your monthly income
      </h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
      <form class="form" action="income-list" method="post">
        <p class="govuk-heading-s">What counts as income</p>

        <ul class="govuk-list govuk-list--bullet" wiid="N143">
        <li>any tips or gratuities</li>
          <li>any income tax or National Insurance refunds related to your self-employment work </li>
            <li>any grants or subsidies, if they are treated as taxable income by HMRC</li>
              <li >the sale or transfer of assets which have previously been declared as an expense</li>
          </ul>
        <p>
          If you do not have a regular monthly income, add an estimate
        </p>

        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="income-monthly">
      How much did you recieve?
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="income-monthly" name="income-monthly" type="text" spellcheck="false" value="{{ data['income-monthly'] }}">
  </div>
</div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>




  {% elseif data['income-type']=='benefits'  %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Enter your benefit amount
      </h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
      <form class="form" action="income-list" method="post">
        <p class="govuk-heading-s">What counts as income</p>

        <ul class="govuk-list govuk-list--bullet" wiid="N143">
        <li>Universal Credit</li>
          <li>Tax credits </li>

          </ul>


        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="benefits">
      How much did you recieve?
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="benefits" name="benefits" type="text" spellcheck="false" value="{{ data['benefits'] }}">
  </div>
</div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>


  {% elseif data['income-type']=='pension'  %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Enter your pension
      </h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
      <form class="form" action="income-list" method="post">
        <p class="govuk-heading-s">What counts as income</p>

        <ul class="govuk-list govuk-list--bullet" wiid="N143">
        <li>Any money you have recieved from state pension</li>
        <li>work pension</li>


          </ul>


        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="income-monthly">
      How much did you recieve?
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="pension" name="pension" type="text" spellcheck="false" value="{{ data['pension'] }}">
  </div>
</div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  {% elseif data['income-type']=='other-income'  %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Manage your repayments</span>

        Enter your other monthly income
      </h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">
      <form class="form" action="income-list" method="post">
        <p class="govuk-heading-s">What counts as income</p>

        <ul class="govuk-list govuk-list--bullet" wiid="N143">
        <li>Any money from overseas</li>
          <li>rental income</li>
          <li>child maintenance</li>


          </ul>


        <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="other-income">
      How much did you recieve?
    </label>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-5" id="other-income" name="other-income" type="text" spellcheck="false" value="{{ data['other-income'] }}">
  </div>
</div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>


  											{% endif %}


{% endblock %}
