{% extends "layout-3.html" %}

{% block pageTitle %}
Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- Error section -->

          <div class="govuk-error-summary" data-module="govuk-error-summary" id="errorDiv" style="display:none;">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Enter your income</a>
                  </li>
                  <li>
                    <a href="#">Enter your expenditure</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

    <!-- Error Section End -->



    <span class="govuk-caption-xl">Manage your repayments



      <h1 class="govuk-heading-xl">Income and expenditure</h1>
      <br>
      <p>Add your monthly income and expenditure to help calculate an affordable repayment amount.

</p>


      <h2 id="income-heading" class="govuk-heading-l " style="padding-top:0px;">Income <br>
        <p id="income-error" class="govuk-error-message" style="display:none; margin-bottom:0px; padding-bottom:0px;">
              <span class="govuk-visually-hidden">Error:</span> Enter your income
            </p>

            <span class="govuk-body"><a class="govuk-link" href="choose-income-type" >
          Add income
        </a></span></h2>

        {% set completedStatus = {
          text: "Not added",
          href: "choose-income-type"

        } %}

        {% set incompleteStatus = {
          tag: {
            text: "Added",
            classes: "govuk-tag--blue"
          }


        } %}

        <dl class="govuk-summary-list " >

          {% if data['income-monthly'] > 0 %}

        <div class="govuk-summary-list__row " id="monthly-income-row" >
          <dt class="govuk-summary-list__key">
             Income from earnings
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['income-monthly']|currency }}
          </dd>

          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="income-details-monthly">Change<span class="govuk-visually-hidden"> monthly income</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">

        <!-- Button logic -->
                <form class="form"  method="post">
          <fieldset class="visually-hidden">
          <legend>Hidden field</legend>

          <div>
            <input id="yesChange" name="type-of-input" type="radio" value="monthly-income" checked="checked">
            <label for="yesChange">Yes</label>
            </div>

            <div>
            <input id="noChange" name="type-of-input" type="radio" value="monthly-income">
            <label for="noChange">No</label>
            </div>

            </fieldset>

            <button style=" background: none!important;
        border: none;
        padding: 0!important;
        /*optional*/
        font-family: GDS Transport, arial, sans-serif;
        font-size:19px;
        /*input has OS specific font-family*/
        color: #069;
        text-decoration: underline;
        cursor: pointer;">Remove</button>



           </form>
           <!-- End of button logic -->


              </li>
            </ul>
          </dd>
        </div>
        {% endif %}

        {% if data['benefits'] > 0 %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit payments
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['benefits']|currency }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="income-details-benefits">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <!-- Button logic -->
                          <form class="form" method="post">
                    <fieldset class="visually-hidden">
                    <legend>Hidden field</legend>

                    <div>
                      <input id="yesChange" name="type-of-input" type="radio" value="benefits" checked="checked">
                      <label for="yesChange">Yes</label>
                      </div>

                      <div>
                      <input id="noChange" name="type-of-input" type="radio" value="benefits">
                      <label for="noChange">No</label>
                      </div>

                      </fieldset>

                      <button style=" background: none!important;
                  border: none;
                  padding: 0!important;
                  /*optional*/
                  font-family: GDS Transport, arial, sans-serif;
                  font-size:19px;
                  /*input has OS specific font-family*/
                  color: #069;
                  text-decoration: underline;
                  cursor: pointer;">Remove</button>



                     </form>
                     <!-- End of button logic -->
                   </li>
            </ul>
          </dd>
        </div>

        {% endif %}

        {% if data['pension'] > 0 %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Pension income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['pension']|currency }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="income-details-pension">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <!-- Button logic -->
                          <form class="form"  method="post">
                    <fieldset class="visually-hidden">
                    <legend>Hidden field</legend>

                    <div>
                      <input id="yesChange" name="type-of-input" type="radio" value="pension" checked="checked">
                      <label for="yesChange">Yes</label>
                      </div>

                      <div>
                      <input id="noChange" name="type-of-input" type="radio" value="pension">
                      <label for="noChange">No</label>
                      </div>

                      </fieldset>

                      <button style=" background: none!important;
                  border: none;
                  padding: 0!important;
                  /*optional*/
                  font-family: GDS Transport, arial, sans-serif;
                  font-size:19px;
                  /*input has OS specific font-family*/
                  color: #069;
                  text-decoration: underline;
                  cursor: pointer;">Remove</button>



                     </form>
                     <!-- End of button logic -->
              </li>
            </ul>
          </dd>
        </div>
        {% endif %}

        {% if data['other-income'] > 0 %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-income']|currency }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="income-details-other-income">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <!-- Button logic -->
                          <form class="form"   method="post">
                    <fieldset class="visually-hidden">
                    <legend>Hidden field</legend>

                    <div>
                      <input id="yesChange" name="type-of-input" type="radio" value="other" checked="checked">
                      <label for="yesChange">Yes</label>
                      </div>

                      <div>
                      <input id="noChange" name="type-of-input" type="radio" value="other">
                      <label for="noChange">No</label>
                      </div>

                      </fieldset>

                      <button style=" background: none!important;
                  border: none;
                  padding: 0!important;
                  /*optional*/
                  font-family: GDS Transport, arial, sans-serif;
                  font-size:19px;
                  /*input has OS specific font-family*/
                  color: #069;
                  text-decoration: underline;
                  cursor: pointer;">Remove</button>



                     </form>
                     <!-- End of button logic -->        </li>
            </ul>
          </dd>
        </div>
        {% endif %}

        </dl>

        <p class="govuk-heading-m"><span class="govuk-body">Total monthly income:<br></span>
          {% set totalIncome = data['income-monthly']|float + data['benefits']|float + data['pension']|float + data['other-income']|float %}
          {{ totalIncome|currency }}



        </p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <h2 id="expenses-heading" class="govuk-heading-l govuk-!-margin-top-5">Expenditure <br>
    <p id="expenses-error" class="govuk-error-message" style="display:none; margin-bottom:0px; padding-bottom:0px;">
          <span class="govuk-visually-hidden">Error:</span> Enter your expenditure
        </p>
    <span class="govuk-body"> <a class="govuk-link" href="choose-expense-type" >
      Add expenditure
    </a></span></h2>

    <!-- {{ govukTaskList({
    idPrefix: "second-section",
    items: [
    {
    title: {
    text: "Add expenditure"
  },
  href: "choose-expense-type",
  status: completedStatus
}
]
}) }} -->

<dl class="govuk-summary-list">
  {% if data['housing'] > 0 %}

<div class="govuk-summary-list__row " id="monthly-income-row" >
  <dt class="govuk-summary-list__key" style="width:500px;">
    Housing
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['housing']|currency }}
  </dd>

  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-housing">Change<span class="govuk-visually-hidden"> monthly income</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">

<!-- Button logic -->
        <form class="form"  method="post">
  <fieldset class="visually-hidden">
  <legend>Hidden field</legend>

  <div>
    <input id="yesChange" name="type-of-input" type="radio" value="housing" checked="checked">
    <label for="yesChange">Yes</label>
    </div>

    <div>
    <input id="noChange" name="type-of-input" type="radio" value="housing">
    <label for="noChange">No</label>
    </div>

    </fieldset>

    <button style=" background: none!important;
border: none;
padding: 0!important;
/*optional*/
font-family: GDS Transport, arial, sans-serif;
font-size:19px;
/*input has OS specific font-family*/
color: #069;
text-decoration: underline;
cursor: pointer;">Remove</button>



   </form>
   <!-- End of button logic -->


      </li>
    </ul>
  </dd>
</div>

{% endif %}

{% if data['utilities'] > 0 %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Utilities
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['utilities']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-utilities">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="utilities" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="utilities">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->
           </li>
    </ul>
  </dd>
</div>

{% endif %}

{% if data['travel'] > 0 %}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Transport and travel
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['travel']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-travel">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="travel" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="travel">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>

{% endif %}

{% if data['pension-contributions'] > 0 %}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Private pensions and insurance
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['pension-contributions']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-pension-contributions">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="pension-contributions" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="pension-contributions">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>


{% endif %}

{% if data['groceries'] > 0 %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Food and housekeeping
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['groceries']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-groceries">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="groceries" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="groce">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>


{% endif %}

{% if data['childcare-costs'] > 0 %}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Dependents
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['childcare-costs']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-childcare-costs">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="childcare-costs" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="childcare-costs">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>

{% endif %}

{% if data['personal-costs'] > 0 %}


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Debt repayments
  </dt>
  <dd class="govuk-summary-list__value" >
    {{ data['personal-costs']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-personal-costs">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="personal-costs" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="personal-costs">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>

{% endif %}

{% if data['communications'] > 0 %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Communications
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['communications']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-insurance">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="leisure" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="leisure">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->        </li>
    </ul>
  </dd>
</div>


{% endif %}

{% if data['other-repayments'] > 0 %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:500px;">
    Other expenditure
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['other-repayments']|currency }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <ul class="govuk-summary-list__actions-list">
      <li class="govuk-summary-list__actions-list-item">
        <a class="govuk-link" href="expense-details-other-repayments">Change<span class="govuk-visually-hidden"> contact details</span></a>
      </li>
      <li class="govuk-summary-list__actions-list-item">
        <!-- Button logic -->
                  <form class="form"  method="post">
            <fieldset class="visually-hidden">
            <legend>Hidden field</legend>

            <div>
              <input id="yesChange" name="type-of-input" type="radio" value="other-repayments" checked="checked">
              <label for="yesChange">Yes</label>
              </div>

              <div>
              <input id="noChange" name="type-of-input" type="radio" value="other-repayments">
              <label for="noChange">No</label>
              </div>

              </fieldset>

              <button style=" background: none!important;
          border: none;
          padding: 0!important;
          /*optional*/
          font-family: GDS Transport, arial, sans-serif;
          font-size:19px;
          /*input has OS specific font-family*/
          color: #069;
          text-decoration: underline;
          cursor: pointer;">Remove</button>



             </form>
             <!-- End of button logic -->
      </li>
    </ul>
  </dd>
</div>

{% endif %}















</dl>

<p class="govuk-heading-m"><span class="govuk-body">Total monthly expenditure:<br></span>


  {% set totalExpenditure = data['housing']|float + data['utilities']|float + data['travel']|float + data['pension-contributions']|float + data['groceries']|float + data['childcare-costs']|float  + data['personal-costs']|float  +  data['communications']|float + data['other-repayments']|float %}
  {{ totalExpenditure|currency}}


  {% set leftOverIncome = totalIncome-totalExpenditure %}

</p>
{% if totalIncome == 0 and totalExpenditure == 0 %}
<div class="govuk-!-margin-top-5">
  <button type="submit" class="govuk-button" data-module="govuk-button" onclick="showError()">
    Continue
  </button></div>
{% elif totalIncome == 0 %}
  <div class="govuk-!-margin-top-5">
    <button type="submit" class="govuk-button" data-module="govuk-button" onclick="showErrorIncome()">
      Continue
  </button></div>
  {% elif totalExpenditure == 0 %}
      <div class="govuk-!-margin-top-5">
        <button type="submit" class="govuk-button" data-module="govuk-button" onclick="showErrorExpenses()">
          Continue
        </button></div>
  {% else %}

  <div class="govuk-!-margin-top-5">
    {{ govukButton({ text: "Continue ", href: "left-over-income" }) }}
  </div>
  {% endif %}

</div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/application.js"></script>
{% endblock %}
