{% extends "layout-3.html" %}

{% block pageTitle %}
  Enter income
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income and expenditure</span>

        Your total income and expenditure
      </h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total monthly income
          </dt>
          <dd class="govuk-summary-list__value">
            {% set totalIncome = data['income-monthly']|float + data['benefits']|float + data['pension']|float + data['other-income']|float %}

            {{ totalIncome|currency }}          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="income-list">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total monthly expenditure
          </dt>
          <dd class="govuk-summary-list__value">
            {% set totalExpenditure = data['housing']|float + data['utilities']|float + data['travel']|float + data['pension-contributions']|float + data['groceries']|float + data['childcare-costs']|float  + data['personal-costs']|float  +  data['communications']|float + data['other-repayments']|float %}
            {{ totalExpenditure|currency}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="expense-list">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>

      </dl>


       <form action="how-much-can-you-afford-to-repay">

       <input type="hidden" id="left-over-income" name="left-over-income"  />

<p >Your monthly disposable income is
<span class="govuk-heading-l"> {% set balance = totalIncome-totalExpenditure %}
{{ balance|currency}}
<input type="hidden" id="left-out-balance" name="leftOutBalance" value="{{ balance }}">

</span>
</p>




  <button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
  </button>
</form>



    </div>
  </div>

{% endblock %}
