{% extends "layout-3.html" %}

{% block pageTitle %}
  Remove from list
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
{% if data['type-of-input']=='monthly-income'%}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income</span>

        Are you sure you want to remove your monthly earnings of {{ data['income-monthly']|currency }}?
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">


    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="removeMonthlyIncome" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="removeMonthlyIncome" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>


  {% elseif data['type-of-input']=='benefits'  %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income</span>

        Are you sure you want to remove your monthly benefit payments of  {{ data['benefits']|currency }}?
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">


    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="removeMonthlyIncome" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="removeMonthlyIncome" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>


  {% elseif data['type-of-input']=='pension'  %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income</span>

        Are you sure you want to remove your monthly pension income of {{ data['pension']|currency }}?
      </h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">


    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="removePensionIncome" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="removePensionIncome" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>


  {% elseif data['type-of-input']=='other'  %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Income</span>

        Are you sure you want to remove any other income of {{ data['other-income']|currency }}?
      </h1>
      <br><br>
      <!-- <div id="flexible-banner-float-none"  class="flexible-banner-float-none">
      <p style="margin-bottom:0px;"> <strong>Entered amount</strong><br>
              £{{ data['other-income'] }}</p>
            </div> -->

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">


    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName" name="removeOtherIncome" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changedName">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changedName-2" name="removeOtherIncome" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changedName-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>




  {% endif %}



{% endblock %}
