
{% extends "layout-main.html" %}

{% block pageTitle %}
  Payment history
{% endblock %}

{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>
  {{ govukBackLink({
    text: "Back",
    href: "account-home-after-additional.html"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">




	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Payment history</h1>



          <div class="flexible-banner-float-none">
            <ul class="govuk-list">
              <!-- <li>
                <h3>Payments taken</h3>
                <span id="new-debts-amount"><b>15</b></span>
              </li>
              <li>
                <h3>Total amount repaid</h3>
                <span class="total-amount" id="new-total-owed"><b>£300.00</b></span>
              </li> -->
              <li>
                <h3>Total amount left to pay</h3>
                <span class="total-amount" id="new-total-owed"><b>£750.00</b></span>
              </li>
            </ul>
          </div>


          {% if data['additional-amount'] == 0 %}



           {% else %}
           <div id="green-banner" class="alert-green">
             <h2 class="govuk-heading-m">You have 1 payment  pending</h2>
                   <p> Payments can take 2 to 5 working days to clear and update your balance.</p>
                   <table class="govuk-table summary-pay">


                   <thead class="govuk-table__head">
                   <tr class="govuk-table__row">

                    <th class="govuk-table__header" scope="col">Payment date</th>

                    <th class="govuk-table__header" scope="col">Payment type</th>

                    <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>


                   </tr>
                   </thead>

                   <tbody class="govuk-table__body">



                      <tr class="govuk-table__row">
                         <td class="govuk-table__cell">  <script>
                             var CurrentDate = new Date();
                             console.log("Current date:", CurrentDate);
                             CurrentDate.setMonth(CurrentDate.getMonth());
                             document.write(CurrentDate.toGMTString().split(' ').slice(1,4).join(' '));
                           </script>
           </td>
                         <td class="govuk-table__cell">Card payment</td>

                         <td class="govuk-table__cell govuk-table__cell--numeric">{{  data['additional-amount']  | currency }}</td>
                       </tr>







                   </tbody>
                   </table>
                 </div>
           {% endif %}


           <h2 class="govuk-heading-m mt40">Previous payments <br>
           <!-- <span class="govuk-hint">May include payments towards debts already paid off.</span> -->
           </h2>



           <table class="govuk-table summary-pay">


           <thead class="govuk-table__head">
           <tr class="govuk-table__row">

            <th class="govuk-table__header" scope="col">Payment date</th>

            <th class="govuk-table__header" scope="col">Payment type</th>

            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>

            <!--  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th> -->


           </tr>
           </thead>

           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
               <td class="govuk-table__cell">When you make payments they will appear here</td>
               <td class="govuk-table__cell"> </td>
               <td class="govuk-table__cell govuk-table__cell--numeric"> </td>
             </tr>



           </tbody>
           </table>







    </div>
</div>

{% endblock %}
