{% extends "layout-main.html" %}

{% block pageTitle %}
Account home

{% endblock %}

{% block content %}



<!-- <div class="clear-bar">
<h2 class="govuk-heading-l">Ashley Chamberlain<span>ZZ 41 54 60 Z</span></h2>
<p>What you owe:
<span>&pound;120.00</span></p>

</div> -->



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="clear-bar stripped-border">
      <div class="identifier">

        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Account home</span>
          John Smith
        </h1>

      </div>
      <div class="govuk-inset-text" style="float:right;">
        Total amount left to pay <span class="total-amount">
          &pound;3,098.64

        </span>



      </div>


    </div>




    <div class="govuk-grid-row">
  	  <div class="govuk-grid-column-full">




  		<div class="govuk-grid-row">





  		 <div class="govuk-grid-column-one-half">


  			 <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Payment plan details</h2>

  					   <div class="scenario-inner-panel" >




              <!-- <div id="red-banner" class="payment-info alert-red">
                      <p>You did not make a payment for:<br><strong>January 2024</strong></p>
                    </div>-->

<!-- Blue banner -->

  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                     <th scope="row" class="govuk-table__header">Plan type</th>
                     <td class="govuk-table__cell">


                      	Monthly Direct Debit
                     </td>
                    </tr>
  								 <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Direct Debit amount</th>
  									<td class="govuk-table__cell">


                      £20.00
  									</td>
  								 </tr>
                   <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Direct Debit day</th>
                    <td class="govuk-table__cell">


                      21
                    </td>
                   </tr>
                   <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Expected final payment</th>
                    <td class="govuk-table__cell" id="date">


                      <script>
                 const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];

                 const d = new Date();
                 let month = months[d.getMonth()];

                 document.getElementById("date").innerHTML = month + " " + 2033 ;



                 </script>

                    </td>
                   </tr>


  								</tbody>
  							  </table>





  					  <span style="font-weight:normal;"><a href=" /v45/direct-debit/manage-plan/payment-plan.html" class="govuk-button govuk-button--secondary">View or manage your plan</a></span>




  					   </div>
  				   </div>










  		  </div>


  		<div class="govuk-grid-column-one-half">



  			  <div class="scenario-panel" style="height:395px;">
  					   <h2 class="govuk-heading-s">Payment summary</h2>


  					   <div class="scenario-inner-panel">

<!--
                 <div id="green-banner" class="alert-green">
<p> <strong>You have 1 payment pending</strong></p>
                         <p>Payments can take 2 to 5 working days to clear and update your balance.</p>
                       </div> -->


  							   <table class="govuk-table">

  								<tbody class="govuk-table__body">


  								 <!-- <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Payments made</th>
  									<td class="govuk-table__cell">


  								   23
  									</td>
  								 </tr> -->
                   <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Paid this month</th>
                   <td class="govuk-table__cell">



                       £8.00



                   </td>
                   </tr>

  								 <!-- <tr class="govuk-table__row">
  									<th scope="row" class="govuk-table__header">Total amount repaid</th>
  									<td class="govuk-table__cell">



  								  &pound;481.47


  									</td>
  								  </tr> -->










  								</tbody>
  							  </table>

                    <a href="additional-payment/make-an-additional-payment"> <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Make an additional payment
                    </button></a><br>
                    <a href="payment-history"> <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      View your payment history
                    </button></a>


  		  </div>
  			  </div>






  		</div>


  		</div>




  		  <div class="govuk-grid-row">



  			  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel" style="height:226px;">
  					   <h2 class="govuk-heading-s">What you owe</h2>

  					   <div class="scenario-inner-panel">
  						<p>Details of the money you owe.</p>

<br>

  					   <span style="font-weight:normal;"><a href="details-of-what-you-owe" class="govuk-button govuk-button--secondary">View details of what you owe</a></span>
  					   </div>
  				   </div>




  		  </div>







  		  <div class="govuk-grid-column-one-half">

  			  <div class="scenario-panel">
  					   <h2 class="govuk-heading-s">Help and support</h2>

  					   <div class="scenario-inner-panel">
                 <p>You can contact us for general help and support.</p>

  					   <span style="font-weight:normal;"><a href="help-and-support" class="govuk-button govuk-button--secondary">Get help and support</a></span>
  					   </div>
  				   </div>




  		  </div>



  		</div>




  	  </div>
    </div>






  </div>
</div>


<!--<h4 class="govuk-heading-m">Messages</h4>

<h4 class="govuk-heading-s">Universal Credit</h4>

<p>Click<a href="indexAccountHome-onoff-inbox"> here</a> to read your messages.</p>>-->



{% endblock %}
