{% extends "layout-3.html" %}

{% block pageTitle %}
Do you want to continue using your security code to sign in?

{% endblock %}


{% block beforeContent %}
<main class="govuk-width-container">
	<nav class="dwp-language-toggle" aria-label="Language toggle">
		<ul class="dwp-language-toggle__list">
			<li class="dwp-language-toggle__list-item" aria-current="true">
				English
			</li>
			<li class="dwp-language-toggle__list-item">
				<a href="#"
				hreflang="cy"
				lang="cy"
				rel="alternate"
				class="govuk-link"
				aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
			</li>
		</ul>
	</nav>
</main>

<!-- {{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }} -->
{% endblock %}

{% block content %}



<div class="govuk-grid-row">

	<div class="govuk-grid-column-three-quarters">


		<span class="govuk-caption-xl">Ashley Chamberlain
		</span>

		<form class="form" action="account-home" method="post">





			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset">

					<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
						Do you want to continue using your security code to sign in?
					</legend>


					<div class="govuk-radios">

						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="codeContinue" name="choice" type="radio"
							value="code">
							<label class="govuk-label--s govuk-radios__label govuk-body" for="codeContinue">
								Yes - I want to continue using my security code
							</label>
							<span class="govuk-hint govuk-radios__hint">
								It is important to make a note of this as you will need it each time you sign in.
							</span>
						</div>
						<div class="govuk-radios__item">
							<input class="govuk-radios__input" id="regContinue" name="choice" type="radio"
							value="onelogin">
							<label class="govuk-label--s govuk-radios__label govuk-body" for="regContinue">
								No - I want to sign in using GOV.UK One Login
							</label>
							<span class="govuk-hint govuk-radios__hint">
								You'll be able to create a GOV.UK One Login if you do not already have one.
							</span>

						</div>

					</div>
				</fieldset>



				<button type="submit" class="govuk-button" data-module="govuk-button">
					Continue
				</button>

			</div>


		</form>



	</div>
</div>

{% endblock %}
