
{% extends "layout-3a.html" %}

{% block pageTitle %}
Sorry, the service is unavailable


{% endblock %}


{% block content %}


<div class="govuk-width-container">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Sorry, the service is unavailable</h1>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <p class="govuk-body">
        You cannot use this service at the moment.
      </p>

      <p class="govuk-body">

  You can find out more information about the  <a class="govuk-link" href="https://www.gov.uk/repay-manage-benefit-owed">
        Repay and manage benefit money you owe</a> service.
      </p>
    </div>
  </div>
</main>
</div>

{% endblock %}
