
{% extends "layout-3.html" %}

{% block pageTitle %}
Payment plan summary
{% endblock %}




{% block beforeContent %}
<main class="govuk-width-container">
  <nav class="dwp-language-toggle" aria-label="Language toggle">
    <ul class="dwp-language-toggle__list">
      <li class="dwp-language-toggle__list-item" aria-current="true">
        English
      </li>
      <li class="dwp-language-toggle__list-item">
        <a href="#"
        hreflang="cy"
        lang="cy"
        rel="alternate"
        class="govuk-link"
        aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
      </li>
    </ul>
  </nav>
</main>

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">



    {% set paymentOptions = ddFixedChoice %}



    <form class="form" action="contact-info-done" method="post">


      <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
        <!-- <span class="govuk-caption-xl">Payment plan</span> -->

        Summary</h1>




            <h2 class="govuk-heading-m  ">Contact preferences


            </h2>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Text messages
                </dt>
                {% if data['reminder-notification-payment-setup-done-yes-no']=='no' %}
                <dd class="govuk-summary-list__value">
                  Yes <br>
                  07772190920
                </dd>
                {% else %}

                <dd class="govuk-summary-list__value">
                  Yes <br>
                  {{data['contactByMobile']}}

                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="change-payment-contact-info">Change<span class="govuk-visually-hidden"> Text message	</span></a>
                </dd>
                {% endif %}

              </div>




            </dl>













                  <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                  </button>





                </form>







              </div>
            </div>

            {% endblock %}
