{% extends "layout-3.html" %}

{% block pageTitle %}
  Universal Credit Statement
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Payments
       </h1>
       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

      <p>
        Ashley Chamberlain<br>
<br>
XX Victoria street<br>
London<br>
SM90 2RK<br><br>
<strong>Assessment period: 2 April and 2 May 2024</strong>
<br><a href="#">Need help understanding your assessment period?</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

      <div class="govuk-grid-row " style="color: #ffffff !important;
        background-color: #1d70b8; text-align: center; padding: 30px;">
  <div class="govuk-grid-column-full" style="color: #ffffff !important;
    background-color: #1d70b8; text-align: center; padding: 30px;" >
    <p style="color:#ffffff;"class="govuk-!-font-size-24" >Your payment this month is <br>
<span class="govuk-body govuk-!-font-size-80 govuk-!-font-weight-bold" style="color:#ffffff;">£552.87</span>
<br>
This will be paid by 8pm on 6 May 2024


    </p>

  </div>
</div>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--hidden">

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<p class="govuk-heading-l">What you're entitled to</p>


<table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Standard allowance
      <br>
      <span class="govuk-body">You get a standard amount each month. You said you're not single.</span>
    </th>
      <td class="govuk-table__cell" style=" text-align:right;">£617.60</td>
    </tr>
    <tr class="govuk-table__row" >
      <th scope="row" class="govuk-table__header" style="border-bottom: 0px solid #b1b4b6;">Housing

      <span class="govuk-body"><br><a href="#">Need help understanding your assessment period?</a>
        <p>You said per month the total rent for your property is £380.00.</p>
        <p>You will have to pay your housing costs to your landlord.</p>


</span>
    </th>
      <td class="govuk-table__cell" style="border-bottom: 0px solid #b1b4b6; text-align:right;">£288.99</td>
    </tr>
    <tr class="govuk-table__cell">
      <td scope="row" class="govuk-table__header" ">

        <p>Monthly, we can pay you £288.99 towards your housing costs. We cannot pay the full
        amount you told us about because: <br>1 adult living with you who is expected to pay towards the rent</p>

    </td>
      <td class="govuk-table__cell" style=" text-align:right;">-£91.47</td>
    </tr>

    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__header">Total entitlement before deductions
    </td>
      <td class="govuk-table__cell" style=" text-align:right;">£814.12</td>
    </tr>
  </tbody>
</table>



<p class="govuk-heading-l">What we take off (deductions)</p>


<table class="govuk-table">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Take-home pay
        <span class="govuk-body"><br><a href="#">Need help understanding your assessment period?</a>

      <span> <p>Take-home pay is what's left after tax, National Insurance and any pension contributions
have been deducted.</p>

<table class="govuk-table govuk-grid-column-one-third">

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell" style="border-top: 1px solid #b1b4b6;">Earnings reported by you</td>
      <td class="govuk-table__cell" style="border-top: 1px solid #b1b4b6;">£350.00</td>

    </tr>

  </tbody>
</table>

<p>The amount we'll use to work out your Universal Credit is £350.00</p>

<p class="govuk-inset-text">Your total take-home pay for this period is £350.00 <br><br>Every £1.00 you earn in take-home pay reduces your Universal Credit by 55 pence.</p>
</span>

      </th>
      <td class="govuk-table__cell" style=" text-align:right;" >-£151.25</td>
    </tr>



    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Advance Payment
        <span class="govuk-body"><br><a href="#">Need help understanding your assessment period?</a>

      <span> <p>We take £45.00 off your payment to pay back your advances.</p></span>

<a href="#">Check what advances you've had and what you owe.</a>


      </th>
      <td class="govuk-table__cell" style=" text-align:right;" >-£45.00</td>



    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Debts and loan repayments

      <span> <p>Other DWP benefits recovery</p>
<p>Read more information about Universal Credit payments, including who to contact on the GOV.UK website. Search for 'find out about money taken off your Universal Credit payments'</p>

      </span>

      </th>
      <td class="govuk-table__cell" style=" text-align:right;" >-£65.00</td>

    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total deductions</th>
      <td class="govuk-table__cell" style="width:50px; text-align:right;">-£261.25</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Your total payment for this month is</th>
      <th scope="row" class="govuk-table__header" style="width:50px; text-align:right;">£552.87</th>
    </tr>
  </tbody>
</table>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<p class="govuk-heading-l">If your circumstances change</p>
<p>You must immediately report changes in your circumstances that
could affect your Universal Credit payments.</p>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--hidden">

<p class="govuk-heading-l">Help and support</p>
<p>The 'Managing your claim guide' gives more information about
Universal Credit payments.</p>

    </div>
  </div>

{% endblock %}
