{% extends "layout-main.html" %}

{% block pageTitle %}
  Service, there is a problem with the service
{% endblock %}

{% block beforeContent %}
<nav class="dwp-language-toggle" aria-label="change language" wiid="N89">
  <ul class="dwp-language-toggle__list" wiid="N91">
    <li lang="en" id="li-en" class="dwp-language-toggle__list-item" wiid="N93">English </li>
    <li lang="cy" id="li-cy" class="dwp-language-toggle__list-item" wiid="N96"><span class="govuk-visually-hidden" wiid="N97">Newid yr iaith ir Gymraeg</span><a href="?lng=cy" class="govuk-link" wiid="N99">Cymraeg</a></li>
  </ul>
</nav>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-three-quarters">




	   <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Sorry, there is a problem with the service</h1>


<p>Try again later.</p>

<p> If you need help and support about the money you owe or want to make a payment, call Debt Management.</p>


<p wiid="N154"><strong wiid="N155">If you live in Great Britain:</strong></p>

<ul class="govuk-list" wiid="N158">
<li wiid="N160">Telephone: 0800 158 5519</li>
<li wiid="N163">Textphone: 0800 916 0651</li>
<li wiid="N166">Monday to Friday, 8am to 7:30pm (closed on public holidays)</li>
</ul>

<p wiid="N170"><a href="https://www.gov.uk/call-charges" target="_blank" wiid="N171">Find out about call charges in Great Britain (opens in new tab)</a></p>


<p wiid="N137"><strong wiid="N138">If you live in Northern Ireland:</strong></p>

<ul class="govuk-list" wiid="N141">
<li wiid="N143">Telephone: 0800 587 1322</li>
<li wiid="N146">Textphone: 0800 587 2986 (for deaf or hard of hearing users and customers with speech difficulties)</li>
<li wiid="N149">Monday to Friday, 9am to 4pm (closed on public holidays)</li>
</ul>

<p wiid="N153"><a href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="_blank" wiid="N154">Find out about call charges in Northern Ireland (opens in new tab)</a></p>

<!--
<p>You can: </p>

<ul class="govuk-list govuk-list--bullet">
<li>find out more about more ways to Repay and manage benefit money you owe service. If you live in <a href="https://www.gov.uk/repay-manage-benefit-owed">Great Britain</a> or <a href="https://www.nidirect.gov.uk/services/repay-and-manage-benefit-money-you-owe">Nothern Ireland</a>.</li>
<li><a href="https://www.repay-manage-benefit-owed.service.gov.uk/sign-in-choice">  sign in to Repay and manage benefit money you owe account</a></li>
</ul> -->





    </div>
</div>

{% endblock %}
